<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div id="registration-form" class="form">
        <form class="lwa-form" [formGroup]="addDataEntry" (ngSubmit) = "onSubmit()">
          <div class="bg-primary heading">Edit Data Entry People Details</div>

     
   
          <div class="col-sm-6">
           <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('firstName')">
              <label>First Name :</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
              <app-field-error-display 
                [displayError]="isFieldValid('firstName')" 
                errorMsg="First name required.">
              </app-field-error-display>
            </div>
          </div>	
          <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('userName')">
              <label>User Name :</label>
              <input type="text" formControlName="userName" class="form-control" id="userName" placeholder="User Name" readonly>
              <app-field-error-display 
                [displayError]="isFieldValid('userName')" 
                errorMsg="User name required.">
              </app-field-error-display>
            </div>
          </div>
          <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('password')">
              <label>User Password :</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="User Password">
              <small >For ex. Ability@1234</small>
              <app-field-error-display 
                [displayError]="isFieldValid('password')"
                *ngIf="addDataEntry.get('password').errors?.pattern" 
                errorMsg="Password MUST contain at least 8 characters (one digit, one lower case, one upper case, and one special characters (!@#$%^&*))">
              </app-field-error-display>
            </div>
          </div>
          <div class="col-sm-12 no_padding">
            <div class="form-group">
              <label>Phone :</label>
              <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone">
            </div>
          </div>
           <div class="col-sm-12 no_padding">
            <div class="form-group">
              <label>Address :</label>
              <textarea formControlName="address" class="form-control" id="address" placeholder="Address"></textarea>
            </div>
          </div>
          </div>
          <div class="col-sm-6">
           <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('lastName')">
              <label>Last Name :</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name">
              <app-field-error-display 
              [displayError]="isFieldValid('lastName')" 
              errorMsg="Last name required.">
            </app-field-error-display>
            </div>
          </div>
         
          <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('email')">
              <label>Email :</label>
              <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email" readonly>
              <app-field-error-display 
              [displayError]="isFieldValid('email')" 
              errorMsg="Email required.">
            </app-field-error-display>
            </div>
          </div>
         
          <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('confirmPassword')">
              <label>Confirm Password :</label>
              <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password"  >
              <app-field-error-display 
                [displayError]="isFieldValid('confirmPassword')" 
                errorMsg="Passord did not match.">
              </app-field-error-display>
              
            </div>
          </div>
         
          <div class="col-sm-12 no_padding">
            <div class="form-group">
              <label>Website :</label>
              <input type="tel" formControlName="website" class="form-control" id="website" placeholder="Website"  >
            </div>
          </div>
          
          <div class="col-sm-12 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('specimenControlAccessValidCheck')">
              <label>Specimen Control Access :</label>
              <input type="hidden" formControlName="specimenControlAccessValidCheck" class="form-control " id="specimenControlAccessValidCheck">
              <div class="form_group_left">
                <input type="checkbox" formControlName="specimenControlAccess" class="form-control2" id="specimenControlAccess" (change)="specimenControlAccessChange()">
                <span>Add Specimen</span>
                <input type="checkbox" formControlName="specimenControlAccessQc" class="form-control2" id="specimenControlAccessQc" (change)="specimenControlAccessChange()"> 
                <span>QC Check</span>
              </div>
              <app-field-error-display 
                    [displayError]="isFieldValid('specimenControlAccessValidCheck')" 
                    errorMsg="Please select atleast one checkbox.">
              </app-field-error-display>
            </div>
          </div>	
          	
          </div>
         
        
          <div class="">
         

            
            <div class="col-md-1 no_padding col-sm-2 col-xs-3" style="margin-top:0;margin-left: 15px;">
              <a [routerLink]="['/data-entry-people-list']" class="btn btn-primary">Back</a>
            </div>
            <div class="col-md-2" align="left" style="margin-top:0px;">
               <input type="submit" class="btn btn-primary" formControlName="wp_submit" id="lwa_wp-submit" value="Add Details" tabindex="100">
            </div>
    
            <div class="clear">&nbsp;</div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
