<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4">
      </div>
      <div id="primary" class="content-area col-md-8">
        <h1>
          Clinician Report
        </h1>
        <form>
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  Physician Name:
                </label>
                <select name="physician_id" class="chzn-select" data-placeholder="Search Physician" id="physician"
                  style="display: none;">
                  <option value="">
                  </option>
                  <option value="48">Kevin OBrien DPM</option>
                  <option value="50">Homer Tuazon NP</option>
                  <option value="56">Ron Olsen DPM</option>
                  <option value="57">Richard Singer MD</option>
                  <option value="76122">Lindsy Allen DPM - Medoc</option>
                </select>
                <div class="chosen-container chosen-container-single" style="width: 265px;" title=""
                  id="physician_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>Search
                      Physician</span>
                    <div><b></b></div>
                  </a>
                  <div class="chosen-drop">
                    <div class="chosen-search"><input type="text" autocomplete="off"></div>
                    <ul class="chosen-results"></ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  From Date :
                </label>
                <input type="text" class="form-control datepicker hasDatepicker" name="from_date" id="from_date"
                  value="" placeholder="From date">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  To Date
                </label>
                <input type="text" class="form-control datepicker hasDatepicker" name="to_date" id="to_date" value=""
                  placeholder="To date">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 no_padding3">
                <!-- <input type="submit" name="search_filter" value="Search" id="submit" class="form-control"/> -->
                <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                    aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2">
                <a href="https://www.abilitydiagnostics.com/clinical-report" class="reset_button"><i
                    class="fa fa-repeat"></i>
                  Reset
                </a>
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix">
        </div>
        <p style="color: rgb(4, 179, 9); font-size: 16px; display: none;" id="successmsg"> </p>


      </div>
    </div>
  </div>
</div>