<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Report Generate</h1>
      <div class="row">
        <!-- <div class="col-md-3">
       
       <cm-pcr-left-menu></cm-pcr-left-menu>
       
       </div> -->
        <div class="col-md-12">
          <div class="table-container">
            <p *ngIf="!pdf_generated" style="float: right;">Search By Accessioning Number: <input type="text"
                (keyup)='search($event.target.value)'></p>
            <h4 *ngIf="!pdf_generated">Accessioning # Report Generate</h4>
            <h4 *ngIf="pdf_generated">Ready to Send Reports</h4>
            <div class="show_gen_pdf" *ngIf="!pdf_generated">
              
              <!--Process Report Button Start--------------->


                  <a *ngIf="!hideBtn && (specimen_id | slice:12 ) != 'W'; else elseProcessReport;" href="javascript:void(0);" class="blue-btn" (click)="processReport()"><i
                    class="fa fa-eye"></i> Process Report</a>
                 <ng-template #elseProcessReport>
                  <a  *ngIf="!hideBtn && (specimen_id | slice:12 ) == 'W' && (process_done_status | lowercase) == 'in house'; " href="javascript:void(0);" class="blue-btn" (click)="processReportWoundsInh()"><i
                    class="fa fa-eye"></i> Process Report </a>

                </ng-template> 
                  
              
              
              <!--Process Report Button End--------------->

              <form action="" method="post">
                <div class="table-container">
                  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
                    style="width: 100%;">
                    <thead>
                      <tr class="table_cls">
                        <th width="10%"><input type="checkbox" [checked]="toggle" (click)="toggleAll()">Check all?</th>
                        <th width="20%">
                          <mfDefaultSorter by="accessioning_num">Accessioning Number</mfDefaultSorter>
                        </th>
                        <th width="30%" *ngIf="(specimen_id | slice:12 ) === 'W' && process_done_status!='In House'">
                          Report Status
                        </th>
                        <th width="40%">
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody id="specimens_list">
                      <tr class="odd" *ngFor="let specimens of mf.data">
                        <td valign="middle">
                          <div><input type="checkbox" [checked]="specimens.checked" (change)="toggleItem(specimens)"
                              value="{{specimens.id}}"></div>
                        </td>
                        <td valign="middle">
                          <div>{{specimens.accessioning_num}}</div>
                        </td>
                        <td valign="middle" *ngIf="(specimen_id | slice:12 ) === 'W' && (specimens.process_done | lowercase) == 'partner company'">
                          <div *ngIf="specimens.wound_report_status === null || specimens.wound_report_status ===undefined || specimens.wound_report_status ===''; else checkedpart">
                            <label for="wpos"><input type="radio" id="wpos" name="wound_status" value="Positive" (change)="getWoundStatus($event)">
                            Positive</label><br>
                            <label for="wneg"><input type="radio" id="wneg" name="wound_status" value="Negative" (change)="getWoundStatus($event)">
                            Negative</label>
                          </div>
                          <ng-template #checkedpart>
                            <div>
                              <label for="wpos"><input type="radio" id="wpos" name="wound_status" value="Positive" [checked]="specimens.wound_report_status === 'Positive'" disabled>
                                Positive</label><br>
                                <label for="wneg"><input type="radio" id="wneg" name="wound_status" value="Negative" [checked]="specimens.wound_report_status === 'Negative'" disabled>
                                Negative</label>
                            </div>
                          </ng-template>
                        </td>
                        <td>
                          <div class="buttonList1"
                            *ngIf="(specimens.process_done | lowercase) !== 'partner company'; else elsepart; ">
                            <div 
                            *ngIf="(specimen_id | slice:12 )!= 'W' && (specimens.process_done | lowercase) != 'In House'; else wounds_in_house_report; ">
                            <a href="{{url}}view_pcr_report/{{specimens.accessioning_num}}" class="blue-btn"
                              target="_balnk"><i class="fa fa-eye"></i> View PCR Report</a>

                            <a href="javascript:void(0);" (click)="reviewProcessState(specimens.accessioning_num)"
                              class="blue-btn"><i class="fa fa-eye"></i> Process stage</a>
                            </div>
                            <ng-template #wounds_in_house_report>
                              <div>
                            <a href="{{url_wounds}}view_wounds_inhouse_report/{{specimens.accessioning_num}}" class="blue-btn"
                              target="_balnk"><i class="fa fa-eye"></i> View Wounds In House Report</a>
                              
                            </div>
                            </ng-template>
                          </div>
                          <ng-template #elsepart>
                            <div class="buttonList1"
                              *ngIf="specimens.report_pdf_name === null || specimens.report_pdf_name ===undefined || specimens.report_pdf_name ===''; else completepart">
                              <input #accNo type="hidden" name="files" id="jsonFile"
                                value="{{specimens.accessioning_num}}" />
                              <input #uploadFile type="file" name="files" id="jsonFile"
                                (change)="incomingfile($event)" />
                            </div>
                            <ng-template #completepart>
                              <div class="buttonList1">
                                <span style="color:green;font-weight: 600;">{{specimens.report_pdf_name}} has been
                                  uploaded.</span>
                              </div>
                            </ng-template>
                          </ng-template>
                        </td>
                      </tr>
                      <tr class="odd" *ngIf="no_data_status">
                        <td colspan="5">{{no_data}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="table_cls">
                        <th width="10%"><input type="checkbox" [checked]="toggle" (click)="toggleAll()">Check all?</th>
                        <th width="20%">Accessioning Number</th>
                        <th width="30%" *ngIf="(specimen_id | slice:12 ) === 'W' && process_done_status!='In House'">Report Status</th>
                        <th width="40%">Actions</th>
                      </tr>
                      <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>

                    </tfoot>
                  </table>
                  <div class="col-md-6 pull-right">
                    <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>
                        {{specimen_count}}</span></div>
                  </div>
                </div>
              </form>
            </div>

            <div class="show_gen_pdf" *ngIf="pdf_generated">
              <a *ngIf="!hideBtn" href="javascript:void(0);" class="blue-btn" (click)="cancelSubmit()"><i
                  class="fa fa-undo"></i> Back</a>
              <a *ngIf="!hideBtn" href="javascript:void(0);" class="blue-btn" (click)="sendEmailFax()"><i
                  class="fa fa-eye"></i> Send Email/Fax</a>
              <form action="" method="post">
                <div class="table-container">
                  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
                    style="width: 100%;">
                    <thead>
                      <tr class="table_cls">
                        <!-- <th width="30%"><input type="checkbox" [checked]="toggle" (click)="toggleAll()">Check all?</th> -->
                        <th width="30%">
                          <mfDefaultSorter by="accessioning_num">Accessioning Number</mfDefaultSorter>
                        </th>
                        <th width="20%">
                          <mfDefaultSorter by="phy_name">Physician Name</mfDefaultSorter>
                        </th>
                        <th width="20%">
                          <mfDefaultSorter by="fax_number">Fax Number</mfDefaultSorter>
                        </th>
                        <th width="50%">Report Link</th>
                      </tr>
                    </thead>
                    <tbody id="specimens_list">
                      <tr class="odd" *ngFor="let specimens of mf.data">
                        <td valign="middle">
                          <div>{{specimens.accessioning_num}}</div>
                        </td>
                        <td>
                          <div>{{specimens.phy_name}}</div>
                        </td>
                        <td>
                          <div>{{specimens.fax_number}}</div>
                        </td>
                        <td>
                          <div><a href="{{specimens.report_pdf_link}}" target="_balnk" class="blue-btn">View Generated
                              Report</a></div>
                        </td>
                      </tr>
                      <tr class="odd" *ngIf="no_data_status">
                        <td colspan="5">{{no_data}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="table_cls">
                        <!-- <th width="30%"><input type="checkbox" [checked]="toggle" (click)="toggleAll()">Check all?</th> -->
                        <th width="30%">Accessioning Number</th>
                        <th width="20%">Physician Name</th>
                        <th width="20%">Fax Number</th>
                        <th width="50%">Report Link</th>
                      </tr>
                      <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>

                    </tfoot>
                  </table>
                  <div class="col-md-6 pull-right">
                    <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>
                        {{data?.length}}</span></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>