.inner_banner {
    min-height: 350px;
    background-size: cover!important;
    margin-bottom: 30px;
}
.inner_banner .slider_cntent {
    padding: 0;
}

.slider_cntent {
    padding: 340px 0 0;
    max-width: 70%;
}
@media screen and (min-width: 61.5625em){
	
.site-main {
    margin-bottom: 0;
}
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.warnty {
    width: 100%;
    margin: 3% 0 0;
    padding-bottom: 25px;
    border-bottom: #ccc dotted 1px;
    float: left;
}
.warnty .img {
    width: 27%;
    float: left;
}
.srvs_hldr .srvs_img img, .warnty .img img {
    max-width: 100%;
}

img {
    height: auto;
}
.warnty h2 {
    width: 60%;
    float: left;
    margin: 0 0 0 3%;
    font: 700 26px Lato;
}
.content {
    width: 60%;
    float: left;
    margin: 1% 0 0 3%;
    font: 14px/17px Lato;
    color: #5c5c5c;
}
.warnty:last-child {
    border-bottom: 0;
}