<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <section id="text-2" class="ftr_tgline widget_text">
            <h2 class="widget-title" style="display:none;">Control Drug</h2>
            <div class="textwidget">
              <h2>
                Laboratory services for <i>Onychomycosis</i> (Nail Fungus),
                Wound and Covid testing.
              </h2>
            </div>
          </section>
        </div>

        <div class="col-sm-3">
          <div class="scl_cntct">
            <div class="contact_us">
              <a routerLinkActive="active" routerLink="/contact">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_btm">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <section id="text-5" class="ftr_left widget_text">
            <div class="textwidget">
              <!-- BEGIN LUXSCI HIPAA SEAL CODE --><a
                target="_blank"
                href="https://luxsci.com/perl/public/hipaa_seal.pl?verify=16664&amp;auth=$1$r933jtKV$8QCHzdEG3tioh04MHVGh//&amp;type=g&amp;d=23755&amp;c=Ability%20Diagnostics"
                ><img
                  src="{{ url }}assets/frontend/main_images/Compliant.jpg"
                  alt="LuxSci helps ensure HIPAA-Compliance for email and web services."
                  oncontextmenu="alert('Copying Prohibited by Law - Copyright held by Lux Scientiae, Incorporated'); return false;"
                  width="120"
                  height="90"
                  border="0"
              /></a>

              <div class="footer-txt">
                <a
                  style="font-size: 10px; text-decoration: none; color:#888; font-family: Arial, Helvetica,sans-serif"
                  href="https://luxsci.com/" target="_blank"
                >
                Secure Internet Services CLIA and CAP certified.</a
                >
              </div>
              <!-- END LUXSCI HIPAA SEAL CODE -->
            </div>
          </section>
        </div>

        <div class="col-sm-6">
          <section id="text-3" class="ftr_contact_info widget_text">
            <h2 class="widget-title" style="display:none;">
              Contact Info &amp; Copyright
            </h2>
            <div class="textwidget">
              <p>
                858 South Auto Mall Road, Suite 102, American Fork, UT 84003<br />

                Phone: 801-899-3828<br />
                Fax: 801-855-7548
              </p>
              <p class="cpy_right">
                Copyright © 2017-{{ cur_date | date: "yyyy" }} Ability
                Diagnostics - All Rights Reserved
              </p>
              <p class="cpy_right">
                
                CLIA : 46D2119553  CAP Number: 9497398  <a
                routerLink="/certificate"
              ><u>Certificates</u>
                </a>
              </p>
              
            </div>
          </section>
        </div>

        <div class="col-sm-3">
          <section id="widget_sp_image-2" class="ftr_logo widget_sp_image">
            <h2 class="widget-title" style="display:none;">logo</h2>
            <img
              alt="logo"
              class="attachment-full alignright"
              style="max-width: 100%;"
              src="{{ url }}assets/frontend/main_images/ftr_logo.png"
              width="292"
              height="46"
            />
          </section>
          <section id="text-7" class="ftr_logo widget_text">
            <div class="textwidget">
              <p>
                <a routerLinkActive="active" routerLink="/privacy"
                  >Privacy Policy</a
                >
              </p>
            </div>
          </section>
          <section id="text-6" class="ftr_logo widget_text">
            <div class="textwidget">
              <p>
                <a routerLink="/survey" rel="noopener"
                  ><button class="survey_button" type="button">
                    <i class="fa fa-ticket" aria-hidden="true"></i> Survey
                  </button></a
                >
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>
