<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Assign Well Stage</h1>
      <div class="row">
        <!-- <div class="col-md-3">
		 
				<cm-pcr-left-menu></cm-pcr-left-menu>
		 
		 </div> -->
        <div class="col-md-12">
          <form class="lwa-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="specimen_border">
              <div class="row">
                <!-- <div class="col-md-4 speciman_top specimen_bottom">
							<label>Physician Name:</label>
							<input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
							<mat-form-field class="example-full-width">
							<input type="text" placeholder="" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
							<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
									<mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
								<mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
									{{group}}
									
								</mat-option>
							</mat-optgroup>
							</mat-autocomplete>
							</mat-form-field>
						</div> -->

                <!-- <div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan Barcode:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Scan Specimen BarCode" formControlName="barcode">
						</div> -->
                <div class="col-md-4 speciman_top specimen_bottom">
                  <label>Barcode / Accessioning No.:</label>
                  <input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number"
                    formControlName="assessioning_num" />
                </div>
                <div class="col-md-4 speciman_top specimen_bottom">
                  <label>From Date:</label>
                  <!-- <input type="text" class="form-control datepicker" id="collection_date" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
                  <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                    formControlName="fromdate" id="datepicker" placeholder="MM/DD/YY" />
                </div>
                <div class="col-md-4 speciman_top specimen_bottom">
                  <label>To Date:</label>
                  <!-- <input type="text" class="form-control datepicker" id="collection_date" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
                  <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                    formControlName="todate" id="datepicker" placeholder="MM/DD/YY" />
                </div>
              </div>

              <div class="row">
                <div class="col-md-2 no_padding3">
                  <a href="javascript:void(0));" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>
                    Reset</a>
                </div>
                <div class="col-md-2 no_padding3">
                  <button type="submit"  name="search_filter" value="Search"  class="button_search form-control" tabindex="100"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>

                <!-- <div class="col-md-2 no_padding3">
							<input type="button" name="wp-submit" id="lwa_wp-submit" value="Load All" class="reset_button" (click)="load_all()">
						</div> -->

              </div>
            </div>
          </form>
          <div class="panel panel-primary ability_titl" *ngIf="show">
            <div class="panel-heading">
              <h3 class="panel-title"> Search Result </h3>
            </div>
            <div class="table-container">
              <div class="assign_well_btn">
                <input type="button" class="btn-blue-ass" name="Check" (click)="assignStages()" value="Assign"
                  id="Check">
                <input type="button" class="btn-blue-ass" name="Uncheck" (click)="unassignStages()" value="Unassign"
                  id="Uncheck">
                <input type="button" class="btn-blue-ass" name="Export" (click)="exportAsXLSX()" value="Export"
                  id="Export">
              </div>
              <form action="" method="post">
                <div class="table-container">
                  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
                    style="width: 100%;">
                    <thead>
                      <tr class="table_cls">
                        <th width="25%"><input type="checkbox" [checked]="toggle" (click)="toggleAll()">Check all?</th>
                        <th width="20%">
                          <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                        </th>
                        <th width="15%">
                          <mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter>
                        </th>
                        <th width="10%">Status</th>
                        <th width="30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="specimens_list">

                      <tr class="odd" *ngFor="let specimens of mf.data">
                        <td valign="middle" *ngIf="specimens.assign_button=='yes'">
                          <div><input type="checkbox" [checked]="specimens.checked" (change)="toggleItem(specimens)"
                              value="{{specimens.id}}"></div>
                        </td>
                        <td valign="middle" *ngIf="specimens.assign_button=='yes'">
                          <div>{{specimens.assessioning_num}}</div>
                        </td>
                        <td valign="middle" *ngIf="specimens.assign_button=='yes'">
                          <div>{{specimens.physician_name}}</div>
                        </td>
                        <td valign="middle" *ngIf="specimens.assign_button=='yes'">
                          <div>{{specimens.assign_status}}</div>
                        </td>
                        <td>
                          <div class="buttonList1">
                            <!-- <a class="blue-btn" routerLinkActive="active" routerLink="/view-specimen/{{specimens.id}}"><i class="fa fa-eye"></i> View</a>
										  <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i> Track</a>    -->
                            <button class="btn btn-primary listed_button" *ngIf="specimens.assign_button==='yes'"
                              (click)="assignStage(specimens.id)" [disabled]="specimens.assign_status==='Assign'">
                              Assign
                            </button>
                            <button class="btn btn-primary listed_button" *ngIf="specimens.assign_button==='yes'"
                              (click)="unassignStage(specimens.id)" [disabled]="specimens.assign_status==='Unassign'">
                              Unassign
                            </button>
                          </div>
                        </td>
                        <td colspan="5" *ngIf="specimens.assign_button!=='yes'">
                          <p> <strong>Accessioning Number:</strong>&nbsp; {{specimens.assessioning_num}}</p><span
                            style="color: #ff5e5e;font-weight: 600;">Previous stage is not complete</span>
                        </td>
                      </tr>
                      <tr class="odd" *ngIf="no_data_status">
                        <td colspan="5">{{no_data}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="table_cls">
                        <th width="10%"><input type="checkbox" onclick="toggle(this);">Check all?</th>
                        <th width="20%">Accessioning Number</th>
                        <th width="15%">Physician Name</th>
                        <th width="10%">Status</th>
                        <th width="95%">Actions</th>
                      </tr>
                      <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>

                    </tfoot>
                  </table>
                  <div class="col-md-6 pull-right">
                    <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>
                        {{specimens_list.specimen_count}}</span></div>
                  </div>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
