<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>Reference lab report</h1>

        <form class="lwa-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Partner Company :</label>
                <select class="form-control" formControlName="partners_company">
                  <option value="">Select a Company</option>
                  <option value="ability-diagnostics"
                    >Ability Diagnostics</option
                  >
                  <option
                    *ngFor="let partner of parrners_data"
                    value="{{ partner.partner_id }}"
                    >{{ partner.partner_name }}
                  </option>
                </select>
              </div>

              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number :</label>
                <input
                  type="text"
                  class="form-control"
                  id="assessioning_num"
                  formControlName="assessioning_num"
                  placeholder="Accessioning Number"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 exp">
                <label>From Date:</label>
                <input
                  type="text"
                  class="form-control"
                  bsDatepicker
                  [bsConfig]="datePickerConfig"
                  formControlName="from_date"
                  id="datepicker"
                  placeholder="MM/DD/YY"
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4 exp">
                <label>To Date:</label>
                <input
                  type="text"
                  class="form-control"
                  bsDatepicker
                  [bsConfig]="datePickerConfig"
                  formControlName="to_date"
                  id="datepicker"
                  placeholder="MM/DD/YY"
                  autocomplete="off"
                />
              </div>
              <div class="col-sm-7 exp">
                <label class="exdrp">Export Type :</label>
                <div class="form_group_left">
                  <div class="form_group_left">
                    <input
                      type="radio"
                      id="male"
                      formControlName="export_type"
                      class="form-control2"
                      value="create_date"
                    />
                    <span>Specimen Create Date</span>
                  </div>
                  <div class="form_group_left">
                    <input
                      type="radio"
                      id="female"
                      formControlName="export_type"
                      class="form-control2"
                      value="report_date"
                    />
                    <span>Report Generate Date</span>
                  </div>
                  <div class="form_group_left">
                    <input
                      type="radio"
                      id="female"
                      formControlName="export_type"
                      class="form-control2"
                      value="collection_date"
                    />
                    <span>Collection Date</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 no_padding3">
          
                <button type="submit" name="wp-submit"
                id="lwa_wp-submit" value="Search"  class="button_search" tabindex="100"><i
                  class="fa fa-search" aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2 no_padding3">
                <a
                  href="javascript:void(0);"
                  class="reset_button"
                  (click)="resetForm()"
                  ><i class="fa fa-repeat"></i> Reset</a
                >
              </div>
              <div class="col-md-2 no_padding3" *ngIf="mf.data != ''">
                <a
                  href="{{ pdf_link }}" 
                  class="reset_button"
                  target="_blank"
                >
                  Export To PDF
                  </a
                  >
              </div>
            </div>
          </div>
        </form>

        <form action="" method="post">
          <div class="table-container" id="htmlData">
            <table class="table">
              <tbody>
                <tr>
                  <th colspan="3">
                    <strong>Total Histo Report: </strong>
                    <span *ngIf="toal_histo == ''">0</span>
                    <span *ngIf="toal_histo != ''">{{ toal_histo }}</span>
                  </th>
                  <th colspan="3">
                    <strong>Total PCR Report: </strong>
                    <span *ngIf="toal_pcr == ''">0</span>
                    <span *ngIf="toal_pcr != ''">{{ toal_pcr }}</span>
                  </th>
                  <th colspan="3">
                    <strong>Total Test Report: </strong>
                    <span *ngIf="toal_histo_pcr == ''">0</span>
                    <span *ngIf="toal_histo_pcr != ''">{{
                      toal_histo_pcr
                    }}</span>
                  </th>
                </tr>
              </tbody>
            </table>
            <table
              class="table table-striped"
              [mfData]="data"
              #mf="mfDataTable"
              [mfRowsOnPage]="10"
              style="width: 100%;"
            >
              <thead>
                <tr class="table_cls">
                  <th width="3%">
                    <mfDefaultSorter by="assessioning_num"
                      >Physician Name</mfDefaultSorter
                    >
                  </th>
                  <th width="2%">
                    <mfDefaultSorter by="p_firstname"
                      >Accessioning Number</mfDefaultSorter
                    >
                  </th>
                  <th width="10%" colspan="2">
                    <mfDefaultSorter by="p_firstname"
                      >Specimen Type</mfDefaultSorter
                    >
                  </th>
                  <th width="3%">
                    <mfDefaultSorter by="collection_date"
                      >Specimen Added Date</mfDefaultSorter
                    >
                  </th>
                  <th width="3%">Lab</th>
                </tr>
              </thead>
              <tbody id="specimens_list" *ngIf="!no_data_status">
                <tr class="odd" *ngFor="let specimens of mf.data">
                  <td valign="middle">
                    <div>{{ specimens.physician_name }}</div>
                  </td>
                  <td valign="middle">
                    <div>{{ specimens.assessioning_num }}</div>
                  </td>
                  <td valign="middle">
                    <div *ngIf="specimens.histo_status != 'No HISTO Found'">
                      {{ specimens.histo_status }}
                    </div>
                    <div>
                      <p
                        *ngIf="specimens.histo_status == 'No HISTO Found'"
                        style="color:red"
                      >
                        {{ specimens.histo_status }}
                      </p>
                    </div>
                  </td>
                  <td valign="middle">
                    <div *ngIf="specimens.pcr_status != 'No PCR Found'">
                      {{ specimens.pcr_status }}
                    </div>
                    <div>
                      <p
                        *ngIf="specimens.pcr_status == 'No PCR Found'"
                        style="color:red"
                      >
                        {{ specimens.pcr_status }}
                      </p>
                    </div>
                  </td>
                  <td valign="middle">
                    <div>{{ specimens.report_date | date: "yyyy-MM-dd" }}</div>
                  </td>
                  <td>{{ specimens.partner_name }}</td>
                </tr>

                <tr class="odd">
                  <td colspan="5"></td>
                </tr>
              </tbody>
              <tbody id="display_pending_report_list" *ngIf="no_data_status">
                <tr id="no_data_found" class="text-center">
                  <td colspan="7">{{ no_data }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="table_cls">
                  <th>Physician Name</th>
                  <th>Accession Number</th>
                  <th colspan="2">Specimen Type</th>
                  <th>Specimen Added Date</th>
                  <th>Lab</th>
                </tr>
                <td colspan="7">
                  <mfBootstrapPaginator
                    [rowsOnPageSet]="[10, 25, 50, 100]"
                  ></mfBootstrapPaginator>
                </td>
              </tfoot>
            </table>

            <!-- <div class="col-md-12 pull-right">
              <div class="show_physician_list">
                <strong>Total Histo Report: </strong>
                <span *ngIf="toal_histo == ''">0</span>
                <span *ngIf="toal_histo != ''">{{ toal_histo }}</span>
              </div>
              <div class="col-md-12 pull-right">
                <div class="show_physician_list">
                  <strong>Total PCR Report: </strong>
                  <span *ngIf="toal_pcr == ''">0</span>
                  <span *ngIf="toal_pcr != ''">{{ toal_pcr }}</span>
                </div>
              </div>
              <div class="col-md-12 pull-right">
                <div class="show_physician_list">
                  <strong>Total Test Report: </strong>
                  <span *ngIf="toal_histo_pcr == ''">0</span>
                  <span *ngIf="toal_histo_pcr != ''">{{ toal_histo_pcr }}</span>
                </div>
              </div>
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
