.content-area {
  width: 100%;
  padding-left: 0;
}
#wpcrlResetPasswordSection h3,
.bg-primary,
.content-area h1,
.fv-form h3,
.woocommerce h2,
.woocommerce-checkout h3 {
  color: #444;
  font-weight: 400;
  font-size: 44px;
  font-family: "Yanone Kaffeesatz";
  margin: 0 0 20px;
  padding: 0 0 4px;
  text-transform: capitalize;
  background: 0 0;
}
#wpcrlResetPasswordSection h3:after,
.bg-primary:after,
.content-area h1:after,
.fv-form h3:after,
.woocommerce h2:after,
.woocommerce-checkout h3:after {
  display: block;
  margin: 5px 0 0;
  padding: 0;
  width: 9%;
  content: "";
  height: 3px;
  background: #34b6e6;
}
.specimen_border {
  border: 1px solid #ccc;
  padding: 17px 12px;
}
.specimen_bottom {
  margin-bottom: 15px;
}
.specimen_bottom label {
  color: #5c5c5c;
  float: left;
  font: 600 13px Lato;
  padding: 1.5% 1%;
  text-align: left;
  width: 46%;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #999;
  padding: 8px;
  font-size: 12px !important;
}
.speciman_top .form-control {
  width: 52%;
  margin-left: 0;
}
.no_padding3 {
  float: left;
  width: auto;
}
#btnForgotPassword,
#place_order,
.btn,
.button,
.reset_button,
.single_add_to_cart_button,
.wc-proceed-to-checkout .button,
input[type="reset"],
input[type="submit"],.button_search {
  width: auto;
  background: #34b6e6 !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: "Yanone Kaffeesatz" !important;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  height: 33px;
}
#search .col-md-2 a.reset_button,
.pagination ul li {
  display: inline-block;
}

#btnForgotPassword,
#place_order,
.btn,
.button,
.reset_button,
.single_add_to_cart_button,
.wc-proceed-to-checkout .button,
input[type="reset"],
input[type="submit"] {
  width: auto;
  background: #34b6e6 !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: "Yanone Kaffeesatz" !important;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  height: 33px;
}
#sus_specimen_list_wrapper #sus_specimen_list_length {
  width: 50%;
  float: left;
  margin: 26px 0;
  margin-bottom: 0;
  color: #333;
}
.dataTables_length label {
  width: 100%;
  margin-bottom: 20px;
}
label {
  width: 20%;
  font: 600 13px Lato;
  color: #5c5c5c;
}
#sus_specimen_list_wrapper #sus_specimen_list_filter {
  float: right;
  margin: 15px 0;
  margin-bottom: 0;
  color: #333;
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
}
.table_cls {
  background: #34b6e6;
}
/*table.dataTable thead .sorting_asc {
    background-image: url(sort_asc.png);
}*/
.table_cls th {
  color: #fff;
  font: 14px Lato;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.row-border tbody tr:first-child th {
  border-top: none;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
caption,
td,
th {
  font-weight: 400;
  text-align: left;
}
td,
th {
  border-width: 0 1px 1px 0;
}

pre,
table,
td,
th {
  border: 1px solid #d1d1d1;
}
.blue-btn {
  background: #34b6e6;
  height: 33px;
  display: inline-block;
  color: #fff;
  padding: 0px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 17px;
  font-family: "Yanone Kaffeesatz";
  line-height: 35px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table > tbody > tr > td {
  padding: 8px 8px 0;
}
table.dataTable tfoot th,
table.dataTable thead th {
  font-weight: 700;
}
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
  color: #333;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
  color: #333;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: 0 0;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #cacaca;
  background-color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fff),
    color-stop(100%, #dcdcdc)
  );
  background: -webkit-linear-gradient(top, #fff 0, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: #333 !important;
  border: 1px solid transparent;
}
.show_physician_list {
  font-family: arial;
  font-size: 16px;
  margin: 0 0 0.75em;
  padding: 0;
  text-align: right;
}
.show_physician_list span {
  color: #34b6e6;
  font-size: 18px;
}
.blue-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
.form_group_left {
  float: left;
  margin-right: 10px;
}
.exp {
  margin-bottom: 15px;
}
.exp label {
  color: #5c5c5c;
  float: left;
  font: 600 13px Lato;
  padding: 2px 3px;
  text-align: left;
  width: 35%;
}
.exp .exdrp {
  width: 25%;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0;
}
.exp .form-control {
  width: 65%;
  margin-left: 0;
}
.form_group_left {
  float: left;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  .modal-dialog {
    width: 900px !important;
    margin: 30px auto;
  }
}
