<div *ngIf="title === 'track'" id="track_acc">
  <div class="col-md-12 close-btn">
    <span>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">Close</span>
      </button>
    </span> 
  </div>
  <div class="histry-modal" id="myModal" role="dialog" data-backdrop="static" *ngIf="acc_no">
    <div class="modal-dialog modal-lg">
      <div class="">
        <div class="acc_no"> <span>Accessioning Number :</span> {{postsArray.acc_no}}</div>
        <div class="modal-body">
            <div class="histo" *ngIf="histo_modal">
            <h3>Histo Specimen</h3>
            <div class="track-list">
              <ul>
                <li class="active">Specimen Created</li>
                <li class="{{postsArray.class1}}">QC Confirmation</li>
                      
                <li (mouseenter) ="mouseEnter()" (mouseleave) ="mouseLeave()" class="spec {{postsArray.class2}}">Specimen Stages<i class="fa fa-caret-down" aria-hidden="true"></i></li>
                <li class="{{postsArray.class3}}">Pending Specimen</li>
                <li class="{{postsArray.class4}}">Pending Report</li>
                <li class="{{postsArray.class5}}">Submitted Report</li>
              </ul>
              <div class="tooltiptext" *ngIf="mouseEnterVal">
                <div class="track-list">
                  <ul>
                    <li class="{{postsArray.histo_stage1}}">Delivery to lab</li>
                    <li class="{{postsArray.histo_stage2}}">Gross</li>
                    <li class="{{postsArray.histo_stage3}}">Microtomy</li>
                    <li class="{{postsArray.histo_stage4}}">QC Check</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         <div class="pcr" *ngIf="pcr_modal">
            <h3>PCR Specimen</h3>
            <div class="track-list">
              <ul>
                <li class="active">Specimen Created</li>
                <li class="{{postsArray.pcr_class1}}">QC Confirmation</li>
                         
                <li (mouseenter) ="mouseEnterNew()" (mouseleave) ="mouseLeaveNew()" class="spec1  {{postsArray.pcr_class2}}">PCR Stages<i class="fa fa-caret-down" aria-hidden="true"></i></li>
                <li class="{{postsArray.pcr_class3_4}}">Report Generate</li>
                <li class="{{postsArray.pcr_class3_4}}">Submitted Report</li>
              </ul>
              <div class="tooltiptext1" *ngIf="mouseEnterNewVal">
                <div class="track-list">
                  <ul>
                    <li class="{{postsArray.pcr_stage1}}">Delivery To Extraction</li>
                    <!-- <li class="{{postsArray.pcr_stage2}}">Delivery To PCR</li> -->
                    <li class="{{postsArray.pcr_stage3}}">Assign Well Stage</li>
                    <li class="{{postsArray.pcr_stage4}}">Data Analysis</li>
                    <!-- <li class="{{postsArray.pcr_class3_4}}">Manual Review</li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>