<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4">
      </div>
      <div id="primary" class="content-area col-md-8">
        <h1>
          Clinician Report
        </h1>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  Physician Name:
                </label>
                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" aria-label="Number" matInput formControlName="physician_name"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                      <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}

                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
                <div id="physician_chosen_error_msg" style=" color: red; display: block;">
                  <div *ngIf="searchForm.get('physician_id').errors?.required else elseBlock">
                    <app-field-error-display [displayError]="isFieldValid('physician_id')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </div>
                  <ng-template #elseBlock>
                    <app-field-error-display [displayError]="isFieldValid('physician_name')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </ng-template>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  From Date:
                </label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Date" formControlName="from_date" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  To Date:
                </label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" placeholder="To Date"
                  formControlName="to_date" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 no_padding3">
                <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                    aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2">
                <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>
                  Reset
                </a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix">
        </div>
        <div class="total-pnm" *ngIf="msg">
          <div class="pname">
            <div class="tot-pname">
              <div class="pname-inner"> <b>Physician Name:</b> {{postsArray.name}}</div>
              <div class="pname-inner"> <b> Physician Address:</b> {{postsArray.address}} </div>
            </div>
            <div class="clear"></div>
            <div class="tot-pname">
              <div class="pname-inner"> <b>Date Range: </b> {{postsArray.from_date}} to {{postsArray.to_date}} </div>

              <div class="pname-inner"> <b> Total Specimens:</b> {{postsArray.count}}</div>
            </div>
          </div>
        </div>

        <div class="total-pnm" *ngIf="msg">
          <div class="row">
            <form [formGroup]="pdfForm"
              (ngSubmit)="pdfonSubmit(postsArray.phy_id,postsArray.from_date,postsArray.to_date)">

              <div class="col-md-7">
                <label style="width: 20%;color: #000;">Choose Graph</label>
                <input #uploadFile name="files" accept="image/*" type="file" (change)="incomingfile($event)">
                <br>


                <div style="width:100%;display: flex;">
                  <div class="pname-inner cm-txt" style="width: 20%;float: left;"> <b>Comment:</b>
                  </div>

                  <div style="width:80%;float: left;">
                    <textarea style="width: 100%;" formControlName="comment" rows="5" cols="90" required=""></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <div style="margin-top: 45px;">
                  <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i
                      class="fa fa-search" aria-hidden="true"></i> Submit</button>
                </div>
              </div>

            </form>
            <div style="width: 15%;float: right;">

              <a href="https://www.abilitydiagnostics.com/abadmin/api/ClinicalPdf/generate_bar_graph/{{postsArray.phy_id}}/{{postsArray.from_date}}/{{postsArray.to_date}}"
                target="_blank" class="btn btn-info">Generate Bar Graph</a>

            </div>

          </div>
        </div>

        <div class="table-container" *ngIf="msg">
          <div id="clinic_report_wrapper" class="dataTables_wrapper">

            <table class="table table-striped dataTable" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
              style="width: 100%;">
              <thead>
                <tr class="users_list" role="row">
                  <th rowspan="1" colspan="1" width="14%">
                    <mfDefaultSorter by="patient_name">Patient Name</mfDefaultSorter>
                  </th>
                  <th rowspan="1" colspan="1" width="16%">
                    <mfDefaultSorter by="hdor">Report Date</mfDefaultSorter>
                  </th>
                  <th rowspan="1" colspan="1" width="13%">
                    <mfDefaultSorter by="acc_no">Accessioning Number</mfDefaultSorter>
                  </th>
                  <th rowspan="1" colspan="1" width="10%">Specimen Size</th>
                  <th rowspan="1" colspan="1" width="20%">Histo DX</th>
                  <th rowspan="1" colspan="1" width="12%">
                    <mfDefaultSorter by="pcr">PCR</mfDefaultSorter>
                  </th>
                  <th rowspan="1" colspan="1" width="10%">
                    <mfDefaultSorter by="rese">Methicillin Resistance</mfDefaultSorter>
                  </th>
                </tr>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 149px;" aria-sort="ascending" aria-label=": activate to sort column descending"
                    width="14%"></th>
                  <th class="sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 170px;" aria-label=": activate to sort column ascending" width="14%"></th>
                  <th class="sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 138px;" aria-label=": activate to sort column ascending" width="15%"></th>
                  <th class="sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 106px;" aria-label=": activate to sort column ascending" width="10%"></th>
                  <th class="histo-hd sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 228px;" width="20%">
                    <table class="histo-tbl">
                      <tbody>
                        <tr>
                          <td>Fungus</td>
                          <td>Yeast</td>
                          <td>Bacteria</td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 128px;" aria-label=": activate to sort column ascending" width="15%"></th>
                  <th class="sorting" tabindex="0" aria-controls="clinic_report" rowspan="1" colspan="1"
                    style="width: 106px;" aria-label=": activate to sort column ascending" width="10%"></th>
                </tr>
              </thead>


              <tr id="user" role="row" class="odd" *ngFor="let specimens of mf.data">

                <td class="sorting_1" valign="middle">
                  <div>{{specimens.patient_name}}</div>
                </td>
                <td valign="middle">
                  <div>
                    {{specimens.hdor}}
                    {{specimens.pdor}}
                  </div>
                </td>
                <td valign="middle">
                  <div> {{specimens.acc_no}}</div>
                </td>

                <td valign="middle">
                  <div>
                    {{specimens.size}}
                    {{specimens.agg}}
                  </div>
                </td>

                <td class="histo-val" valign="middle">
                  <table class="value-tabl">
                    <tbody>
                      <tr>
                        <td>
                          {{specimens.fungus}}
                        </td>
                        <td>
                          {{specimens.yeast}}
                        </td>
                        <td>
                          {{specimens.bacteria}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
                <td valign="middle">
                  <div [innerHTML]=specimens.pcr>

                  </div>
                </td>
                <td valign="middle">
                  <div>
                    {{specimens.rese}}
                  </div>
                </td>
              </tr>
              </tbody>
              <tfoot>
                <tr class="users_list">
                  <th rowspan="1" colspan="1" width="14%">Patient Name</th>
                  <th rowspan="1" colspan="1" width="16%">Report Date</th>
                  <th rowspan="1" colspan="1" width="13%">Accessioning Number</th>
                  <th rowspan="1" colspan="1" width="10%">Specimen Size</th>
                  <th rowspan="1" colspan="1" width="20%">Histo DX</th>
                  <th rowspan="1" colspan="1" width="12%">PCR</th>
                  <th rowspan="1" colspan="1" width="10%">Methicillin Resistance</th>
                </tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>

              </tfoot>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>