.content-area {
    width: 100%;
    padding-left: 0;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.flex-style .specimen_bottom {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.flex-style .speciman_top.specimen_bottom > input, .flex-style .speciman_top.specimen_bottom > select {
    margin-right: 5px;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
    width: 53%;
}
.fields_in {
    width: 150px;
}
.no_padding3 {
    float: left;
    width: auto;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family:"Yanone Kaffeesatz"!important; 
    border-radius: 2px;
    border: 0;
    padding: 4px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}
.specimen_bottom {
    margin-bottom: 15px;
}
.total-pnm {
    display: flex;
    flex-flow: column;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.pname {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
input.mat-input-element{width: 100% !important;}
.tot-pname .pname-inner {
    width: 50%;
    float: left;
}
b, optgroup, strong {
    font-weight: 700;
}
.clear {
    clear: both;
}

.clear, .n_clear {
    clear: both;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}

.filter_value, label {
    float: left;
    text-align: left;
}
.cm-txt {
    font-size: 13px;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.order_tab, .table_bg, .users_list {
    background: #34B6E6;
}
.users_list th {
    color: #fff;
    font: 14px Lato!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}
.histo-tbl {
    margin-bottom: 0;
    border-bottom: none;
}
.histo-tbl tr td {
    border-bottom: none;
    background: #eee;
    padding: 10px 12px;
    border: 1px solid #ccc;
}
.value-tabl {
    margin-bottom: 0;
}
.value-tabl tr td {
    border-bottom: none;
    border: none;
    padding: 10px 12px;
    width: 70px;
}
.pname-inner
{
    font-family: 'Lato', sans-serif;
}
.analysis_right {
    margin-right: 12px;
}