<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>Short Code Analytics</h1>
        <form method="post" action="" name="search" id="search">
          <div class="specimen_border flex-style">
            <div style="font-size: 20px; margin-top: -20px; margin-bottom: 10px;">Search and get Result</div>
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Report From Date:</label>
                <input type="text" class="datepicker hasDatepicker" name="from_create_date" id="from_create_date"
                  value="" placeholder="From Date">

              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Report To Date:</label>
                <input type="text" class="datepicker hasDatepicker" name="to_create_date" id="to_create_date" value=""
                  placeholder="To Date">
                <input type="checkbox" name="report_genarate_date">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Report Generate Code:</label>
                <input type="text" name="report_code" id="report_code" value="" placeholder="Enter Report Code">
                <input type="checkbox" name="diagnostic_short_code" value="Diagnostic short code">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Physician Name:</label>
                <select class="chzn-select" name="physician_id" data-placeholder="Search Physician" id="physician_det"
                  style="display: none;">
                  <option value=""></option>
                  <option value="48">Kevin AAA</option>
                  <option value="50">Homer AAA</option>
                  <option value="56">Ron AAA</option>
                  <option value="57">Richard AAA</option>
                  <option value="58">David AAA</option>
                  <option value="59">Craig AAA</option>
                  <option value="76">Andy Anderson</option>
                  <option value="89">Brittany AAA</option>
                  <option value="90">Jeffrey AAA</option>
                  <option value="104">Jeremy AAA</option>
                  <option value="106">Simon AAA</option>
                  <option value="109">Antonius AAA</option>
                  <option value="110">David AAA</option>
                  <option value="111">Darick AAA</option>
                  <option value="114">David AAA</option>
                  <option value="118">Dustin AAA</option>
                  <option value="123">David AAA</option>
                  <option value="125"> </option>
                  <option value="129">Albert AAA</option>
                  <option value="130">Steven AAA</option>
                  <option value="135">Jorge AAA</option>
                  <option value="137">David AAA</option>
                  <option value="138">Manish AAA</option>
                  <option value="141">Darren Wirtz</option>
                  <option value="234">David AAA</option>
                  <option value="239">Tracy AAA</option>
                  <option value="262">Scott AAA</option>
                  <option value="280">David AAA</option>
                  <option value="291">Kirk AAA</option>
                  <option value="321">Sue AAA</option>
                  <option value="401">Christine AAA</option>
                  <option value="410">Rick AAA</option>
                  <option value="420">Wesley AAA</option>
                  <option value="422">Sherry AAA</option>
                  <option value="447">Thomas AAA</option>
                  <option value="480">Shashikant AAA</option>
                  <option value="486">Reginald AAA</option>
                  <option value="489">John AAA</option>
                  <option value="490">Randy AAA</option>
                  <option value="497">Brent AAA</option>
                  <option value="498">Carla AAA</option>
                  <option value="499">Eddie AAA</option>
                  <option value="503">James AAA</option>
                  <option value="515">Peter AAA</option>
                  <option value="516">John AAA</option>
                  <option value="517">Douglas AAA</option>
                  <option value="518">Philip AAA</option>
                  <option value="519">Gerald AAA</option>
                  <option value="525">Tegan AAA</option>
                  <option value="530">Greg Cook</option>
                  <option value="536">Robert AAA</option>
                  <option value="537">Eric AAA</option>
                  <option value="539">Michael AAA</option>
                  <option value="545">Chris AAA</option>
                  <option value="546">Sousou AAA</option>
                  <option value="547">Alvin AAA</option>
                  <option value="554">Stacey AAA</option>
                  <option value="572">Reza Mobarak DPM</option>
                  <option value="575">Ronald AAA</option>
                  <option value="577">Ughanmwan AAA</option>
                  <option value="584">Stuart AAA</option>
                  <option value="590">Samuel AAA</option>
                  <option value="600">April AAA</option>
                  <option value="601">James AAA</option>
                  <option value="602">Rabin AAA</option>
                  <option value="604">Mustafa AAA</option>
                  <option value="605">Felix Amoa AAA</option>
                  <option value="616">Marisenda AAA</option>
                  <option value="618">Jean AAA</option>
                  <option value="624">Ingrid AAA</option>
                  <option value="631">Raymond AAA</option>
                  <option value="633">Keven AAA</option>
                  <option value="634">Alex AAA</option>
                  <option value="646">Mark AAA</option>
                  <option value="657">Zachariah AAA</option>
                  <option value="662">Cynthia AAA</option>
                  <option value="667">Keith AAA</option>
                  <option value="671">Steven AAA</option>
                  <option value="674">Yitzchok AAA</option>
                  <option value="675">Samuel AAA</option>
                  <option value="676">Anthony AAA</option>
                  <option value="679">Troy AAA</option>
                  <option value="680">Bonnie AAA</option>
                  <option value="691">Thomas AAA</option>
                  <option value="696">Monica AAA</option>
                  <option value="699">Brett AAA</option>
                  <option value="700">Nadia AAA</option>
                  <option value="703">Joon AAA</option>
                  <option value="704">Munketh AAA</option>
                  <option value="705">William AAA</option>
                  <option value="706">Germaine AAA</option>
                  <option value="711">Jeremias AAA</option>
                  <option value="716">John AAA</option>
                  <option value="719">Lawrence AAA</option>
                  <option value="737">Jimmy AAA</option>
                  <option value="738">Damon AAA</option>
                  <option value="739">Robert AAA</option>
                  <option value="750">Clark AAA</option>
                  <option value="754">Audrey AAA</option>
                  <option value="762">Jeannine AAA</option>
                  <option value="765">Christopher AAA</option>
                  <option value="766">JoAnn AAA</option>
                  <option value="767">Geoffrey AAA</option>
                  <option value="774">Noel AAA</option>
                  <option value="781">Pamela AAA</option>
                  <option value="787">Ralph AAA</option>
                  <option value="789">Jamie AAA</option>
                  <option value="74690">Brian AAA</option>
                  <option value="74692">Vincent AAA</option>
                  <option value="74704">Dee AAA</option>
                  <option value="74712">Rajesh AAA</option>
                  <option value="74714">Gina AAA</option>
                  <option value="74716">Mark AAA</option>
                  <option value="74717">Joseph AAA</option>
                  <option value="74719">Ed AAA</option>
                  <option value="74720">J Armando AAA</option>
                  <option value="74721">Orestes AAA</option>
                  <option value="74724">Jeffery AAA</option>
                  <option value="74725">Sriram AAA</option>
                  <option value="74727">Jaryl AAA</option>
                  <option value="74729">Louis AAA</option>
                  <option value="74732">Leticia AAA</option>
                  <option value="74733">Regina AAA</option>
                  <option value="74736">Linda AAA</option>
                  <option value="74739">Harold AAA</option>
                  <option value="74747">Keyvan AAA</option>
                  <option value="74748">Andrew AAA</option>
                  <option value="74753">Joseph AAA</option>
                  <option value="74754">Augustin AAA</option>
                  <option value="74755">Liana AAA</option>
                  <option value="74760">Aarthi AAA</option>
                  <option value="74761">Judi AAA</option>
                  <option value="74762">Lawrence AAA</option>
                  <option value="74767">John AAA</option>
                  <option value="74775">Karen AAA</option>
                  <option value="74779">Orlando AAA</option>
                  <option value="74788">Matt AAA</option>
                  <option value="74789">Brent AAA</option>
                  <option value="74790">Pedro AAA</option>
                  <option value="74791">R Augustin AAA</option>
                  <option value="74793">Melineh AAA</option>
                  <option value="74794">Michael AAA</option>
                  <option value="74797">Sam AAA</option>
                  <option value="74798">Kim AAA</option>
                  <option value="74800">Aryan AAA</option>
                  <option value="74801">Leo AAA</option>
                  <option value="74803">Wendy AAA</option>
                  <option value="74805">Erin AAA</option>
                  <option value="74808">Arlin AAA</option>
                  <option value="74810">Lisa AAA</option>
                  <option value="74818">Brian AAA</option>
                  <option value="74838">Anjali AAA</option>
                  <option value="74840">Thien AAA</option>
                  <option value="74841">William AAA</option>
                  <option value="74843">Kevin AAA</option>
                  <option value="74846">Victoria AAA</option>
                  <option value="74850">Frank AAA</option>
                  <option value="74856">Ali AAA</option>
                  <option value="74869">Alexander AAA</option>
                  <option value="74873">Thuy AAA</option>
                  <option value="74874">Chandra AAA</option>
                  <option value="74888">David AAA</option>
                  <option value="74892">James AAA</option>
                  <option value="74897">Benejamin AAA</option>
                  <option value="74902">Humberto AAA</option>
                  <option value="74903">Robert AAA</option>
                  <option value="74907">Marco AAA</option>
                  <option value="74909">Cheryl AAA</option>
                  <option value="74910">LaConya AAA</option>
                  <option value="74912">Manish AAA</option>
                  <option value="74923">Binoy AAA</option>
                  <option value="74924">Katherine AAA</option>
                  <option value="74936">Craig AAA</option>
                  <option value="74938">Jared AAA</option>
                  <option value="74939">Robert AAA</option>
                  <option value="74941">Pavel AAA</option>
                  <option value="74944">Ismail AAA</option>
                  <option value="74946">Lee Roy AAA</option>
                  <option value="74959">Felipe AAA</option>
                  <option value="74961">Marilyn AAA</option>
                  <option value="74964">Derik AAA</option>
                  <option value="74968">Tracy AAA</option>
                  <option value="74969">Jimmy AAA</option>
                  <option value="74975">Jacob AAA</option>
                  <option value="74978">Francisco AAA</option>
                  <option value="74982">Jonathan AAA</option>
                  <option value="74983">Julian AAA</option>
                  <option value="74997">Jagpreet AAA</option>
                  <option value="75001">Kelly AAA</option>
                  <option value="75006">Babajide AAA</option>
                  <option value="75007">Rakiya AAA</option>
                  <option value="75015">Eldridge AAA</option>
                  <option value="75016">Ruben AAA</option>
                  <option value="75017">Harriet AAA</option>
                  <option value="75019">Joseph AAA</option>
                  <option value="75027">Tom AAA</option>
                  <option value="75029">Lawrence AAA</option>
                  <option value="75030">Ralston AAA</option>
                  <option value="75031">Cierra AAA</option>
                  <option value="75032">David AAA</option>
                  <option value="75033">Lawrence AAA</option>
                  <option value="75035">Jamal AAA</option>
                  <option value="75043">Maria AAA</option>
                  <option value="75044">Mark AAA</option>
                  <option value="75046">Lida AAA</option>
                  <option value="75054">Cesar AAA</option>
                  <option value="75055">Jan AAA</option>
                  <option value="75060">Sean AAA</option>
                  <option value="75062">Larry AAA</option>
                  <option value="75065">Samuel AAA</option>
                  <option value="75067">John AAA</option>
                  <option value="75069">Joseph AAA</option>
                  <option value="75070">Mark AAA</option>
                  <option value="75079">Vadim AAA</option>
                  <option value="75086">Chanel AAA</option>
                  <option value="75087">Renato AAA</option>
                  <option value="75088">Manuel AAA</option>
                  <option value="75089">Stephanie AAA</option>
                  <option value="75095">Michael AAA</option>
                  <option value="75098">Christian AAA</option>
                  <option value="75102">Juan AAA</option>
                  <option value="75103">Carlos AAA</option>
                  <option value="75105">Carlos AAA</option>
                  <option value="75108">Lee AAA</option>
                  <option value="75109">Majid AAA</option>
                  <option value="75110">Helen AAA</option>
                  <option value="75137">Charles AAA</option>
                  <option value="75143">Perry AAA</option>
                  <option value="75165">Ricardo AAA</option>
                  <option value="75170">Miguel AAA</option>
                  <option value="75172">Huy Q AAA</option>
                  <option value="75182">Oghale AAA</option>
                  <option value="75186">Andronica AAA</option>
                  <option value="75190">Rick AAA</option>
                  <option value="75194">Mohammed AAA</option>
                  <option value="75196">Helen AAA</option>
                  <option value="75204">Monica AAA</option>
                  <option value="75213">Husna AAA</option>
                  <option value="75215">Gerard AAA</option>
                  <option value="75224">James AAA</option>
                  <option value="75225">Ivelisse AAA</option>
                  <option value="75231">Onya AAA</option>
                  <option value="75233">Debra AAA</option>
                  <option value="75235">Chinwe AAA</option>
                  <option value="75240">Martin AAA</option>
                  <option value="75242">Gregorio AAA</option>
                  <option value="75245">Neal AAA</option>
                  <option value="75253">Randall AAA</option>
                  <option value="75256">Robert AAA</option>
                  <option value="75257">Ashley AAA</option>
                  <option value="75258">Dawn AAA</option>
                  <option value="75261">Tyreen AAA</option>
                  <option value="75265">Michael AAA</option>
                  <option value="75270">Kanakadurga AAA</option>
                  <option value="75273">Ashley AAA</option>
                  <option value="75285">Anna AAA</option>
                  <option value="75291">Vincent AAA</option>
                  <option value="75292">Barry AAA</option>
                  <option value="75303">Collin AAA</option>
                  <option value="75321">Sheri AAA</option>
                  <option value="75322">Tin AAA</option>
                  <option value="75325">Osama AAA</option>
                  <option value="75326">Bradley AAA</option>
                  <option value="75327">Alberto AAA</option>
                  <option value="75333">Stratis AAA</option>
                  <option value="75334">Bradley AAA</option>
                  <option value="75335">Alberto AAA</option>
                  <option value="75337">James AAA</option>
                  <option value="75338">John AAA</option>
                  <option value="75340">Sharon AAA</option>
                  <option value="75341">Shawn AAA</option>
                  <option value="75342">Brittani AAA</option>
                  <option value="75344">Katharine AAA</option>
                  <option value="75349">Robert AAA</option>
                  <option value="75353">Barbara AAA</option>
                  <option value="75354">Daniel AAA</option>
                  <option value="75356">Shayne AAA</option>
                  <option value="75357">Adam AAA</option>
                  <option value="75358">Jennifer AAA</option>
                  <option value="75360">Eric AAA</option>
                  <option value="75361">Bridget AAA</option>
                  <option value="75362">Taylor AAA</option>
                  <option value="75367">Amina AAA</option>
                  <option value="75368">Fred AAA</option>
                  <option value="75369">Philip AAA</option>
                  <option value="75373">Olayinka AAA</option>
                  <option value="75374">Tegan AAA</option>
                  <option value="75375">Alejandro AAA</option>
                  <option value="75381">Dwayne AAA</option>
                  <option value="75383">Dharmesh AAA</option>
                  <option value="75391">David AAA</option>
                  <option value="75397">Ivelisse AAA</option>
                  <option value="75402">Janatte AAA</option>
                  <option value="75404">Stephen AAA</option>
                  <option value="75405">Elizabeth AAA</option>
                  <option value="75406">Edith AAA</option>
                  <option value="75410">F Christopher AAA</option>
                  <option value="75411">Tu AAA</option>
                  <option value="75418">Jeff AAA</option>
                  <option value="75420">Marc AAA</option>
                  <option value="75421">Russell AAA</option>
                  <option value="75422">Mitchell AAA</option>
                  <option value="75423">Mary Caroline AAA</option>
                  <option value="75424">Janie AAA</option>
                  <option value="75425">Michael AAA</option>
                  <option value="75428">Ritha AAA</option>
                  <option value="75431">Jessa AAA</option>
                  <option value="75435">Philip AAA</option>
                  <option value="75436">Christopher AAA</option>
                  <option value="75439">Tommie AAA</option>
                  <option value="75440">Steven AAA</option>
                  <option value="75441">Damien AAA</option>
                  <option value="75442">Carl AAA</option>
                  <option value="75443">Lesley AAA</option>
                  <option value="75453">Marian AAA</option>
                  <option value="75460">Bhavesh AAA</option>
                  <option value="75465">Ronica AAA</option>
                  <option value="75466">Todd AAA</option>
                  <option value="75469">Leslie AAA</option>
                  <option value="75475">Pedro AAA</option>
                  <option value="75479">John AAA</option>
                  <option value="75480">Craig Aaronson DPM</option>
                  <option value="75483">David AAA</option>
                  <option value="75484">David AAA</option>
                  <option value="75485">Hector AAA</option>
                  <option value="75496">Michael AAA</option>
                  <option value="75497">Barbara AAA</option>
                  <option value="75498">David AAA</option>
                  <option value="75505">Amberly Ben</option>
                  <option value="75506">Timothy AAA</option>
                  <option value="75512">Jennifer AAA</option>
                  <option value="75515">Frank AAA</option>
                  <option value="75518">Howard AAA</option>
                  <option value="75520">Mary AAA</option>
                  <option value="75522">Joan AAA</option>
                  <option value="75523">John AAA</option>
                  <option value="75524">Nomita AAA</option>
                  <option value="75539">Albert AAA</option>
                  <option value="75540">Chantelle AAA</option>
                  <option value="75541">Jill AAA</option>
                  <option value="75542">M Shaun AAA</option>
                  <option value="75548">Javier AAA</option>
                  <option value="75552">Gary AAA</option>
                  <option value="75561">Jack AAA</option>
                  <option value="75562">Raymond AAA</option>
                  <option value="75563">Jack AAA</option>
                  <option value="75564">Raymond AAA</option>
                  <option value="75565">Graciela AAA</option>
                  <option value="75566">Homero AAA</option>
                  <option value="75567">Salvador AAA</option>
                  <option value="75569">Brandon AAA</option>
                  <option value="75570">Jeffrey AAA</option>
                  <option value="75571">Yelena AAA</option>
                  <option value="75572">Craig AAA</option>
                  <option value="75573">Victor AAA</option>
                  <option value="75575">Jeffrey AAA</option>
                  <option value="75578">Michael AAA</option>
                  <option value="75584">Brent AAA</option>
                  <option value="75588">Kyler AAA</option>
                  <option value="75590">Jacquelyn AAA</option>
                  <option value="75593">Frank AAA</option>
                  <option value="75595">Wayne AAA</option>
                  <option value="75596">Wayne AAA</option>
                  <option value="75599">Stephen AAA</option>
                  <option value="75600">Stephen AAA</option>
                  <option value="75607">Randell AAA</option>
                  <option value="75610">David AAA</option>
                  <option value="75613">James AAA</option>
                  <option value="75618">Kaneitra AAA</option>
                  <option value="75619">James AAA</option>
                  <option value="75620">George M AAA</option>
                  <option value="75621">Ricky AAA</option>
                  <option value="75622">Mark AAA</option>
                  <option value="75624">Kelvin AAA</option>
                  <option value="75628">Jeffrey AAA</option>
                  <option value="75629">Christine AAA</option>
                  <option value="75630">Duane AAA</option>
                  <option value="75631">Larissa AAA</option>
                  <option value="75632">Debra AAA</option>
                  <option value="75633">Ernie AAA</option>
                  <option value="75635">Rexford AAA</option>
                  <option value="75638"> </option>
                  <option value="75642">Jennifer AAA</option>
                  <option value="75645">Shaun AAA</option>
                  <option value="75648">Bradley AAA</option>
                  <option value="75651">Robert AAA</option>
                  <option value="75654">Patricia AAA</option>
                  <option value="75657">Dallin AAA</option>
                  <option value="75661">Lisa AAA</option>
                  <option value="75686">Christian AAA</option>
                  <option value="75690">Elliot AAA</option>
                  <option value="75697">Tracy AAA</option>
                  <option value="75699">Timothy AAA</option>
                  <option value="75700">Anthony AAA</option>
                  <option value="75701">Kelley AAA</option>
                  <option value="75709">Douglas AAA</option>
                  <option value="75715">Gerald AAA</option>
                  <option value="75721">Howard AAA</option>
                  <option value="75723">Robert AAA</option>
                  <option value="75724">Jack AAA</option>
                  <option value="75740">Divyang AAA</option>
                  <option value="75741">Grace AAA</option>
                  <option value="75755">Richard AAA</option>
                  <option value="75758">William AAA</option>
                  <option value="75759">Jennifer AAA</option>
                  <option value="75761">Philip AAA</option>
                  <option value="75764">Manisha AAA</option>
                  <option value="75773">Francisco AAA</option>
                  <option value="75779">David AAA</option>
                  <option value="75781">Rob AAA</option>
                  <option value="75782">Katie AAA</option>
                  <option value="75783">Benjamin AAA</option>
                  <option value="75786">Robert AAA</option>
                  <option value="75788">Richard AAA</option>
                  <option value="75789">Payal AAA</option>
                  <option value="75794">Dean AAA</option>
                  <option value="75795">Shawn AAA</option>
                  <option value="75797">Donald AAA</option>
                  <option value="75803">Peter AAA</option>
                  <option value="75804">Peter AAA</option>
                  <option value="75806">Kyle AAA</option>
                  <option value="75812">Mohanad AAA</option>
                  <option value="75813">Erin AAA</option>
                  <option value="75814">Erin AAA</option>
                  <option value="75815">Evan AAA</option>
                  <option value="75817">Denise AAA</option>
                  <option value="75822">Andrea AAA</option>
                  <option value="75828">Scott AAA</option>
                  <option value="75829">Evan AAA</option>
                  <option value="75833">Steven AAA</option>
                  <option value="75838">Jessica AAA</option>
                  <option value="75841">Anthony AAA</option>
                  <option value="75850">Arbus AAA</option>
                  <option value="75851">Brad AAA</option>
                  <option value="75888">Katharine Jones APRN</option>
                  <option value="75896">Efren De La Rosa DPM - Medoc</option>
                  <option value="75898">Jack Taylor MD</option>
                  <option value="75900">Robert Kosofsky</option>
                  <option value="75901">Regina Rhoades DPM</option>
                  <option value="75909">Jessie Bradley Jr DPM</option>
                  <option value="75910">Kenneth Golda DPM</option>
                  <option value="75915">Deanna Wheeler NP</option>
                  <option value="75917">Tyrone Davis DPM</option>
                  <option value="75918">Michael Akpeke MD</option>
                  <option value="75921">David Hemmes DPM</option>
                  <option value="75924">Brent Carter DPM</option>

                </select>
                <div class="chosen-container chosen-container-single" style="width: 216px;" title=""
                  id="physician_det_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>Search
                      Physician</span>
                    <div><b></b></div>
                  </a>
                  <div class="chosen-drop">
                    <div class="chosen-search"><input type="text" autocomplete="off"></div>
                    <ul class="chosen-results"></ul>
                  </div>
                </div>
                <input type="checkbox" name="physicianId" value="Physician">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient Gender:</label>
                <select name="sex" id="sex">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <input type="checkbox" name="gender" value="Gender">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient Name:</label>
                <input type="text" name="patient_name" id="patient_name" value="" placeholder="Enter Patient Name">
                <input type="checkbox" name="patientName" value="Patient Name">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient State:</label>
                <input type="text" name="state" id="state" value="" placeholder="Enter State">
                <input type="checkbox" name="patient_state" value="State Name">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient City:</label>
                <input type="text" name="city" id="city" value="" placeholder="Enter city">
                <input type="checkbox" name="patient_city" value="Patient Name">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Stain Code:</label>
                <input type="text" name="stain_code" id="stain_code" value="" placeholder="Enter Stain Code">
                <input type="checkbox" name="stains">
              </div>

              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number:</label>
                <input type="text" name="acc_num" id="acc_num" value="" placeholder="Enter Accessioning Number">
                <input type="checkbox" name="accessioning_number" value="Accessioning Number">
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label> Gross Dimension:&nbsp; <input name="gross_description" value="Gross dimension size"
                    type="checkbox"></label>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label> PCR Results:&nbsp; <input name="pcr_test" type="checkbox"></label>
              </div>
              <div class="clear"></div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label> Addendum:&nbsp; <input name="addendum_desc" type="checkbox"></label>
              </div>

              <div class="col-md-6">
                <label class="koli">Patient Age:</label>
                <input name="age_from" id="age_from" maxlength="3" value="" placeholder="Enter Age From" type="number"
                  min="1" max="110" class="fields_in">
                To
                <input name="age_to" maxlength="3" id="age_to" value="" placeholder="Enter Age To" type="number" min="1"
                  max="110" class="fields_in">
                <input type="checkbox" name="patient_age">
              </div>
            </div>
            <span>&nbsp;</span>
            <div class="row">
              <div class="col-md-2 no_padding3 speciman_top">
                <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                    aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2 no_padding3 speciman_top">
                <a href="javascript:void(0);" class="reset_button" title="Reset"><i class="fa fa-repeat"></i> Reset</a>
              </div>
              <div class="col-md-2 no_padding3 speciman_top">
                <button type="submit" class="btn reset_button" name="excel_export" id="excel_export"><i
                    class="fa fa-file-excel-o" aria-hidden="true"></i> Export</button>
              </div>
            </div>
          </div>
        </form>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
