.content-area {
    width: 100%;
    padding-left: 0;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family:"Yanone Kaffeesatz"; 
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.diagnosis {
    margin: 30px 0;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.box, .doctor {
    width: 33%;
    float: left;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
address, p {
    margin: 0 0 1.75em;
}
.box {
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    text-align: center;
}
.box, .doctor {
    width: 33%;
    float: left;
}
.box_2 {
    border-right: 1px solid #000;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0;
}
.box .box_2 h2 {
    font-size: 15px;
    padding-top: 10px;
    background: #a8c2f5;
}

.diagnosis h2 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
.box .box_2 p:after, .diagnosis h2:after {
    border: 1px solid #000;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.box .box_2 p {
    position: relative;
    margin-bottom: 0;
}

address, p {
    margin: 0 0 1.75em;
}
table.diagnosis_analystics {
    width: 33%;
    float: left;
    border-color: #000;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
}
dd, dl, table {
    margin: 0 0 1.75em;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
table.diagnosis_analystics tr td {
    width: 50%;
    float: left;
    border-color: #000;
}
b, optgroup, strong {
    font-weight: 700;
}




