<cm-navbar></cm-navbar>
<div id="primary" class="container">
  <h1>PCR Stages Status</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="specimen_border">
      <div class="row">
        <div class="col-md-4 speciman_top specimen_bottom">
          <label>Physician Name:</label>
          <!-- <select name="physician_id" class="chzn-select" data-placeholder="Search Physician" id="physician">
							

							</select> -->
          <input
            type="hidden"
            formControlName="physician_id"
            class="form-control "
            id="physician_id"
          />
          <mat-form-field class="example-full-width">
            <input
              type="text"
              placeholder=""
              aria-label="Number"
              matInput
              formControlName="physician_name"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-optgroup
                *ngFor="let option of filteredOptions | async"
                label="Physician List"
              >
                <mat-option
                  (onSelectionChange)="callSomeFunction(option.ids[i])"
                  *ngFor="let group of option.names; let i = index"
                  [value]="group"
                >
                  {{ group }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-4 speciman_top specimen_bottom">
          <label>Scan Barcode:</label>
          <input
            type="text"
            class="form-control"
            id="scan_code"
            placeholder="Scan BarCode"
            formControlName="barcode"
          />
        </div>
        <div class="col-md-4 speciman_top specimen_bottom">
          <label>Accessioning No. :</label>
          <input
            type="text"
            class="form-control"
            id="assessioning_num"
            placeholder="Accessioning Number"
            formControlName="assessioning_num"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 speciman_top specimen_bottom">
          <label>Test Type :</label>
          <select formControlName="test_type">
            <option hidden="" value="">Select Test Type</option>

            <!-- <option *ngFor="let test of test_type" value="{{test.type_code}}">{{test.type_name}}</option> -->
            <option value="W">Wound</option>
            <option value="NF">Toenail Fungus</option>
            <option value="D">Derm</option>
            <option value="UTI">UTI</option>
            <option value="RPP">RPP</option>
            <option value="">Show All</option>
          </select>
        </div>
        <div class="col-md-4 speciman_top specimen_bottom">
          <label>From Date:</label>
          <!-- <input type="text" class="form-control datepicker" id="collection_date" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
          <input
            type="text"
            class="form-control"
            bsDatepicker
            [bsConfig]="datePickerConfig"
            formControlName="fromdate"
            id="datepicker"
            placeholder="MM/DD/YY"
          />
        </div>
        <div class="col-md-4 speciman_top specimen_bottom">
          <label>To Date:</label>
          <!-- <input type="text" class="form-control datepicker" id="collection_date" placeholder="Collected Date (MM/DD/YY)" formControlName="date"/> -->
          <input
            type="text"
            class="form-control"
            bsDatepicker
            [bsConfig]="datePickerConfig"
            formControlName="todate"
            id="datepicker"
            placeholder="MM/DD/YY"
          />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2 no_padding3">
              <!-- <input type="submit" value="Search" tabindex="100"> -->
              <button
                type="submit"
                value="Search"
                class="button_search"
                tabindex="100"
              >
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
            </div>

            <!-- <div class="col-md-2 no_padding3">
                            <input type="button" name="wp-submit" id="lwa_wp-submit" value="Load All" class="reset_button" (click)="load_all()">
                    </div> -->
            <div class="col-md-2 no_padding3">
              <a
                href="javascript:void(0);"
                class="reset_button"
                (click)="resetForm()"
                ><i class="fa fa-repeat"></i> Reset</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 speciman_top specimen_bottom">
          <label> Quick Search:</label>
          <input
            class="form-control"
            type="text"
            (keyup)="search($event.target.value)"
            placeholder="Accessioning Number"
          />
        </div>
      </div>
    </div>
  </form>

  <div class="col-md-12 stage-tat">
    <span>PCR Stages TAT</span>
    <a data-toggle="modal" data-target="#stageTat">
      <i aria-hidden="true" class="fa fa-bell"></i
      ><sup>{{ stageTATCount }}</sup>
    </a>
  </div>

  <div class="panel panel-primary ability_titl">
    <div class="panel-heading">
      <h3 class="panel-title">Lab Processing</h3>
    </div>

    <div class="table-container">
      <table
        class="table table-striped pcr_stages_tbl"
        [mfData]="data"
        #mf="mfDataTable"
        [mfRowsOnPage]="10"
        style="width: 100%;"
      >
        <thead>
          <tr>
            <th width="17%" class="listed_box shrt-acc">
              #
              <mfDefaultSorter by="assessioning_num"
                >Accessioning</mfDefaultSorter
              >
            </th>
            <th width="15%" class="listed_box">
              <div class="listed_buttn">
                <a
                  routerLinkActive="active"
                  routerLink="/delivery-to-ext"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span>
                  Dashboard</a
                >
              </div>
              <div class="listed_txt">Stage 1: Delivery to Extraction</div>
            </th>
            <th width="17%" class="listed_box">
              <div class="listed_buttn">
                <a
                  routerLinkActive="active"
                  routerLink="/assign-well-stage"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span>
                  Dashboard</a
                >
              </div>
              <div class="listed_txt">Stage 2: Assign Well Stage</div>
            </th>
            <th width="17%" class="listed_box">
              <div class="listed_buttn">
                <a
                  routerLinkActive="active"
                  routerLink="/data-analysis"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span> Upload</a
                >
              </div>
              <div class="listed_txt">Stage 3: Upload Data</div>
            </th>
            <th width="17%" class="listed_box">
              <div class="listed_buttn">
                <a
                  routerLinkActive="active"
                  routerLink="/report-generate"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span>
                  Dashboard</a
                >
              </div>
              <div class="listed_txt">Stage 4: Report Generate</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specimens of mf.data">
            <td valign="middle">
              # {{ specimens.assessioning_num }}
              <span
                *ngIf="
                  specimens.test_type == 'W' ||
                  specimens.test_type == 'UTI' ||
                  specimens.test_type == 'RPP'
                "
                ><span *ngIf="specimens.process_done == 'In House'"
                  >(In House)</span
                ><span *ngIf="specimens.process_done != 'In House'"
                  >(Outsource)</span
                ></span
              >
              <div class="upper">
                <a
                  href="javascript:void(0);"
                  class="blue-btn track-btn trk_btn"
                  (click)="displaytrackmodal(specimens.assessioning_num)"
                  ><i class="fa fa-map-marker"></i> Track</a
                >
                <a
                  href="javascript:void(0);"
                  (click)="reviewProcessState(specimens.assessioning_num)"
                  class="blue-btn pros_btn"
                  ><i class="fa fa-eye"></i> Process stage</a
                >
              </div>
            </td>

            <td
              valign="middle"
              *ngIf="
                specimens.test_type == 'W' ||
                  specimens.test_type == 'UTI' ||
                  specimens.test_type == 'RPP';
                else elsepart
              "
            >
              <!-- <a
                routerLinkActive="active"
                routerLink="/delivery-to-extraction-stage/{{ specimens.id }}/1"
                class="btn btn-info btn-lg"
                ><span class="glyphicon glyphicon-dashboard"></span> Update
                Stage</a
              > -->

              <a
                *ngIf="
                  specimens.process_done == 'In House';
                  else partners_company_part
                "
                routerLinkActive="active"
                routerLink="/delivery-to-extraction-stage/{{ specimens.id }}/1"
                class="btn btn-info btn-lg"
                ><span class="glyphicon glyphicon-dashboard"></span> Update
                Stage</a
              >

              <ng-template #partners_company_part>
                <div valign="middle">
                  Stage is not available for wound.
                </div>
              </ng-template>
            </td>

            <ng-template #elsepart>
              <td valign="middle">
                <a
                  routerLinkActive="active"
                  routerLink="/delivery-to-extraction-stage/{{
                    specimens.id
                  }}/1"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span> Update
                  Stage</a
                >
                <!-- <a
                  *ngIf="
                    specimens.process_done == 'In House';
                    else wound_partners_company
                  "
                  routerLinkActive="active"
                  routerLink="/delivery-to-extraction-stage/{{
                    specimens.id
                  }}/1"
                  class="btn btn-info btn-lg"
                  ><span class="glyphicon glyphicon-dashboard"></span> Update
                  Stage</a
                >

                <ng-template #wound_partners_company>
                  <div valign="middle">
                    Stage is not available for wound.
                  </div>
                </ng-template> -->
              </td>
            </ng-template>
            <td valign="middle">
              <span
                *ngIf="specimens.assign_button !== 'yes'"
                style="color: #ff5e5e;font-weight: 600;"
                >Previous stage is not complete</span
              >
              <button
                class="btn btn-primary listed_button"
                *ngIf="specimens.assign_button === 'yes'"
                (click)="assignStage(specimens.id)"
                [disabled]="specimens.assign_status === 'Assign'"
              >
                Assign
              </button>
              <button
                class="btn btn-primary listed_button"
                *ngIf="specimens.assign_button === 'yes'"
                (click)="unassignStage(specimens.id)"
                [disabled]="specimens.assign_status === 'Unassign'"
              >
                Unassign
              </button>
            </td>
            <td valign="middle">
              <span
                style="color: #ff5e5e;font-weight: 600;"
                *ngIf="specimens.upload_data === 'Process not done'"
                >{{ specimens.upload_data }}</span
              >
              <span
                style="color:green;font-weight: 600;"
                *ngIf="specimens.upload_data === 'Process done'"
                >{{ specimens.upload_data }}</span
              >
            </td>
            <td valign="middle">
              <span
                *ngIf="specimens.upload_data === 'Process not done'"
                style="color: #ff5e5e;font-weight: 600;"
                >Pending Data Upload</span
              >
              <a
                class="btn btn-primary listed_button"
                (click)="onTap(specimens.assessioning_num)"
                *ngIf="specimens.upload_data === 'Process done'"
              >
                <span class="glyphicon glyphicon-dashboard"></span> Update Stage
              </a>
            </td>
          </tr>
          <tr *ngIf="no_data_status">
            <td colspan="5">{{ no_data }}</td>
          </tr>
          <td colspan="7">
            <mfBootstrapPaginator
              [rowsOnPageSet]="[10, 25, 50, 100]"
            ></mfBootstrapPaginator>
          </td>
        </tbody>
      </table>
      <div style="padding-left: 10px;margin-bottom: 10px;">
        <button
          type="button"
          *ngIf="load_btn"
          class="btn btn-blue exprt-btn"
          value="Load More"
          (click)="load_more()"
        >
          <i class="fa fa-spinner" aria-hidden="true"></i> Load More
        </button>
        <div style="float: right;" class="show_physician_list">
          Total Number of Specimen <span>{{ spe_count }}</span>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="stageTat"
      tabindex="-1"
      role="dialog"
      aria-labelledby="stageTatLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-container panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">PCR Stages TAT</h3>
              </div>
              <table class="table table-striped" style="width: 100%;">
                <thead>
                  <tr>
                    <th width="15%" class="listed_box shrt-acc">
                      # Accessioning Number
                    </th>
                    <th width="17%" class="listed_box">
                      <div class="listed_txt">
                        Stage 1: Delivery to Extraction
                      </div>
                    </th>
                    <th width="17%" class="listed_box">
                      <div class="listed_txt">Stage 2: Assign Well Stage</div>
                    </th>
                    <th width="17%" class="listed_box">
                      <div class="listed_txt">Stage 3: Upload Data</div>
                    </th>
                    <th width="17%" class="listed_box">
                      <div class="listed_txt">Stage 4: Report Generate</div>
                    </th>
                  </tr>
                </thead>
                <tbody id="tat">
                  <tr *ngFor="let specimens of tatDetails">
                    <td valign="middle"># {{ specimens.accessioning_num }}</td>
                    <td valign="middle">
                      <!-- <span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.color1}}</span> -->
                      <span
                        class="tat_style1"
                        [class.tat_style2]="specimens.color1 == 'Red'"
                      >
                        {{ specimens.status1 }}</span
                      >
                    </td>
                    <td valign="middle">
                      <!-- <span class="tat_style1" [class.tat_style2]="specimens.color2 == 'Red'"> {{specimens.color2}}</span> -->
                      <span
                        class="tat_style1"
                        [class.tat_style2]="specimens.color2 == 'Red'"
                      >
                        {{ specimens.status2 }}</span
                      >
                    </td>
                    <td valign="middle">
                      <!-- <span class="tat_style1" [class.tat_style2]="specimens.color3 == 'Red'"> {{specimens.color3}}</span> -->
                      <span
                        class="tat_style1"
                        [class.tat_style2]="specimens.color3 == 'Red'"
                      >
                        {{ specimens.status3 }}</span
                      >
                    </td>
                    <td valign="middle">
                      <!-- <span class="tat_style1" [class.tat_style2]="specimens.color4 == 'Red'"> {{specimens.color4}}</span> -->
                      <span
                        class="tat_style1"
                        [class.tat_style2]="specimens.color4 == 'Red'"
                      >
                        {{ specimens.status4 }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
