<cm-navbar></cm-navbar>
<div class="container">
<div class="content-area col-md-4"></div>
<div id="primary" class="content-area col-md-8">
 <div class = "panel panel-primary">
<div class = "panel-heading" style="background:#34b6e6">
  <h3 class = "panel-title" id="title" >View Specimen Stages</h3>
</div>
 <div class = "panel-body">
    <div class="red_hot">
       <div class = "panel panel-primary ability_titl" style="border:none;">
  <div class = "panel-body">
   <div class="table-container">
    <table class="table table-striped listing_table doodle" cellspacing="0" width="100%">
    <thead>
       <tr>
                <th width="20%">Stage</th>
                <th width="8%">Pass/Fail</th>
                <th width="22%">Timestamp</th>
                <th width="15%">Lab Tech</th>
                <th width="15%">Comments</th>
                <th width="30%">Additional Description</th>
                <!-- <th width="10%">All in this stage</th> -->
              </tr>
    </thead>
    <tbody>
                <tr id="tr_1" *ngFor="let specimens of postsArray.details">
                <td valign="middle">
                 {{specimens.stage_name}}</td>
                <td valign="middle" id="validate_1" class="{{specimens.pass_fail}}">
                 
                </td>
                <td valign="middle">
                  {{specimens.specimen_timestamp}}<br/>        	
                </td>
                <td>
                  {{specimens.physician_name}}</td>
                <td>
                    {{specimens.comments}}     
                </td>
                <td valign="middle">
                    {{specimens.addtional_desc}}
                </td>
                <!-- <td valign="middle">
                  <div class="vw">
                    <a href="" id="stage_view_1"> view </a>
                  </div>
                </td> -->
              </tr>
 
            </tbody>
        </table>
     <div class="clear"></div>
     <div class="col-md-1 col-sm-2 col-xs-3" style="margin-top:25px;">
       <a [routerLink]="['/specimens-list']" class="btn btn-primary">Back</a>
       <!-- <a href="#" class="btn btn-primary" (click)="go_back()">Back</a> -->
    </div>
   </div>
  </div>
 </div>
</div>
</div>
</div>
</div>
</div>
