.content-area {
    width: 100%;
    padding-left: 0;
}
.listing_table {
    margin-top: 40px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
#title {
    font: 500 30px/19px Lato;
    padding: 10px;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
.red_hot .ticked::before {
    content: "\f00c";
    color: green;
}
.red_hot .crossed::before {
    content: "\f00d";
    color:red;
}
.red_hot .crossed::before, .red_hot .ticked::before {
    font-family: FontAwesome;
    right: 30px;
    font-size: 30px;
}

.red_hot a {
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
}
.red_hot .panel-heading, .red_hot a {
    background: #34b6e6;
}
.cognito label, .red_hot a {
    display: block;
}
#errmsg, #succmsg, .button-holder, .red_hot a {
    text-align: center;
}
.red_hot a, .regular-radio + label, .save_radio + label, h2.frm-hrd {
    text-transform: uppercase;
}