<cm-navbar></cm-navbar>
<div id="primary" class="container">
    <h1>Assign Well Stage</h1>
    <form  [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
        <div class="specimen_border">
                <div class="row">
		
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan Barcode:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Scan BarCode" formControlName="barcode">
						</div>
							<div class="col-md-4 speciman_top specimen_bottom">
							<label>Accessioning No. :</label>
							<input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number" formControlName="assessioning_num"/>
						</div>
					</div> 
            <div class="row">
                   
                <div class="col-md-2 no_padding3">
                
                    <input type="submit" value="Search" tabindex="100">
                </div>
              
               
                <div class="col-md-2 no_padding3">
                        <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>  Reset</a> 
                </div>
                </div>
            </div>
      
    </form>
  
            <div class="panel panel-primary ability_titl" *ngIf="show">
            <div class="panel-heading">
                <h3 class="panel-title"> Search Result </h3>
            </div>
            
                <div class="container">
                    <div *ngFor="let specimens of data" class="assign-div">
                       <p> <strong>Accessioning Number:</strong>&nbsp; {{specimens.assessioning_num}}</p>

                        <div>
                            <span *ngIf="specimens.assign_button!=='yes'" style="color: #ff5e5e;font-weight: 600;">Previous stage is not complete</span>
                                <button class="btn btn-primary listed_button" *ngIf="specimens.assign_button==='yes'" (click)="assignStage(specimens.id)" [disabled]="specimens.assign_status==='Assign'">
                                    
                                Assign
                                </button>
                                <button class="btn btn-primary listed_button" *ngIf="specimens.assign_button==='yes'" (click)="unassignStage(specimens.id)" [disabled]="specimens.assign_status==='Unassign'">
                                    
                                Unassign
                                </button>
                        </div>
                    </div>
                   
                </div>

</div>			
</div>
