<div id="content" class="site-content">
	<form id="nail_fungal" method="post" name="nail_fungal" enctype="multipart/form-data"
		onkeypress="return event.keyCode != 13;">
		<div class="nail_report">
			<div class="tp_hdng">
				<h2> Nail Fungal Pathology Report </h2>
			</div>
			<div class="n_hdr_sec">
				<div class="hdr_top_sec">
					<div class="col_33">
						<div class="n_logo">
							<a href="https://abilitydiagnostics.com"><img style="max-width: 100%;height:auto"
									src="https://abilitydiagnostics.com/wp-content/uploads/2016/05/logo.png" alt="Ability Diagnostics"
									title="Ability Diagnostics homepage" /></a> </div>
					</div>
					<div class="col_33">
						<div class="comny_tag">
							<h4> Ability Diagnostics, LLC </h4>
							<p> 858 South Auto Mall Road, Suite 102 </p>
							<p> American Fork, UT 84003 </p>
						</div>
					</div>
					<div class="col_33">
						<div class="issue_dt">
							<p> Date of Report <span>01/21/2019</span> </p>
						</div>
					</div>
					<div class="n_clear"> </div>
				</div>
				<div class="hdr_btm_sec">
					<div class="col_33">
						<div class="n_phn_no">
							<p> Phone Number <span> 801-899-3828 </span> </p>
						</div>
					</div>
					<div class="col_33">
						<div class="fax_no">
							<p> Fax Number <span> 801-855-7548 </span> </p>
						</div>
					</div>
					<div class="col_33">
						<div class="assct_no">
							<h6> Accessioning Number <span> 181226-0010-NF </span> </h6>
						</div>
					</div>
					<div class="n_clear"> </div>
				</div>
			</div>
			<div class="n_patient_info">
				<div class="col_65">
					<div class="smll_hdng"> Patient Information: </div>
					<div class="n_patient_info_inr">
						<div class="n_ptnt_nm">
							<h4> Antonieta Flores </h4>
						</div>
						<p> <span> Phone:</span><span>915-603-2018</span> </p>
						<p> <span> DOB:</span><span>01/01/1954</span> </p>
						<p> <span>Collection Date:</span><span>12/20/2018</span> </p>
						<p> <span>Date Received:</span><span>12/26/2018</span> </p>
					</div>
				</div>
				<div class="col_35">
					<div class="smll_hdng"> Referring Physician: </div>
					<div class="n_patient_addrs">
						<h4> Efren De La Rosa DPM - Medoc </h4>
					</div>
					<div class="n_ptnt_loctn">
						<div class="n_row">
							<div class="col_35">
								<label> Address: </label>
							</div>
							<div class="col_65"> 114 W Castellano Dr
								El Paso, TX 79912 </div>
							<div class="n_clear"> </div>
						</div>
						<div class="n_row">
							<div class="col_35">
								<label> Phone: </label>
							</div>
							<div class="col_65"> <span> 915-532-3721 </span> </div>
							<div class="n_clear"> </div>
						</div>
						<div class="n_row">
							<div class="col_35">
								<label> Fax: </label>
							</div>
							<div class="col_65"> <span> 915-532-3724 </span> </div>
							<div class="n_clear"> </div>
						</div>
					</div>
				</div>
				<div class="n_clear"> </div>
			</div>
			<div class="patholgy_rpt">
				<div class="tp_hdng">
					<h2>
						Pathology Report
					</h2>
				</div>
				<div class="ptholgy_rpt_inr">

					<div class="n_row">
						<div class="col_35">
							<label> Clinical History: </label>
						</div>
						<div class="col_15"> </div>
						<div class="col_35" id="clinical_history">
							Dystrophic Toenail </div>
						<div class="col_15 mg-top">
							<div style="float:left; padding:0; width:62px; margin:0;"><strong>Location: </strong></div>
							<div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;">Right</div>
							<div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;">Left</div>
							<div class="inr-spn" style="float:left; padding:0; margin:0 10px 0 0;"></div>
						</div>
						<div class="n_clear"></div>
					</div>

					<div class="n_row">
						<div class="col_35">
							<label>
								Gross Description:
							</label>
						</div>
						<div class="col_15">
						</div>
						<div class="col_50" id="gross">
						</div>
						<div class="n_clear">
						</div>
					</div>
					<div class="top_note_heading col_35">
						<label>
							<strong> Amended Diagnosis: </strong></label>
					</div>
					<div class="col_15"> </div>
					<div class="col_50 amend_note">
						*** Major diagnosis is unchanged. Additional commentas are added. </div>
					<div class="n_clear">
						<div class="n_row fetch_red">
							<div class="col_35">
								<label>
									<strong>Diagnosis:</strong></label>
							</div>

							<div class="col_15">
								665 </div>
							<div class="col_50">
								Onychomycosis; subungual pattern </div>
							<div class="n_clear">
							</div>
						</div>
						<div class="n_row fetch_red">
							<div class="col_35">
								<label>
									<strong> Micro description: </strong></label></div>
							<div class="col_15"></div>
							<div class="col_50 fetch_red">
								The specimen consists of a portion of nail plate with attached nail bed epithelium in which there are a
								few fungal elements seen with special stains. This confirms the diagnosis of onychomycosis. </div>
							<div class="n_clear"></div>
						</div>
						<div class="n_row">
							<div class="col_35">
								<label>
									Stains:
								</label>
							</div>
							<div class="col_15">
								gp </div>
							<div class="col_50" id="Stains_fst_desc">
								Grocott's Methenamine-Silver (GMS) stain is positive for dermatophytes. </div>
							<div class="n_clear"></div>
							<div class="col_35">
								<label></label></div>
							<div class="col_15">
								pp </div>
							<div class="col_50" id="Stains_sec_desc">
								Periodic Acid Schiff (PAS) stain is positive for dermatophytes. </div>
							<div class="n_clear"></div>
							<div class="col_35">
								<label></label></div>
							<div class="col_15">
							</div>
							<div class="col_50" id="Stains_thr_desc">
							</div>
							<div class="n_clear"></div>
						</div>
						<div class="n_row">
							<div class="col_35">
								<label>
									Addendum:
								</label>
							</div>
							<div class="col_15">
							</div>
							<div class="col_50">
								cbi,epb </div>
							<div class="n_clear">
							</div>
						</div>
						<div class="n_row">
							<div class="col_35">&nbsp;</div>
							<div class="col_65">
								<div class="brose_sec">
									<img
										src="https://abilitydiagnostics.com/wp-content/themes/abilitydiagnostics/upload/nail_fungal/1546627533_181226-10.jpg"
										border="0" id="nail_fungal_img" />
								</div>
							</div>
							<div class="n_clear"></div>
							<div class="clear"></div>
							<div class="col-md-2 no_padding2" style="margin-top:25px;">
								<a href="https://www.abilitydiagnostics.com/amended-reports" class="btn btn-primary">Back</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>