<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div>
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>Submitted Reports</h1>
        <div class="specimen_border">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

            <div class="row">



              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Physician Name:</label>


                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" aria-label="Number" matInput formControlName="physician_name"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                      <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
              </div>



              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Specimen Report Date:</label>
                <input type="text" class="form-control" formControlName="collected_date" value=""
                  placeholder="Report Date (MM/DD/YY)" bsDatepicker [bsConfig]="datePickerConfig" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Scan Specimen BarCode:</label>
                <input type="text" class="form-control" id="scan_code" value="" placeholder="Scan Specimen BarCode"
                  formControlName="barcode">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient First Name:</label>
                <input type="text" class="form-control" value="" placeholder="Patient First Name"
                  formControlName="firstname" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Patient Last Name:</label>
                <input type="text" class="form-control" value="" placeholder="Patient Last Name"
                  formControlName="lastname" />
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>Accessioning Number :</label>
                <input type="text" class="form-control" value="" placeholder="Accessioning Number"
                  formControlName="assessioning_num" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 no_padding3">
                <!-- <input type="submit" name="wp-submit" class="fa fa-search" id="lwa_wp-submit" value="Search"
                  tabindex="100"> -->
                <button type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2 no_padding3">
                <button type="button" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i>
                  Reset</button>
              </div>
              <div class="col-md-2 no_padding3">
                <button type="button" (click)="fivedays()"><i class="fa fa-spinner" aria-hidden="true"></i> Load Last
                  Five days Records</button>
              </div>
              <!-- <div class="col-md-2 no_padding3">
              <button type="button" (click)="load_all()">load all</button>
                 </div> -->
            </div>
          </form>
        </div>

        <p class="clear"></p>
        <div class="clearfix"></div>
        <div class="alert alert-success alert-dismissable" id="message_id" style="display:none; padding-top: 10px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Success!</strong> <span id="successmsg"></span>
        </div>

        <div class="table-container">
          <table class="table table-striped listing_table" cellspacing="0" width="100%" id="pending_report"
            [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr class="users_list">
                <th width="10%">
                  <mfDefaultSorter by="dor">Report Date</mfDefaultSorter>
                </th>

                <th width="15%">Physician Name<span class="glyphicon sort-icon"></span></th>

                <th width="10%">Patient Name<span class="glyphicon sort-icon"></span></th>

                <th width="10%">
                  <mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter>
                </th>

                <th width="5%">Status</th>
                <th width="20%">View PDF</th>
                <th width="3%">Action</th>
                <th width="18%">Print PDF</th>
                <th width="10%">Track PDF</th>
              </tr>
            </thead>


            <tbody id="display_pending_report_list" *ngIf="!no_data_status">

              <tr *ngFor="let specimens of mf.data">
                <td>{{specimens.dor | date: 'yyyy-MM-dd'}}</td>
                <td>{{specimens.physician_name}}</td>
                <td>{{specimens.p_firstname}} {{specimens.p_lastname}}</td>
                <td>{{specimens.assessioning_num}}</td>
                <td>
                  <div *ngIf="specimens.amend_note">
                    {{specimens.amend_note}}
                  </div>
                  <div *ngIf="!specimens.amend_note">
                    Ready
                  </div>
                </td>
                <td valign="middle">

                  <a href="{{url}}assets/uploads/histo_report_pdf/{{specimens.nail_pdf}}" target="_blank"
                    class="blue-btn">HISTO</a>
                  <span *ngIf="(specimens.report_pdf_name) && (specimens.nail_unit==='true')">
                    <a href="{{url}}assets/uploads/pcr_report_pdf/{{specimens.report_pdf_name}}" target="_blank"
                      class="blue-btn">PCR</a>
                  </span>
                  <span *ngIf="!(specimens.report_pdf_name) && (specimens.nail_unit==='false')" style="color: #ff0000">
                    No PCR Ordered</span>
                  <span *ngIf="(specimens.nail_unit==='true') && (specimens.report_pdf_name==='')"
                    style="color: #ff0000">Pending</span>
                </td>

                <td style="background:#ddd;">
                  <a routerLinkActive="active" routerLink="/edit-submit-report/{{specimens.nail_funagl_id}}"
                    class="blue-btn">
                    <span class="glyphicon glyphicon-edit"></span></a>
                </td>

                <td>
                  <a href="https://www.abilitydiagnostics.com/abadmin/api/PrintPDF/print_histo_submitted_report?histo_nail_report={{specimens.nail_pdf}}"
                    target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-print"></span>
                    HISTO</a>
                  &nbsp;
                  <a href="https://www.abilitydiagnostics.com/abadmin/api/PrintPDF/print_pcr_submitted_report?pcr_report={{specimens.report_pdf_name}}"
                    target="_blank" class="btn btn-success btn-lg"
                    *ngIf="(specimens.report_pdf_name) && (specimens.nail_unit==='true')">
                    <span class="glyphicon glyphicon-print"></span> PCR</a>

                </td>
                <td><a href="javascript:void(0);" (click)="displaytrackmodal(specimens.assessioning_num)"
                    class="blue-btn track-btn" title="Track Specimen"><i class="fa fa-map-marker"></i> </a> </td>
              </tr>
            </tbody>
            <tbody id="display_pending_report_list" *ngIf="no_data_status">
              <tr id="no_data_found" class="text-center">
                <td colspan="12">{{no_data}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="users_list">
                <th width="10%">Report Date</th>
                <th width="15%">Physician Name</th>
                <th width="10%">Patient Name</th>
                <th width="10%">Accessioning Number</th>
                <th width="5%">Status</th>
                <th width="20%">View PDF</th>
                <th width="3%">Action</th>
                <th width="18%">Print PDF</th>
                <th width="10%">Track PDF</th>
              </tr>
              <td colspan="9" *ngIf="!no_data_status">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tfoot>
          </table>
          <!-- <input type="button" class="btn btn-blue exprt-btn" value="Load More" (click)="get_more_submitted_report()"> -->

          <button type="button" class="btn btn-blue exprt-btn" (click)="get_more_submitted_report()"><i
              class="fa fa-spinner" aria-hidden="true"></i> Load More</button>

          <div class="col-md-6 pull-right">
            <div class="show_physician_list"><strong>Showing Number of Pending Report Count: </strong>
              <span>{{spe_count}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade track-modal stage_list" id="form_modal" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-lg">
      </div>
    </div>
  </div>
</div>
