<div class="left-box-stl myaccount">
    <ul>
  <li class="{{url==='delivery-to-extraction'?'active':''}}"><a routerLinkActive="active" routerLink="/delivery-to-extraction" title="Delivery to Extraction">Delivery to Extraction</a></li>
  <li class="{{url==='delivery-to-pcr'?'active':''}}"><a routerLinkActive="active" routerLink="/delivery-to-pcr" title="Delivery to PCR">Delivery to PCR</a></li>
  <li class="{{url==='assign-well-stage'?'active':''}}"><a routerLinkActive="active" routerLink="/assign-well-stage" title="Assign Well Stage">Assign Well Stage</a></li>
  <li class="{{url==='data-analysis'?'active':''}}"><a routerLinkActive="active" routerLink="/data-analysis" title="Data Analysis">Data Analysis</a></li>
  <li class="{{url==='manual-review'?'active':''}}"><a routerLinkActive="active" routerLink="/manual-review" title="Manual Review">Manual Review</a></li>
  <li class="{{url==='report-generate'?'active':''}}"><a routerLinkActive="active" routerLink="/report-generate" title="Report Generate">Report Generate</a></li>
  <li class="{{url==='batch-delete'?'active':''}}"><a routerLinkActive="active" routerLink="/batch-delete" title="Batch Delete">Batch Delete</a></li>
  <li class="{{url==='pcr-submitted-reports'?'active':''}}"><a routerLinkActive="active" routerLink="/pcr-submitted-reports" title="Submitted Reports">Submitted Reports</a></li>
  <li class="{{url==='archive-documents'?'active':''}}"><a routerLinkActive="active" routerLink="/archive-documents" title="PCR File Archive">PCR File Archive</a></li>

 
   </ul>
</div>