<cm-navbar></cm-navbar>
<div id="primary" class="container">
  <!-- <h1>Delivery To Extraction</h1> -->
  <div class="panel panel-primary ability_titl" *ngIf="show">
    <div class="panel-heading">
      <div id="accessioning_number">
        <h5>Accessioning Number: {{ acc_no }}</h5>
      </div>
      <h3 class="panel-title" id="title">Stage: Delivery To Extraction</h3>
    </div>

    <div
      class="container"
      *ngIf="
        woudns_uti_rpp_process_in_house == 'No';
        else woudns_uti_rpp_process_in_house_html
      "
    >
      <form
        class="lwa-form"
        [formGroup]="extractionProcessData"
        (ngSubmit)="extractionDataSubmit(specimen_id, stageid)"
      >
        <div class="modal-body">
          <div [ngClass]="extractionDisplayFieldCss('pass')">
            <div class="col-md-6 new red">
              <input
                id="pass"
                formControlName="pass"
                class="regular-radio big-radio stage_status"
                value="1"
                type="radio"
                [(ngModel)]="pass"
              />
              <label for="pass">
                Pass &amp; Save
              </label>
            </div>
            <div class="col-md-6 new_g green">
              <input
                id="fail"
                formControlName="pass"
                class="regular-radio big-radio stage_status"
                value="0"
                type="radio"
                [(ngModel)]="pass"
              />
              <label for="fail">
                Fail &amp; Send Report
              </label>
            </div>
            <app-field-error-display
              [displayError]="extractionIsFieldValid('pass')"
              errorMsg="Please select one option"
            >
            </app-field-error-display>
          </div>

          <div style="margin-bottom: 10px;display: flex;width: 100%;">
            <label>Dimension:</label>
          </div>
          <div style="display: flex;width: 100%;">
            <div
              style="display: flex;width:25%;margin-right: 5px;"
              [ngClass]="extractionDisplayFieldCss('xvalue')"
            >
              <label
                style="margin-right: 15px;margin-top: 7px;text-align: left;width: 2%;"
                >X </label
              ><input
                type="number"
                id="xvalue"
                class="form-control"
                formControlName="xvalue"
                autofocus
                [(ngModel)]="xval"
              />
            </div>
            <app-field-error-display
              [displayError]="extractionIsFieldValid('xvalue')"
              errorMsg="X value required"
            >
            </app-field-error-display>
            <div
              style="display: flex;width: 25%;margin-right: 5px;"
              [ngClass]="extractionDisplayFieldCss('yvalue')"
            >
              <label
                style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;"
                >Y </label
              ><input
                type="number"
                id="yvalue"
                formControlName="yvalue"
                class="form-control"
                [(ngModel)]="yval"
              />
            </div>
            <app-field-error-display
              [displayError]="extractionIsFieldValid('yvalue')"
              errorMsg="Y value required"
            >
            </app-field-error-display>
            <div
              style="display: flex;width: 25%;"
              [ngClass]="extractionDisplayFieldCss('zvalue')"
            >
              <label
                style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;"
                >Z </label
              ><input
                type="number"
                id="zvalue"
                formControlName="zvalue"
                class="form-control"
                [(ngModel)]="zval"
              />
            </div>
            <app-field-error-display
              [displayError]="extractionIsFieldValid('zvalue')"
              errorMsg="Z value required"
            >
            </app-field-error-display>
          </div>
          <div id="addtional_description">
            <div style="width: 100%;display: flex;margin-top: 20px;">
              <div
                style="width: 8%;display: flex;"
                [ngClass]="extractionDisplayFieldCss('color')"
              >
                <label style="width: 100%;margin-right: 5px;">Color:</label>
              </div>
              <app-field-error-display
                [displayError]="extractionIsFieldValid('color')"
                errorMsg="Color is required"
              >
              </app-field-error-display>
              <div style="width: 100%;display: flex;margin-bottom: 20px;">
                <input
                  type="text"
                  class="form-control"
                  style="width: 84%;"
                  placeholder="Color"
                  id="color"
                  formControlName="color"
                  [(ngModel)]="color"
                />
              </div>
            </div>
          </div>
          <div
            id="addtional_description"
            [ngClass]="extractionDisplayFieldCss('pieces')"
          >
            <label>Pieces:</label>
            <label>
              <input
                type="radio"
                id="pieces1"
                value="1"
                formControlName="pieces"
                [(ngModel)]="pieces"
              />1
            </label>
            <label>
              <input
                type="radio"
                id="pieces2"
                value="2"
                formControlName="pieces"
                [(ngModel)]="pieces"
              />2
            </label>
            <label>
              <input
                type="radio"
                id="pieces3"
                value="3"
                formControlName="pieces"
                [(ngModel)]="pieces"
              />3
            </label>
            <label>
              <input
                type="radio"
                id="pieces4"
                value="multiple"
                formControlName="pieces"
                [(ngModel)]="pieces"
              />Multiple
            </label>
          </div>
          <app-field-error-display
            [displayError]="extractionIsFieldValid('pieces')"
            errorMsg="Pieces is required"
          >
          </app-field-error-display>
          <div
            style="margin-bottom: 20px; margin-top: 10px;    float: left;
                                    width: 100%;"
          >
            <div id="addtional_description">
              <label>Tissue Type:</label>
              <label>
                <input
                  type="radio"
                  id="nail"
                  value="nail"
                  formControlName="tissue"
                  [(ngModel)]="nail"
                />Nail
              </label>
              <label>
                <input
                  type="radio"
                  id="skin"
                  value="skin"
                  formControlName="tissue"
                  [(ngModel)]="nail"
                />Skin
              </label>
            </div>

            <div
              style="clear: both;"
              id="addtional_description"
              class="pcr-sec"
            >
              <label class="pcr-label">For PCR:</label>
              <label class="pcr-name">
                <input
                  type="checkbox"
                  value="pcr"
                  id="pcr"
                  (change)="show_pcr($event)"
                  formControlName="pcr"
                  [(ngModel)]="pcr_chk"
                />
              </label>

              <input
                type="text"
                id="pcr_val"
                *ngIf="filter || pcr_val"
                formControlName="pcr_val"
                [(ngModel)]="pcr_val"
              />
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a [routerLink]="['/pcr-stages']" class="new-backbtn1"
              ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back
            </a>
            <button
              type="submit"
              id="submit_process"
              class="popup-submit"
              value="Save"
            >
              <i class="fa fa-save" aria-hidden="true"></i> Save
            </button>
            <!-- <input id="submit_process" class="popup-submit" value="Save" type="submit"> -->
          </div>
        </div>
      </form>
    </div>

    <!-- woudn_process_in_house_html section  -->
    <ng-template #woudns_uti_rpp_process_in_house_html>
      <div class="container">
        <form
          class="lwa-form"
          [formGroup]="extractionProcessDataWounds"
          (ngSubmit)="extractionDataSubmitWounds(specimen_id, stageid)"
        >
          <div class="modal-body">
            <div [ngClass]="extractionDisplayFieldCss_wound_process('pass')">
              <div class="col-md-12 new red">
                <input
                  id="pass"
                  formControlName="pass"
                  class="regular-radio big-radio"
                  value="1"
                  type="radio"
                  [(ngModel)]="pass"
                />
                <label for="pass">
                  Pass &amp; Save
                </label>
              </div>

              <app-field-error-display
                [displayError]="extractionIsFieldValid('pass')"
                errorMsg="Please select one option"
              >
              </app-field-error-display>
            </div>

            <div
              style="margin-bottom: 20px; margin-top: 20px;    float: left;
                        width: 100%;"
              class="addtional_description_wound_process"
            >
              <div id="addtional_description">
                <label>Test Type:</label>
                <label>
                  <input
                    type="radio"
                    id="Swab"
                    value="Swab"
                    formControlName="wounds_test_type"
                    [(ngModel)]="wounds_test_type"
                  />
                  Swab
                </label>
                <label>
                  <input
                    type="radio"
                    id="Biopsy"
                    value="Biopsy"
                    formControlName="wounds_test_type"
                    [(ngModel)]="wounds_test_type"
                  />
                  Biopsy
                </label>
                <label>
                  <input
                    type="radio"
                    id="Aspirate"
                    value="Aspirate"
                    formControlName="wounds_test_type"
                    [(ngModel)]="wounds_test_type"
                  />
                  Aspirate
                </label>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <a [routerLink]="['/pcr-stages']" class="new-backbtn1"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back
              </a>
              <button
                type="submit"
                id="submit_process"
                class="popup-submit"
                value="Save"
              >
                <i class="fa fa-save" aria-hidden="true"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
