<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
 <div class="container">
     <div class="row">
         <div class="col-md-12">
             <div class="slider_cntent">	
                                         </div>
         </div>
     </div>
 </div>
</div>	                  
<div id="primary" class="content-area">
<main id="main" class="site-main" role="main">
<div class="inner_page">
 <div class="container">
     <div class="row">
           <div class="col-md-12">
               <h1 class="page_title">Contact Ability Diagnostics!</h1>
<div class="row">
<div class="col-md-7">
<div class="contact_form">
<form [formGroup]="contactForm" (ngSubmit) = "onSubmit()">

<div class="frm_rw">
<div class="frm_blk">
<label>Your Name (required)</label><p></p>
<div class="frm_fld">
<span class="wpcf7-form-control-wrap Name"><input type="text" formControlName="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="name" aria-required="true" aria-invalid="false" placeholder="Please Enter Your Name"></span>
<app-field-error-display 
[displayError]="isFieldValid('name')" 
errorMsg="Name is required.">
</app-field-error-display>
</div>
<p></p></div>
<div class="frm_blk">
<label>Your Email (required)</label><p></p>
<div class="frm_fld">
<span class="wpcf7-form-control-wrap email"><input type="email" formControlName="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="email" aria-required="true" aria-invalid="false" placeholder="Enter Email"></span>
<app-field-error-display 
[displayError]="isFieldValid('email')" 
errorMsg="Email is required.">
</app-field-error-display>
</div>
<p></p></div>
<div class="frm_blk">
<label>Subject  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (required)</label><p></p>
<div class="frm_fld">
<span class="wpcf7-form-control-wrap subject"><input type="text" formControlName="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" id="subject" aria-invalid="false" placeholder="Enter Subjects"></span>
<app-field-error-display 
[displayError]="isFieldValid('subject')" 
errorMsg="Subject is required.">
</app-field-error-display>
</div>
<p></p></div>
<div class="frm_blk">
<label>Your Message (required)</label><p></p>
<div class="frm_fld">
<span class="wpcf7-form-control-wrap Message"><textarea formControlName="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="message" aria-required="true" aria-invalid="false" placeholder="Enter Message"></textarea></span>
<app-field-error-display 
[displayError]="isFieldValid('message')" 
errorMsg="Message is required.">
</app-field-error-display>
</div>
<p></p></div>
<div class="frm_blk">
<label>&nbsp;</label><p></p>
<div class="frm_fld">
<div class="btn_blk">
 <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span>
</div>
</div>
</div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form>

</div>
</div>
<div class="col-md-5">
<div class="contact_info">
<p [innerHTML]=postsArray.site_page_desc></p>
<div class="ma_location"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.2127804434167!2d-111.79075097409063!3d40.35980608238342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d83dc3df0003f:0x7be513657a837686!2s858+S+Auto+Mall+Dr,+American+Fork,+UT+84003,+USA!5e0!3m2!1sen!2sin!4v1481102478505" width="300" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
</div>
</div>
           </div>
       </div>
   </div>
</div>
</main>
</div>
</div>