<div *ngIf="title === 'first'">
	<div class="col-md-12 close-btn">
		<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">Close</span>
			  </button></span> 
								</div>
		<div class="modal-body">
		<form class="lwa-form" [formGroup]="failRqForm" (ngSubmit) = "failRqSubmit()">
				<div class="col-md-12 new red" [ngClass]="displayFieldCss('lists')">
					<select formControlName="lists">
						<option hidden="" value="">Select Any Option</option>
						<option value="1"> RQ to Delivery to Extraction</option>
					</select>
					<app-field-error-display 
                    [displayError]="isFieldValid('lists')" 
                    errorMsg="Select any.">
                  </app-field-error-display>
				</div>
				<div class="col-sm-12" [ngClass]="displayFieldCss('comment')">
				<textarea formControlName="comment" placeholder="Gross Description" id="addtional_desc" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" required="required" spellcheck="false" data-gramm_editor="true"></textarea>	
				<app-field-error-display 
                    [displayError]="isFieldValid('comment')" 
                    errorMsg="Comment required.">
                  </app-field-error-display>	
				</div>
				<div class="col-md-12 text-center"><input id="submit_fail_batch" formControlName="submit_fail_batch" value="Save" type="submit"></div>
		</form>
		</div>
</div>
<div *ngIf="title === 'sec'">
		<div class="col-md-12 close-btn">
				<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
						<span aria-hidden="true">Close</span>
					  </button></span> 
										</div>
				<form class="lwa-form" [formGroup]="manualReviewProcessData" (ngSubmit) = "reviewProcessDataSubmit()">
				<div class="modal-body">
				<div [ngClass]="newDisplayFieldCss('report')">
				<div class="col-md-6 new red">
											<input id="pass" formControlName="report" (change)="chooseReport($event)" class="regular-radio big-radio stage_status" value="1" type="radio">
											<label for="pass">
												Pass &amp; Save
											</label>
				</div>
				<div class="col-md-6 new_g green">
											<input id="fail" formControlName="report" (change)="chooseReport($event)" class="regular-radio big-radio stage_status" value="0" type="radio">
											<label for="fail">
												Fail &amp; Send Report
											</label>
				</div>
				<app-field-error-display 
                    [displayError]="newIsFieldValid('report')" 
                    errorMsg="Comment required.">
				  </app-field-error-display>
				</div>
				<div class="col-md-12 new red" *ngIf="showDropDown" [ngClass]="newDisplayFieldCss('lists')">
						<select formControlName="lists">
							<option hidden="" value="">Select Any Option</option>
							<option value="0"> Cancel</option>
							<option value="1"> RQ to Delivery to Extraction</option>
							<option value="2"> RQ to Delivery to PCR</option>
							<option value="3"> RQ to Assign to Well</option>
						</select>
						<app-field-error-display 
						[displayError]="newIsFieldValid('lists')" 
						errorMsg="Comment required.">
					  </app-field-error-display>
				</div>
				<div class="col-md-12 text-center"><input id="submit_process" formControlName="submit_process_stage" value="Save" type="submit"></div>
				</div>
				</form>
</div>

<div *ngIf="title === 'third'">

		<div class="col-md-12 close-btn">
				<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
						<span aria-hidden="true">Close</span>
					  </button></span> 
										</div>
				<div class="modal-body">
						<div class="table-container">
								<form action="" method="post">
									   <div class="table-container">
										 <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
											   <thead>
												 <tr class="table_cls">
													   <th width="16%">
															   Batch Number
														   </th>
														   <th width="16%">
															   Action
														   </th>
														   <th width="12%">
															   Action By
														   </th>
														   <th width="12%">
															   Comment
														   </th>
														   <th width="12%">
															   Date
														   </th>
												 </tr>
											   </thead>               
											   <tbody id="specimens_list">         
												 <tr class="odd" *ngFor="let history of mf.data">                   
													 <td valign="middle">
														 <div>{{history.batch_num}}</div>
													 </td>
													 <td valign="middle" >
														 <div>{{history.action}}</div>
													 </td>
													 <td>
														   <div>{{history.action_by}}</div>
													 </td>
													 <td>
														   <div>{{history.comment}}</div>
													 </td>
													 <td>
														   <div>{{history.date}}</div>
													 </td>
												   </tr>     
												   <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
											   </tbody>
											   <tfoot>
												 <tr class="table_cls">
													   <th width="16%">
															   Batch Number
														   </th>
														   <th width="16%">
															   Action
														   </th>
														   <th width="12%">
															   Action By
														   </th>
														   <th width="12%">
															   Comment
														   </th>
														   <th width="12%">
															   Date
														   </th>
												 </tr>
												 <td colspan="7">
												   <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
												 </td>  
												 
											   </tfoot>
											 </table>
											 <div class="col-md-6 pull-right"></div>
											 <ng-template #customLoadingTemplate>
												 <div class="custom-class">
													 <h3>
														 Loading...
													 </h3>
													
												 </div>
											 </ng-template>
											 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
										 </div>
									   </form>
							   
							   </div>
				</div>
</div>


<div *ngIf="title === 'forth'">
		<div class="col-md-12 close-btn">
				<label style="margin-top: 9px;color: #fff;">{{acc_no}}</label>
				<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
						<span aria-hidden="true">Close</span>
					  </button></span> 
										</div>
				<form class="lwa-form" [formGroup]="extractionProcessData" (ngSubmit) = "extractionDataSubmit()">
				<div class="modal-body">
				<div [ngClass]="extractionDisplayFieldCss('pass')">
				<div class="col-md-6 new red">
											<input id="pass" formControlName="pass" class="regular-radio big-radio stage_status" value="1" type="radio" [(ngModel)]="pass">
											<label for="pass">
												Pass &amp; Save
											</label>
				</div>
				<div class="col-md-6 new_g green">
											<input id="fail" formControlName="pass" class="regular-radio big-radio stage_status" value="0" type="radio" [(ngModel)]="pass">
											<label for="fail">
												Fail &amp; Send Report
											</label>
				</div>
				<app-field-error-display 
                    [displayError]="extractionIsFieldValid('pass')" 
                    errorMsg="Please select one option">
				  </app-field-error-display>
				</div> 
			<!-- <div class="col-sm-12" [ngClass]="extractionDisplayFieldCss('addtional_desc')">
				<textarea formControlName="addtional_desc" placeholder="Gross Description" id="addtional_desc" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" required="required" spellcheck="false" data-gramm_editor="true"></textarea>	
				<app-field-error-display 
					[displayError]="extractionIsFieldValid('addtional_desc')" 
					errorMsg="Comment required.">
					</app-field-error-display>	
				</div> -->

					<div style="margin-bottom: 10px;display: flex;width: 100%;">
						<label>Dimension:</label>
						</div>
					 <div style="display: flex;width: 100%;">
					
					 <div style="display: flex;width:32%;margin-right: 5px;" [ngClass]="extractionDisplayFieldCss('xvalue')">
						 <label style="margin-right: 15px;margin-top: 7px;text-align: left;width: 2%;">X </label><input type="text" id="xvalue" class="form-control" formControlName="xvalue" autofocus [(ngModel)]="xval">
						</div>
						<app-field-error-display 
						[displayError]="extractionIsFieldValid('xvalue')" 
						errorMsg="X value required">
					</app-field-error-display>
						 <div style="display: flex;width: 32%;margin-right: 5px;" [ngClass]="extractionDisplayFieldCss('yvalue')">
						 <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Y </label><input type="number" id="yvalue" formControlName="yvalue" class="form-control" [(ngModel)]="yval">
						 </div>
						 <app-field-error-display 
						 [displayError]="extractionIsFieldValid('yvalue')" 
						 errorMsg="Y value required">
					 </app-field-error-display>
						 <div style="display: flex;width: 32%;" [ngClass]="extractionDisplayFieldCss('zvalue')">
						 <label style="margin-right: 15px;margin-top: 7px;text-align:left;width: 2%;">Z </label><input type="number" id="zvalue" formControlName="zvalue" class="form-control" [(ngModel)]="zval">
						 </div>
						 <app-field-error-display 
						 [displayError]="extractionIsFieldValid('zvalue')" 
						 errorMsg="Z value required">
					 </app-field-error-display>
					 </div>
					 <div id="addtional_description">
						<div style="width: 100%;display: flex;margin-top: 20px;">
						<div style="width: 8%;display: flex;" [ngClass]="extractionDisplayFieldCss('color')">
						<label style="width: 100%;margin-right: 5px;">Color:</label>
						</div>
						<app-field-error-display 
						 [displayError]="extractionIsFieldValid('color')" 
						 errorMsg="Color is required">
					 </app-field-error-display>
						<div style="width: 100%;display: flex;margin-bottom: 20px;">
						<input type="text" class="form-control" style="width: 100%;" placeholder="Color" id="color" formControlName="color" [(ngModel)]="color">
							</div>
							</div>
						</div>
						<div id="addtional_description" [ngClass]="extractionDisplayFieldCss('pieces')">
						<label>Pieces:</label>
							<label>
								<input type="radio" id="pieces1" value="1" formControlName="pieces" [(ngModel)]="pieces">1
							</label>
							 <label>
								<input type="radio" id="pieces2" value="2" formControlName="pieces" [(ngModel)]="pieces">2
							</label>
							 <label>
								<input type="radio" id="pieces3" value="3" formControlName="pieces" [(ngModel)]="pieces">3
							</label>
							 <label>
								<input type="radio" id="pieces4" value="multiple" formControlName="pieces" [(ngModel)]="pieces">Multiple
							</label>
						</div> 
						<app-field-error-display 
						[displayError]="extractionIsFieldValid('pieces')" 
						errorMsg="Pieces is required">
					</app-field-error-display>  
						<div id="addtional_description">
							<label>Tissue Type:</label>
								<label>
									<input type="radio" id="nail" value="nail" formControlName="tissue" [(ngModel)]="nail">Nail
								</label>
								 <label>
									<input type="radio" id="skin" value="skin" formControlName="tissue" [(ngModel)]="nail">Skin
								</label>
								
							</div>
							<!-- <div id="cassette-description">
								<div style="width: 100%;display: inline-block;">
									<label style="width: 100%;">Cassettes:</label>
									</div>
									<div style="width: 86%;display: inline-block;margin-bottom: 20px;" [ngClass]="extractionDisplayFieldCss('cassettes')">
								<input type="text" class="form-control"  style="width: 100%;" placeholder="Cassettes" id="cassettes" formControlName="cassettes" [(ngModel)]="cassettes" ng-model="cassettes">
							 
									</div>
									<app-field-error-display 
									[displayError]="extractionIsFieldValid('cassettes')" 
									errorMsg="Cassettes is required">
								</app-field-error-display>
								</div>
						 -->
								<!-- <div id="addtional_description" class="pcr-sec">
								<label class="pcr-name">
									<input type="checkbox" value="pcr" id="pcr" formControlName="pcr" (change)="show_pcr($event)">
								</label>
								<label class="pcr-label">For PCR:</label>
								<input type="text" id="pcr_val" formControlName="pcr_val" [(ngModel)]="pcr_val">
								</div> -->

								<div id="addtional_description" class="pcr-sec">
								<label class="pcr-label">For PCR:</label>
									<label class="pcr-name">
										<input type="checkbox" value="pcr" id="pcr" (change)="show_pcr($event)" formControlName="pcr" [(ngModel)]="pcr_chk">
									</label>
									
									<input type="text" id="pcr_val" *ngIf="filter || pcr_val"  formControlName="pcr_val" [(ngModel)]="pcr_val">
								</div>

				<div class="col-md-12 text-center"><input id="submit_process" class="popup-submit" value="Save" type="submit"></div>
				</div>
				</form>
</div>

<div *ngIf="title === 'fifth'">
		<div class="col-md-12 close-btn">
				<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
						<span aria-hidden="true">Close</span>
					  </button></span> 
										</div>
				<form class="lwa-form" [formGroup]="pcrProcessData" (ngSubmit) = "pcrDataSubmit()">
				<div class="modal-body">
				<div [ngClass]="pcrDisplayFieldCss('report')">
				<div class="col-md-6 new red">
											<input id="pass" formControlName="report" class="regular-radio big-radio stage_status" value="1" type="radio">
											<label for="pass">
												Pass &amp; Save
											</label>
				</div>
				<div class="col-md-6 new_g green">
											<input id="fail" formControlName="report" class="regular-radio big-radio stage_status" value="0" type="radio">
											<label for="fail">
												Fail &amp; Send Report
											</label>
				</div>
				<app-field-error-display 
                    [displayError]="pcrIsFieldValid('report')" 
                    errorMsg="Comment required.">
				  </app-field-error-display>
				</div>
				<div class="col-sm-12" [ngClass]="pcrDisplayFieldCss('addtional_desc')">
				<textarea formControlName="addtional_desc" placeholder="Gross Description" id="addtional_desc" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" required="required" spellcheck="false" data-gramm_editor="true"></textarea>	
				<app-field-error-display 
					[displayError]="pcrIsFieldValid('addtional_desc')" 
					errorMsg="Comment required.">
					</app-field-error-display>	
				</div>
				<div class="col-md-12 text-center"><input id="submit_process" formControlName="submit_process_stage" value="Save" type="submit"></div>
				</div>
				</form>
</div>

<div *ngIf="title === 'sixth'">
		<div class="col-md-12 close-btn">
			<span>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					<span aria-hidden="true">Close</span>
				</button>
			</span> 
		</div>
		<div class="modal-body">
			<div>
				<p *ngFor="let pending_res of data" class="bg-info note-{{pending_res.note_id}}" [class.read]="pending_res.note_read === 'Read'" id="note-{{pending_res.note_id}}" >
					<a href="javascript:void(0);" (click)="read_notification(pending_res.note_id)">{{pending_res.notification_details}}</a><a class="close-bt" href="javascript:void(0)" (click)="dismiss_notification(pending_res.note_id);" style="text-align: left">X</a>
				</p>
			</div>
		<div class="col-md-12 text-center"><a id="submit_process" (click)="modalRef.hide()" [routerLink]="['/notification-list']">View All</a></div>
		</div>
	</div>

	<div *ngIf="title === 'reviewreport'">
		<div class="col-md-12 close-btn">
				<span><button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
						<span aria-hidden="true">Close</span>
					  </button></span> 
										</div>
				<form class="lwa-form" [formGroup]="reviewData" (ngSubmit) = "reportReviewSubmit(accessioning_no)">
				<div class="modal-body">
				<div [ngClass]="reportCss('report')">
				<div class="col-md-6 new red">
											<input id="pass" formControlName="report" (change)="chooseReport($event)" class="regular-radio big-radio stage_status" value="1" type="radio">
											<label for="pass">
												Requeue
											</label>
				</div>
				<div class="col-md-6 new_g green">
											<input id="fail" formControlName="report" (change)="chooseReport($event)" class="regular-radio big-radio stage_status" value="0" type="radio">
											<label for="fail">
												Cancel/Fail
											</label>
				</div>
				<app-field-error-display 
                    [displayError]="reportValid('report')" 
                    errorMsg="Select Any one option.">
					</app-field-error-display>
					<div *ngIf="showCancel; else elsepart;">
					<div class="col-sm-12">
						<textarea formControlName="comment" placeholder="Canceled Report Comment" id="addtional_desc" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" required="required" spellcheck="false" data-gramm_editor="true"></textarea>	
						<app-field-error-display 
                    [displayError]="reportValid('comment')" 
                    errorMsg="Please enter a canceled report comment.">
					</app-field-error-display>
					</div>
					<div class="col-sm-12">
						<textarea formControlName="internal_comment" placeholder="Internal Comment" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" spellcheck="false" data-gramm_editor="true"></textarea>	
					</div>
					</div>
					<ng-template #elsepart>
						<div class="col-sm-12">
							<textarea formControlName="comment" placeholder="Comment" id="addtional_desc" class="form-control gross_des" autofocus="" style="width: 100%; z-index: auto; position: relative; line-height: 17.1429px; font-size: 12px; transition: none 0s ease 0s; background: transparent !important;" required="required" spellcheck="false" data-gramm_editor="true"></textarea>	
							<app-field-error-display 
											[displayError]="reportValid('comment')" 
											errorMsg="Please enter a requeue comment.">
						</app-field-error-display>
						</div>
					</ng-template>
					
				</div>
				<div *ngIf="showCancel; else divelsepart;">
					<div class="col-md-6 text-right"><a (click)="viewCancelReport(accessioning_no)" class="mynewbtn">View Report</a></div>
					<div class="col-md-6 text-left"><input id="submit_process" value="Save" type="submit"></div>
				</div>
				<ng-template #divelsepart>
					<div class="col-md-12 text-center"><input id="submit_process" value="Save" type="submit"></div>
				</ng-template>
				</div>
				</form>
</div>

