<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
	<h1>Opss!! You are in wrong Place.</h1>
	<h2> Your are not able to access this page, Strictly Prohibited </h2>
	<p>&nbsp;</p>
    <p style="text-align: center">
    	<img src="{{home_ban}}" width="300" height="300" alt="Prohibited" title="Opps!! You are in wrong Place.">
    </p> 
  </div>
</div>