<cm-navbar></cm-navbar>
<div id="content" class="site-content">
<div class="content-wrap">
  <div class="container">
    <div class="content-area col-md-4"></div>
    <div id="primary" class="content-area col-md-8">
      <h1>Histo Average Stage Time</h1>
       <form>
              <div class="specimen_border">
                <div class="row">
                  <div class="col-md-4 speciman_top">
                    <span class="analysis_right">Search by period:</span>
                    <input type="text" class="form-control datepicker hasDatepicker" name="from_create_date" id="from_create_date" value="" placeholder="From Create Date">
                  </div> 
                  <div class="col-md-4 speciman_top">
                    <span class="analysis_right">To </span>
                    <input type="text" class="form-control datepicker hasDatepicker" name="to_create_date" id="to_create_date" value="" placeholder="To Create Date">
                  </div>
                  <div class="col-md-2 no_padding3">
                    <input type="submit" name="search_filter" value="Search" id="submit" class="form-control reset_button">
                  </div>
                  <div class="col-md-2 no_padding3">
                    <a href="#" class="form-control reset_button">Reset</a> 
                  </div>
                  <div class="clearfix"></div>

                   <div class="col-md-2 no_padding3" style="margin-top:15px">
                   <a href="#" class="reset_button"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load All Records</a> 
                      </div> 
                      
                      <div class="col-md-2 no_padding3" style="margin-top:15px">
                   <a href="#" class="reset_button"><i class="fa fa-chevron-down" aria-hidden="true"></i> Load Last One Month Records</a> 
                      </div>
                </div>
              </div> 
            </form>
          <div class="table-container" id="avg-time">
           <div id="specimen_list_wrapper" class="dataTables_wrapper"><div class="dataTables_length" id="specimen_list_length"><label>Show <select name="specimen_list_length" aria-controls="specimen_list" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="specimen_list_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="specimen_list"></label></div><table class="table table-striped listing_table doodle dataTable" cellspacing="0" width="100%" id="specimen_list" role="grid" aria-describedby="specimen_list_info" style="width: 100%;">
              <thead>
                <tr class="table_cls" role="row"><th width="15%" class="listed_box sorting_asc" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                    # Accessioning Number
                  : activate to sort column descending" style="width: 133px;">
                    # Accessioning Number
                  </th><th width="17%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                                     
                      Delivery to lab (Day-Hour-Minute)                    
                  : activate to sort column ascending" style="width: 152px;">
                    <div class="listed_txt">                 
                      Delivery to lab (Day-Hour-Minute)                    </div>
                  </th><th width="17%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                                     
                      Gross (Day-Hour-Minute)                    
                  : activate to sort column ascending" style="width: 152px;">
                    <div class="listed_txt">                 
                      Gross (Day-Hour-Minute)                    </div>
                  </th><th width="17%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                                     
                      Microtomy (Day-Hour-Minute)                    
                  : activate to sort column ascending" style="width: 152px;">
                    <div class="listed_txt">                 
                      Microtomy (Day-Hour-Minute)                    </div>
                  </th><th width="17%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                                     
                      QC Check (Day-Hour-Minute)                    
                  : activate to sort column ascending" style="width: 152px;">
                    <div class="listed_txt">                 
                      QC Check (Day-Hour-Minute)                    </div>
                  </th><th width="15%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                    Pending Specimen List
                  : activate to sort column ascending" style="width: 132px;">
                    Pending Specimen List
                  </th><th width="15%" class="listed_box sorting" tabindex="0" aria-controls="specimen_list" rowspan="1" colspan="1" aria-label="
                     Pending Reports
                   : activate to sort column ascending" style="width: 132px;">
                     Pending Reports
                   </th></tr>
              </thead>
              <tbody>
<tr id="tr_910" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 170328-0001-NF                  </td>
                  <td>
                  6 hours, 34 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 33 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 31 minutes                  
                  </td>
                  <td>
                      <span style="color:red;">6 hours, 31 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 31 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 23 hours, 4 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_911" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 170328-0002-NF                  </td>
                  <td>
                  6 hours, 41 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 40 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 39 minutes                  
                  </td>
                  <td>
                      <span style="color:red;">6 hours, 38 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 37 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 22 hours, 58 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_912" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 170328-0003-NF                  </td>
                  <td>
                  6 hours, 44 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 44 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 43 minutes                  
                  </td>
                  <td>
                      <span style="color:red;">6 hours, 41 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 41 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 22 hours, 55 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_913" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 170328-0004-NF                  </td>
                  <td>
                  6 hours, 44 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 44 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 44 minutes                  </td>
                  <td>
                      <span style="color:red;">6 hours, 41 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 41 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 22 hours, 56 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_914" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 170328-0005-NF                  </td>
                  <td>
                  6 hours, 58 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 58 minutes</span>                  
                  </td>
                  <td>
                    
                  <span style="color:red;">8 days, 19 hours, 21 minutes</span>                  
                  </td>
                  <td>
                      <span style="color:red;">6 hours, 58 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 57 minutes</span>                  
                    </td>
                  <td>
                    3 minutes                  
                    </td>
                
                </tr><tr id="tr_920" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 170329-0004-NF                  </td>
                  <td>
                  6 hours, 31 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 30 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 30 minutes                  </td>
                  <td>
                      <span style="color:red;">6 hours, 6 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 4 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 6 hours, 15 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_921" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 170329-0005-NF                  </td>
                  <td>
                  6 hours, 30 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 30 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 30 minutes                  </td>
                  <td>
                      <span style="color:red;">6 hours, 6 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 4 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 6 hours, 15 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_922" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 170329-0006-NF                  </td>
                  <td>
                  6 hours, 42 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 42 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 42 minutes                  </td>
                  <td>
                      <span style="color:red;">6 hours, 13 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 11 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 6 hours, 9 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_923" role="row" class="odd">
                  <td valign="middle" class="sorting_1">
                    # 170329-0007-NF                  </td>
                  <td>
                  6 hours, 51 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 51 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 50 minutes                  </td>
                  <td>
                      <span style="color:red;">6 hours, 19 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 17 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 6 hours, 4 minutes</span>                  
                    </td>
                
                </tr><tr id="tr_924" role="row" class="even">
                  <td valign="middle" class="sorting_1">
                    # 170329-0008-NF                  </td>
                  <td>
                  6 hours, 51 minutes                  
                  </td>
                  <td>
                  <span style="color:red;">6 hours, 51 minutes</span>                  
                  </td>
                  <td>
                    
                  6 hours, 51 minutes                  
                  </td>
                  <td>
                      <span style="color:red;">6 hours, 19 minutes</span>                  
                      </td>
                    <td>
                    <span style="color:red;">6 hours, 17 minutes</span>                  
                    </td>
                  <td>
                    <span style="color:red;">1 day, 6 hours, 4 minutes</span>                  
                    </td>
                
                </tr></tbody>
              <tfoot>
              <tr class="table_cls"><th width="15%" class="listed_box" rowspan="1" colspan="1">Average Time</th><th width="17%" class="listed_box" rowspan="1" colspan="1">6 Hours</th><th width="17%" class="listed_box" rowspan="1" colspan="1">6 Hours</th><th width="17%" class="listed_box" rowspan="1" colspan="1">8 Hours</th><th width="17%" class="listed_box" rowspan="1" colspan="1">5.9 Hours</th><th width="17%" class="listed_box" rowspan="1" colspan="1">5.9 Hours</th><th width="17%" class="listed_box" rowspan="1" colspan="1">3 Days92.7 Hours</th></tr>
            </tfoot>
            </table><div class="dataTables_info" id="specimen_list_info" role="status" aria-live="polite">Showing 1 to 10 of 100 entries</div><div class="dataTables_paginate paging_simple_numbers" id="specimen_list_paginate"><a class="paginate_button previous disabled" aria-controls="specimen_list" data-dt-idx="0" tabindex="0" id="specimen_list_previous">Previous</a><span><a class="paginate_button current" aria-controls="specimen_list" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a class="paginate_button " aria-controls="specimen_list" data-dt-idx="6" tabindex="0">10</a></span><a class="paginate_button next" aria-controls="specimen_list" data-dt-idx="7" tabindex="0" id="specimen_list_next">Next</a></div></div>
          </div>
        <h2 class="blue-bg"><strong>Time Limit For Different Stages</strong></h2>
            <div class="table-responsive pcr-shw-tbl">
        <table class="table table-bordered">
    <thead>
      <tr class="table_cls">
        <th><strong>PCR Stages</strong></th>
        <th>Delivery to Extraction</th>
        <th>Delivery to PCR</th>
          <th>Assign Well</th>
          <th>Data Analysis</th>
          <th>Manual Review</th>
          <th>Report Generate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
<b>Time (hours)</b>
</td>
        <td>72</td>
        <td>1</td>
          <td>24</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
      </tr>
   
    </tbody>
  </table>
            </div>    
    </div>
  </div>
</div>

</div>