<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="inner_page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page_title">Certificates</h1>
              <div class="abut_cntnt">
                <a
                  href="{{
                    url
                  }}assets/uploads/certificatePdf/certificate_one.pdf"
                  target="_blank"
                >
                  <img
                    class="alignleft size-full wp-image-141"
                    src="{{
                      url
                    }}assets/uploads/certificateimage/certificate_one.jpg"
                    alt="about_img"
                    width="300"
                    height="316"
                    srcset="{{url}}assets/uploads/certificateimage/certificate_one.jpg"
                    sizes="(max-width: 300px) 85vw, 300px"
                  />
                </a>
              </div>
              <div class="abut_cntnt">
                <a
                  href="{{
                    url
                  }}assets/uploads/certificatePdf/certificate_three.pdf"
                  target="_blank"
                >
                  <img
                    class="alignleft size-full wp-image-141"
                    src="{{
                      url
                    }}assets/uploads/certificateimage/certificate_three.jpg"
                    alt="about_img"
                    width="300"
                    height="316"
                    srcset="{{url}}assets/uploads/certificateimage/certificate_three.jpg"
                    sizes="(max-width: 300px) 85vw, 300px"
                  />
                </a>
              </div>
              <div class="abut_cntnt">
                <a
                  href="{{
                    url
                  }}assets/uploads/certificatePdf/certificate_two.pdf"
                  target="_blank"
                >
                  <img
                    class="alignleft size-full wp-image-141"
                    src="{{
                      url
                    }}assets/uploads/certificateimage/certificate_two.jpg"
                    alt="about_img"
                    width="300"
                    height="316"
                    srcset="{{url}}assets/uploads/certificateimage/certificate_two.jpg"
                    sizes="(max-width: 300px) 85vw, 300px"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
