<!--Header-->

<div class="site_hdr">
  <div class="middle_hdr">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="logo">
            <a
              routerLinkActive="active"
              routerLink="/home"
              class="custom-logo-link"
              rel="home"
              itemprop="url"
              ><img
                src="{{ url }}assets/frontend/main_images/logo.png"
                class="custom-logo"
                alt="Ability Diagnostics"
                itemprop="logo"
            /></a>
          </div>
        </div>
        <div class="col-md-9 right_top_menu">
          <div class="top_nav_menu">
            <div class="menu-top-header-menu-container">
              <div *ngIf="loggedIn; else elsepart">
                <ul id="menu-top-header-menu" class="top_menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"
                  >
                    <a routerLink="/login" routerLinkActive="active"
                      >Portal Login</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom"
                  >
                    <a
                      href="https://secure.cpteller.com/terminal/portal/?op=ZNl7iYeDheUd"
                      target="_blank"
                      >Make a Payment</a
                    >
                  </li>
                </ul>
              </div>
              <ng-template #elsepart>
                <ul id="menu-top-header-menu" class="top_menu">
                  <li
                    *ngIf="labdoctor"
                    id="menu-item-287"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"
                  >
                    <a [routerLink]="['/archive']">Archive</a>
                  </li>
                  <li
                    *ngIf="laboratory || labdoctor || aps_sales_manager"
                    id="menu-item-350"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-350"
                  >
                    <a [routerLink]="['/lab-analytics']">Lab Analytics</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-676"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"
                      >
                        <a [routerLink]="['/histo-pcr-analytics']"
                          >Histo PCR Anlytics</a
                        >
                      </li>
                      <li
                        id="menu-item-506"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506"
                      >
                        <a [routerLink]="['/short-code-analytics']"
                          >Short Code Analytics</a
                        >
                      </li>
                      <li
                        id="menu-item-569"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-569"
                      >
                        <a [routerLink]="['/lab-data-analytics']">Lab Data</a>
                      </li>
                      <li
                        id="menu-item-400"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"
                      >
                        <a [routerLink]="['/diagnoses-analytics']"
                          >Diagnoses Analytics</a
                        >
                      </li>
                      <li
                        id="menu-item-481"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481"
                      >
                        <a [routerLink]="['/avg-turn-around']"
                          >Average Turnaround Time</a
                        >
                      </li>
                      <li
                        id="menu-item-484"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484"
                      >
                        <a [routerLink]="['/slide-analytics']"
                          >Slides Analytics</a
                        >
                      </li>
                      <li
                        id="menu-item-511"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-511"
                      >
                        <a [routerLink]="['/histo-avg-stage-time']"
                          >Histo Average Stages Time</a
                        >
                      </li>
                      <li
                        id="menu-item-684"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-684"
                      >
                        <a [routerLink]="['/pcr-avg-stage-time']"
                          >PCR Average Stages Time</a
                        >
                      </li>
                      <li
                        id="menu-item-687"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"
                      >
                        <a [routerLink]="['/specimen-tracking']"
                          >Specimen Tracking</a
                        >
                      </li>
                      <li
                        id="menu-item-688"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-688"
                      >
                        <a [routerLink]="['/full-specimen-tracking']"
                          >Full Specimen Tracking</a
                        >
                      </li>
                      <li
                        id="menu-item-697"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"
                      >
                        <a [routerLink]="['/clinical-report']"
                          >Clinician Report</a
                        >
                      </li>
                      <li
                        id="menu-item-700"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700"
                      >
                        <a [routerLink]="['/quality-reports']"
                          >Quality Report</a
                        >
                      </li>
                      <li
                        id="menu-item-701"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"
                      >
                        <a [routerLink]="['/reference-lab-report']"
                          >Reference Lab Report</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="data_entry_oparator"
                    id="menu-item-350"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-350"
                  >
                    <a [routerLink]="['/lab-analytics']">Lab Analytics</a>
                    <ul class="sub-menu">
                      <!-- <li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a [routerLink]="['/histo-pcr-analytics']">Histo PCR Anlytics</a></li> -->
                      <li
                        id="menu-item-684"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-684"
                      >
                        <a [routerLink]="['/pcr-avg-stage-time']"
                          >PCR Average Stages Time</a
                        >
                      </li>
                      <li
                        id="menu-item-687"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"
                      >
                        <a [routerLink]="['/specimen-tracking']"
                          >Specimen Tracking</a
                        >
                      </li>
                      <li
                        id="menu-item-697"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"
                      >
                        <a [routerLink]="['/clinical-report']"
                          >Clinician Report</a
                        >
                      </li>
                      <li
                        id="menu-item-701"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"
                      >
                        <a [routerLink]="['/reference-lab-report']"
                          >Reference Lab Report</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="labdoctor || generic_account"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-230"
                  >
                    <a [routerLink]="['/pending-specimen-list']"
                      >Pending Specimen List
                    </a>
                  </li>
                  <li
                    *ngIf="laboratory || aps_sales_manager"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-232"
                  >
                    <a [routerLink]="['/specimens-list']">Specimen Area</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/upload-specimen']"
                          >Upload Specimen</a
                        >
                      </li>
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/specimens-add']"
                          >Add New Specimen</a
                        >
                      </li>
                      <li
                        id="menu-item-260"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260"
                      >
                        <a [routerLink]="['/suspended']">Suspend List</a>
                      </li>
                      <li
                        id="menu-item-270"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"
                      >
                        <a [routerLink]="['/qc-confirmation']"
                          >QC Confirmation</a
                        >
                      </li>
                      <li
                        id="menu-item-456"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"
                      >
                        <a [routerLink]="['/cancelled-specimens']"
                          >Cancelled Specimens</a
                        >
                      </li>
                      <li
                        id="menu-item-274"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"
                      >
                        <a [routerLink]="['/listed-specimen-stages']"
                          >Specimen Stages</a
                        >
                      </li>
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/archive-specimens-list']"
                          >Specimen Archive</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="data_entry_oparator"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-232"
                  >
                    <a [routerLink]="['/specimens-list']">Specimen Area</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/upload-specimen']"
                          >Upload Specimen</a
                        >
                      </li>
                      <li
                        *ngIf="acc_cntrl"
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/specimens-add']"
                          >Add New Specimen</a
                        >
                      </li>
                      <li
                        *ngIf="acc_cntrl"
                        id="menu-item-260"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260"
                      >
                        <a [routerLink]="['/suspended']">Suspend List</a>
                      </li>
                      <li
                        *ngIf="acc_cntrl_qc"
                        id="menu-item-270"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"
                      >
                        <a [routerLink]="['/qc-confirmation']"
                          >QC Confirmation</a
                        >
                      </li>
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/archive-specimens-list']"
                          >Specimen Archive</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="laboratory || aps_sales_manager"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-232"
                  >
                    <a [routerLink]="['/pcr-stages']">PCR Stages</a>
                    <ul class="sub-menu">
                      <li>
                        <a [routerLink]="['/batch-delete']">Batch Delete</a>
                      </li>
                      <li>
                        <a [routerLink]="['/pcr-submitted-reports']"
                          >Submitted Reports</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/archive-pcr-submitted-reports']"
                          >Archive Submitted Reports</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/report-generate']"
                          >Report Generate</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/archive-documents']"
                          >PCR File Archive</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="labdoctor || generic_account || aps_sales_manager"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-232"
                  >
                    <a href="javascript: void(0);">Reports</a>
                    <ul class="sub-menu">
                      <li
                        *ngIf="labdoctor || generic_account"
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/pending-reports']"
                          >Pending Reports</a
                        >
                      </li>
                      <li
                        id="menu-item-270"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"
                      >
                        <a [routerLink]="['/submitted-reports']"
                          >Submitted Reports</a
                        >
                      </li>
                      <li
                        id="menu-item-270"
                        *ngIf="labdoctor || generic_account"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"
                      >
                        <a [routerLink]="['/archive-submitted-reports']"
                          >Archive Submitted Reports</a
                        >
                      </li>
                      <li
                        *ngIf="labdoctor || generic_account"
                        id="menu-item-456"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"
                      >
                        <a [routerLink]="['/amended-reports']"
                          >Amended Reports</a
                        >
                      </li>
                      <li
                        *ngIf="labdoctor || generic_account"
                        id="menu-item-456"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"
                      >
                        <a [routerLink]="['/pcr-submitted-reports']"
                          >PCR Submitted Reports</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="office_manager"
                    id="menu-item-232"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-232"
                  >
                    <a [routerLink]="['/data-entry-people-list']"
                      >Data Entry People</a
                    >
                    <ul class="sub-menu">
                      <li
                        id="menu-item-309"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"
                      >
                        <a [routerLink]="['/add-data-entry-people']"
                          >Add Data Entry People</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    *ngIf="
                      laboratory ||
                      labdoctor ||
                      data_entry_oparator ||
                      office_manager ||
                      generic_account ||
                      aps_sales_manager
                    "
                    id="menu-item-287"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"
                  >
                    <a [routerLink]="['/myaccount']" class="acc-my"
                      >My Account</a
                    >
                  </li>
                  <li
                    *ngIf="data_entry_oparator"
                    id="menu-item-492"
                    class="noteicon menu-item menu-item-type-post_type menu-item-object-page menu-item-492"
                  >
                    <a
                      href="javascript: void(0);"
                      (click)="displayPendingNotifications()"
                      >Notifications</a
                    >
                  </li>
                  <li
                    *ngIf="
                      laboratory ||
                      labdoctor ||
                      data_entry_oparator ||
                      office_manager ||
                      aps_sales_manager
                    "
                    id="menu-item-492"
                    class="noteicon menu-item menu-item-type-post_type menu-item-object-page menu-item-492"
                  >
                    <a [routerLink]="['/physician-notes']">Notes</a>
                  </li>
                  <li
                    id="menu-item-339"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339"
                  >
                    <a class="btn" (click)="logout_user()">Logout</a>
                  </li>
                </ul>
              </ng-template>
            </div>
            <span> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <div class="hdr_btm">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-3"></div>
          <div class="col-md-8 col-sm-9">
            <div class="main_mnu">
              <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="primary-menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item"
                  >
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a routerLink="/about" routerLinkActive="active">About</a>
                  </li>
                  <!-- <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a href="https://www.covidability.com" target="_blank"
                      >Covid-19</a
                    >
                  </li> -->
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a routerLinkActive="active" routerLink="/nails"
                      >Nail Fungus</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a routerLinkActive="active" routerLink="/wound-care"
                      >Wound Care</a
                    >
                  </li>
                  <li
                  class="menu-item menu-item-type-post_type menu-item-object-page"
                >
                  <a routerLinkActive="active" routerLink="/uti"
                    >UTI</a
                  >
                 </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a routerLinkActive="active" routerLink="/white-papers"
                      >Research</a
                    >
                  </li>

                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a routerLinkActive="active" routerLink="/contact"
                      >Contact</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="hdr_margin"></p>
</div>
