<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Average Turnaround Time</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border">
          <div class="row">
            <div class="list-mid">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <!-- <div class="col-md-1">
                  
                  <span class="analysis_right">Search by period:</span>
                </div> -->
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">From Date: </span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Create Date" formControlName="from_date" />
                <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">To Date:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="To Create Date" formControlName="to_date" />
                <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 no_padding3">
                <input class="form-control srch-btn reset_button btn-blue" type="submit" name="wp-submit"
                  id="lwa_wp-submit" value="Search" tabindex="100">

              </div>
              <div class="col-md-2 no_padding3">
                <a href="javascript:void(0);" class="form-control rest-btn reset_button btn-blue"
                  (click)="resetForm()">Reset</a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="table-container">
        <strong *ngIf="searchData" class="show_physician_list"> Total Specimen added: <span>{{specimen_count}}</span>
        </strong>
        <br>
        <strong *ngIf="searchData" class="show_physician_list">Average Turn around Time:
          <span>{{avg_time}}</span>
        </strong>
        <p style="float: right;">Seacrch By Accessioning Number: <input type="text"
            (keyup)='search($event.target.value)'></p>
        <div id="from_specimen_date">
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;"
            *ngIf="searchData">
            <thead>
              <tr class="table_cls">
                <th width="30%">
                  <mfDefaultSorter by="assessioning_num">Reports Completed Specimens Accessioning Number
                  </mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="specimen_create_date">Accessioning Number Start Date </mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="nail_create_date">Report Generate Start Date </mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="working_days">Turn Around Time </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody id="specimens_list">
              <tr class="odd" *ngFor="let specimens of mf.data">
                <td valign="middle">
                  <div>{{specimens.assessioning_num}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.specimen_create_date}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.nail_create_date}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.working_days}}</div>
                </td>
              </tr>
              <tr class="odd" *ngIf="no_data_status">
                <td colspan="5">{{no_data}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="table_cls">
                <th width="30%">Reports Completed Specimens Accessioning Number</th>
                <th width="20%">Accessioning Number Start Date</th>
                <th width="20%">Report Generate Start Date</th>
                <th width="20%">Turn Around Time </th>
              </tr>
              <td colspan="4" style="border: none;">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>

            </tfoot>
          </table>
          <!-- ------------------------------------------------------------------------------------------------------------ -->
          <!-- ------------------------------------------------------------------------------------------------------------ -->
          <!-- ------------------------------------------------------------------------------------------------------------ -->
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;"
            *ngIf="!searchData">
            <thead>
              <tr class="table_cls">
                <th width="30%">
                  <mfDefaultSorter by="assessioning_num">Reports Completed Specimens Accessioning Number
                  </mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="difference">Turn Around Time </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody id="specimens_list">
              <tr class="odd" *ngFor="let specimens of mf.data">
                <td valign="middle">
                  <div>{{specimens.assessioning_num}}</div>
                </td>
                <td valign="middle">
                  <div>{{specimens.difference}}</div>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="table_cls">
                <th width="30%">Reports Completed Specimens Accessioning Number</th>
                <th width="20%">Turn Around Time </th>
              </tr>
              <td colspan="2" style="border: none;">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
              </td>

            </tfoot>
          </table>

          <div class="pull-right">
            <div class="show_physician_list"><strong>Showing Number of Specimen: </strong>
              <span>{{specimen_count}}</span></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>