<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div id="registration-form" class="form">
        <form class="lwa-form">
          <div class="bg-primary heading">View Specimen</div>
          <div class="add_physicin">
            <div class="col-md-6 no_padding">
              <div class="col-sm-12 no_padding" *ngIf="partners_company_name">
                <div style="width: 100%;margin: 10px auto;display: inline-block;"> 
                  <label style="width: 23%;">Company Name :</label>
                  <p style="font-size: 12px;float: left;">{{partners_company_name}}</p>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group">
                  <label>Date Collected :</label>
                  <label>{{data?.collection_date}}</label>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group">
                  <label>Time Collected :</label>
                
                  <label>{{data?.collection_time}}</label>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group">
                  <label>Date received :</label>
                  <label>{{data?.date_received}}</label>
                </div>
              </div>
              <div class="col-md-12 no_padding">
                <div class="form-group no_margin1">
                  <label>Bill :</label>
                  <div class="form_group_left">
                    <div class="form_group_left" *ngIf="bill_1">
                      <input type="checkbox" class="form-control2" id="bill_insurence" value="1" checked disabled><span>Insurance </span>
                    </div>
                    <div class="form_group_left" *ngIf="!bill_1">
                      <input type="checkbox" class="form-control2" id="bill_insurence" value="1" disabled><span>Insurance </span>
                    </div>
                    <div class="form_group_left" *ngIf="bill_2">
                      <input type="checkbox" class="form-control2" id="bill_patient" value="2" checked disabled><span>Patient</span>
                    </div>
                    <div class="form_group_left" *ngIf="!bill_2">
                      <input type="checkbox" class="form-control2" id="bill_patient" value="2" disabled><span>Patient</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 no_padding" *ngIf="test_type">
                <div style="width: 100%;margin: 10px auto;display: inline-block;">
                  <label>Test Type :</label>
                  <p style="font-size: 12px;float: left;">{{test_type}}</p>
                </div>
              </div>
              <div class="col-sm-12 no_padding" *ngIf="process_done">
                <div style="width: 100%;margin: 10px auto;display: inline-block;"> 
                  <label>Process Done :</label>
                  <p style="font-size: 12px;float: left;">{{process_done}}</p>
                </div>
              </div>
             
            </div>
            <div id="primary" class="content-area_form1 col-md-6">
          
              <div class="form_right">
              
                  <h3>Physician Information</h3>
                  {{physicians_list?.name}}<br>{{physicians_list?.phy_email}}<br>{{physicians_list?.phy_add}}<br>{{physicians_list?.mob}}<br>						

                <div class="clear"></div>
                <div id="physician_det"></div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
          <h2 class="frm-hrd">Patient Information</h2>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Last Name :</label>
              <label>{{data?.p_lastname}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>First Name :</label>
              <label>{{data?.p_firstname}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Street Address :</label>
              <label>{{data?.patient_address}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Apt #</label>
              <label>{{data?.apt}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>City :</label>
              <label>{{data?.patient_city}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>State :</label>
              <label>{{data?.patient_state}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Zip Code :</label>
              <label>{{data?.patient_zip}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Phone Number :</label>
              <label>{{data?.patient_phn}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Date of Birth :</label>
              <label>{{data?.patient_dob}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Age :</label>
              <label>{{data?.patient_age}}</label>
            </div>
     
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Sex :</label>
              <label>{{data?.patient_sex}}</label>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Patient ID :</label>
              <label>{{data?.patient_id}}</label>
            </div>
          </div>
          <div class="clear"></div>
          <h2 class="frm-hrd">Billing / Insurance  Information</h2>
          <h3 class="frm-hrd">Subscriber Primary Insurance </h3>
          <div class="col-md-6 no_padding">
            <div class="form-group ">
              <label>Subscriber Name/ Relation to Subscriber :</label>
              <div class="form_group_left" *ngIf="subscriber_1">
                <input type="checkbox" class="form-control2" id="self" value="Self" checked disabled>
                <span>Self</span>
              </div>
              <div class="form_group_left" *ngIf="!subscriber_1">
                <input type="checkbox" class="form-control2" id="self" value="Self" disabled>
                <span>Self</span>
              </div>
              <div class="form_group_left"  *ngIf="subscriber_2">
                <input type="checkbox" class="form-control2" id="spouse" value="Spouse" checked disabled>
                <span>Spouse</span>
              </div>
              <div class="form_group_left"  *ngIf="!subscriber_2">
                <input type="checkbox" class="form-control2" id="spouse" value="Spouse" disabled>
                <span>Spouse</span>
              </div>
              <div class="form_group_left" *ngIf="subscriber_3">
                <input type="checkbox" class="form-control2" id="dependent" value="Dependent" checked disabled>
                <span>Dependent</span>
              </div>
              <div class="form_group_left" *ngIf="!subscriber_3">
                <input type="checkbox" class="form-control2" id="dependent" value="Dependent" disabled>
                <span>Dependent</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Insurance  Name :</label>
              <label>{{data?.pri_insurance_name}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Address :</label>
              <label>{{data?.pri_address}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>City :</label>
              <label>{{data?.pri_city}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>State :</label>
              <label>{{data?.pri_state}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Zip Code :</label>
              <label>{{data?.pri_zip}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group ">
              <label>Insurance Type : </label>
              <label>{{data?.ins_type}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Employer name :</label>
              <label>{{data?.pri_employee_name}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Member ID # :</label>
              <label>{{data?.pri_member_id}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Subscriber DOB  :</label>
              <label>{{data?.pri_subscriber_dob}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group cnt">
              <label>Group / Contract  :</label>
              <label>{{data?.pri_group_contact}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Subscriber Sex  :</label>
              <label>{{data?.pri_sex}}</label>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Medicare ID # :</label>
              <label>{{data?.pri_medicare_id}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Medicaid ID # :</label>
              <label>{{data?.pri_madicaid_id}}</label>
            </div>
          </div>
          <div class="clear"></div>
          <h3 class="frm-hrd">Subscriber Secondary Insurance</h3>
          <div class="col-md-6 no_padding">
            <div class="form-group ">
              <label>Subscriber Name/ Relation to Subscriber :</label>
              <div class="form_group_left" *ngIf="subscriber_1">
                <input type="checkbox" class="form-control2" id="self" value="Self" checked disabled>
                <span>Self</span>
              </div>
              <div class="form_group_left" *ngIf="!subscriber_1">
                <input type="checkbox" class="form-control2" id="self" value="Self" disabled>
                <span>Self</span>
              </div>
              <div class="form_group_left"  *ngIf="subscriber_2">
                <input type="checkbox" class="form-control2" id="spouse" value="Spouse" checked disabled>
                <span>Spouse</span>
              </div>
              <div class="form_group_left"  *ngIf="!subscriber_2">
                <input type="checkbox" class="form-control2" id="spouse" value="Spouse" disabled>
                <span>Spouse</span>
              </div>
              <div class="form_group_left" *ngIf="subscriber_3">
                <input type="checkbox" class="form-control2" id="dependent" value="Dependent" checked disabled>
                <span>Dependent</span>
              </div>
              <div class="form_group_left" *ngIf="!subscriber_3">
                <input type="checkbox" class="form-control2" id="dependent" value="Dependent" disabled>
                <span>Dependent</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Insurance  Name :</label>
              <label>{{data?.sec_insurance_name}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Address :</label>
              <label>{{data?.sec_address}}</label>
            </div>
          </div>
          <span class="spanSuccess"></span>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>City :</label>
              <label>{{data?.sec_city}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>State :</label>
              <label>{{data?.sec_state}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Zip Code :</label>
              <label>{{data?.sec_zip}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Employer name :</label>
              <label>{{data?.sec_employee_name}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Member ID # :</label>
              <label>{{data?.sec_member_id}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Subscriber DOB  :</label>
              <label>{{data?.sec_subscriber_dob}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group cnt">
              <label>Group / Contract  :</label>
              <label>{{data?.sec_group_contact}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Subscriber Sex  :</label>
              <label>{{data?.sec_sex}}</label>
            </div>
          </div>
          <div class="clear">
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Medicare ID # :</label>
              <label>{{data?.sec_medicare_id}}</label>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>Medicaid ID # :</label>
              <label>{{data?.sec_medicaid_id}}</label>
            </div>
          </div>
          <div class="clear"></div>
          <h2 class="frm-hrd">Clinical Information</h2>
          <div class="row">
            <div class="after_clinical"></div>
            <div class="col-md-6"><label style="width:100%;">Specimen#1:</label></div>
            <input type="hidden" value="1"/>
            <div class="col-md-6">
              <label> Accessioning number:</label>
              <div class="form_group_left">
                <label>{{data?.assessioning_num}}</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="form_group_left" *ngIf="first">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="right" value="Right" checked disabled>
                  <span>Right</span>
                </div>
                <div class="form_group_left" *ngIf="!first">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="right" value="Right" disabled>
                  <span>Right</span>
                </div>
                <div class="clear"></div>
                <div class="form_group_left" *ngIf="second">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="left" value="Left" checked disabled>
                  <span>Left</span>
                </div>
                <div class="form_group_left" *ngIf="!second">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="left" value="Left" disabled>
                  <span>Left</span>
                </div>
                <div class="clear"></div>
                <div class="form_group_left" *ngIf="third">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="biopsy" value="Biopsy" checked disabled>
                  <span>Biopsy</span>
                </div>
                <div class="form_group_left" *ngIf="!third">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="biopsy" value="Biopsy" disabled>
                  <span>Biopsy</span>
                </div>
                <div class="clear"></div>
                <div class="form_group_left" *ngIf="fourth">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="excision" value="Excision" checked disabled>
                  <span>Excision</span>
                </div>
                <div class="form_group_left" *ngIf="!fourth">
                  <input type="checkbox" class="form-control2 clinical_specimen" id="excision" value="Excision" disabled>
                  <span>Excision</span>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group_rgt">
                <label><strong>Nail Unit (Histopathology: choose stain(s) Option):</strong> 
                Nail Unit Distrophy (Fungi/ Neoplusm/ Trauma)</label>
                <div class="form_group_rgt" *ngIf="nail_unit1">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit5" value="5" checked disabled>
                  <div class="inr-spn">Combination Testing (PCR and Histopathology - choose stains below)</div>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit1">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit5" value="5" disabled>
                  <div class="inr-spn">Combination Testing (PCR and Histopathology - choose stains below)</div>
                </div>
                <div class="histopathology-options">
                  <p>Histopathology Options:</p>
                </div>
                <div class="form_group_rgt" *ngIf="nail_unit2">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit1" value="1" checked disabled> 
                  <div class="inr-spn">PAS/GMS/FM - Higher Sensitivity and Melanin screen</div>
                  <div class="check_at_least_one"></div>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit2">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit1" value="1" disabled> 
                  <div class="inr-spn">PAS/GMS/FM - Higher Sensitivity and Melanin screen</div>
                  <div class="check_at_least_one"></div>
                </div>
                <div class="form_group_rgt" *ngIf="nail_unit3">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit2" value="2" checked disabled>
                  <div class="inr-spn">PAS/GMS - Higher Sensitivity</div>
                  <div class="check_at_least_one"></div>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit3">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit2" value="2" disabled>
                  <div class="inr-spn">PAS/GMS - Higher Sensitivity</div>
                  <div class="check_at_least_one"></div>
                </div>
                <div class="form_group_rgt" *ngIf="nail_unit4">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit6" value="6" checked disabled><span>Reflex to PCR for identification</span>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit4">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit6" value="6"  disabled><span>Reflex to PCR for identification</span>
                </div>
                <div class="histopathology-options">
                  <p>PCR Options:</p>
                </div>
                <div class="form_group_rgt" *ngIf="nail_unit5">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit4" value="4" checked disabled><span>PCR Only</span>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit5">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit4" value="4" disabled><span>PCR Only</span>
                </div>
                <div class="form_group_rgt" *ngIf="nail_unit6">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit7" value="7" checked disabled><span>Reflex to Histopathology to confirm presence of disease</span>
                </div>
                <div class="form_group_rgt" *ngIf="!nail_unit6">
                  <input type="checkbox" class="form-control3 nail_unit" id="sep0_nail_unit7" value="7" disabled><span>Reflex to Histopathology to confirm presence of disease</span>
                </div>
              </div>
            </div>
            <div class="clear">
              <p></p>
            </div>
            <div class="col-md-7 no_padding">
              <div class="form-group">
                <label>Special Site Indicator: </label>
                <label>{{data?.site_indicator}}</label>
              </div>
            </div>
            <div class="clear">
              <p></p>
            </div>
            <div id="extra_specimen_det"></div>
            <div class="clear">
              <p></p>
            </div>
         
            <div class="col-md-12 no_padding">
              <div class="form-group">
                <label>Did the physician sign the form or is it on file? </label>
                <label>{{msg_yes}}</label>
              </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-1 no_padding col-sm-2 col-xs-3" align="center" style="margin-top:25px;">
              <a [routerLink]="['/specimens-list']" class="btn btn-primary">Back</a>
            </div>
           
            <div class="clear">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
