.add_physicin label, .cnt label {
    width: 21%;
}

label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
    margin-right: 10px;
}
.filter_value, label {
    float: left;
    text-align: left;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}

.form-control {
    width: 70%;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.no_padding, .no_padding1, .no_padding2 {
    padding-right: 50px;
    padding-left: 0;
}
#registration-form .form-group, #title, .add_physicin .col-md-1.no_padding {
    text-align: left;
}

#add_specimen_form .form-group, #add_specimen_form .form-group_rgt {
    position: relative;
}
.form-group, .view_form-group {
    width: 100%;
    margin: 15px auto;
    display: inline-block;
}
.add_physicin {
    margin: 30px 0 0;
}
h2.frm-hrd {
    font-weight: 400;
    margin: 0;
    background: #34b6e6;
    padding: 8px 10px;
    color: #fff;
    font-size: 24px;
    clear: both;
    text-transform: uppercase;
}
.form_group_left {
    float: left;
    margin-right: 10px;
}
#format {
    font-size: 13px;
    padding: 3px;
}
.blank-list { width: 100%;}
.form_group_left span {
   
    font: 11px/19px Lato;
    text-align: left;
    vertical-align: top;
}
.form_group_left input[type=checkbox] {
    width: auto;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}
#add_specimen_form h3, #registration-form h3 {
    margin: 10px 0;
}

h3.frm-hrd {
    font-weight: 400;
    margin-top: 30px;
    clear: both;
}
.after_clinical {
    margin-top: 18px;
}
.clear {
    clear: both;
}

.clear, .n_clear {
    clear: both;
}
.form-group_rgt {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-group_rgt label, .form_group_rgt {
    width: 100%;
}
.inr-spn {display: inline-block;}
label.full {
    width: 100%;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    
}
.form_right {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    font-size: 12px !important;
    padding: 8px;
}
.form_group_left label { width:100%}