<cm-navbar></cm-navbar>
<div class="content-wrap">
    <div class="container" >
      <div>
        <div class="content-area col-md-4"></div>
        <div id="primary" class="content-area col-md-8">
          <h1>amended-reports</h1>
          <form [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
              <div class="specimen_border">
                <div class="row">
     
     
     
                <div class="col-md-4 speciman_top specimen_bottom">
                  <label>Physician Name:</label>
     
     
                 <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
           <mat-form-field class="example-full-width">
             <input type="text" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
             <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                     <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
               <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
                   {{group}}
               </mat-option>
             </mat-optgroup>
             </mat-autocomplete>
           </mat-form-field>
                 </div>
     
     
     
                 <div class="col-md-4 speciman_top specimen_bottom">
                  <label>Specimen Collection Date:</label>
                   <input type="text" class="form-control" formControlName="collected_date" value="" placeholder="Collected Date (mm-dd-YY)" bsDatepicker [bsConfig]="datePickerConfig"/>
                </div>
                <div class="col-md-4 speciman_top specimen_bottom">
               <label>Scan Specimen BarCode:</label>
                   <input type="text" class="form-control" id="scan_code" value="" placeholder="Scan Specimen BarCode" formControlName="barcode" >
           </div>
                </div> 
               <div class="row">
           <div class="col-md-4 speciman_top specimen_bottom">
                 <label>Patient First Name:</label>
                   <input type="text" class="form-control"  value="" placeholder="Patient First Name" formControlName="firstname"/>
                 </div>
                 <div class="col-md-4 speciman_top specimen_bottom">
                 <label>Patient Last Name:</label>
                   <input type="text" class="form-control" value="" placeholder="Patient Last Name" formControlName="lastname" />
                 </div>
                <div class="col-md-4 speciman_top specimen_bottom">
                 <label>Accessioning Number :</label>
                   <input type="text" class="form-control" value="" placeholder="Accessioning Number" formControlName="assessioning_num"/>
                 </div>
                 </div> 
                <div class="row">
              <div class="col-md-2 no_padding3">
                 <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100">
                 </div>
              <div class="col-md-2 no_padding3">
              <button (click)="resetForm()">Reset</button>
                 </div> 
            </div>
             </div> 
             </form>
          <p class="clear"></p>
          <div class="clearfix"></div>
          <div class="alert alert-success alert-dismissable" id="message_id" style="display:none; padding-top: 10px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> <span id="successmsg"></span>
          </div>
        
          <div class="table-container">
            <table class="table table-striped listing_table" cellspacing="0" width="100%" id="pending_report" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr class="users_list">
                  <th width="11%"><mfDefaultSorter by="collection_date">Report Date</mfDefaultSorter><span class="glyphicon sort-icon"></span></th>
                  
                  <th width="12%" ><mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter><span class="glyphicon sort-icon" ></span></th>
                  
                  <th width="12%" ><mfDefaultSorter by="p_firstname">Patient Name</mfDefaultSorter><span class="glyphicon sort-icon"></span></th>
                  
                  <th width="15%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter><span class="glyphicon sort-icon"></span></th>
                  
                  <th width="12%">Status</th>							
							    <th width="12%">View PDF</th>
							    <th width="50%">Action</th>
						      					
                </tr>
              </thead>
              
              
              <tbody id="display_pending_report_list" *ngIf="!no_data_status">
                
                <tr *ngFor="let specimens of mf.data">
                  <td>{{specimens.collection_date | date: 'yyyy-MM-dd'}}</td>
                  <td>{{specimens.physician_name}}</td>
                  <td>{{specimens.p_firstname}} {{specimens.p_lastname}}</td>
                  <td>{{specimens.assessioning_num}}</td>
                  <td>
                      <div *ngIf="specimens.status == 'Inactive'">
                       Pending
                      </div>
                      <div *ngIf="specimens.status !== 'Inactive'">
                          Submitted
                      </div>
                      </td>
                      <td valign="middle">
            <a href="{{url}}histo_report_pdf/{{specimens.nail_pdf}}" target="_blank" class="blue-btn">VIEW PDF</a>
                      </td>
                      
                        <td>
                            <a class="blue-btn" routerLinkActive="active" routerLink="/view-amended-report/{{specimens.nail_funagl_id}}"><i class="fa fa-eye"></i> View Report</a>          
                           
            <a href="javascript:void(0);" class="blue-btn track-btn" (click)="displaytrackmodal(specimens.assessioning_num)"><i class="fa fa-map-marker"></i>Track</a> 
                       </td>
                      
        
                </tr>
              </tbody>

              <tbody id="display_pending_report_list" *ngIf="no_data_status">
                <tr id="no_data_found" class="text-center"><td colspan="12">{{no_data}}</td></tr>
              </tbody>
              
              <tfoot>
                  <tr class="users_list">
                    <th width="11%">Report Date</th>
                    <th width="12%">Physician Name</th>
                    <th width="12%">Patient Name</th>
                    <th width="15%">Accessioning Number</th>
                    <th width="12%">Status</th>							
                    <th width="12%">View PDF</th>
                    <th width="12%">Action</th>													
                  </tr>
                  <td colspan="9" *ngIf="!no_data_status">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td> 
                </tfoot>
    
            </table>    
            <div class="col-md-6"></div>
                <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Pending Report Count: </strong> <span>{{count}}</span></div></div>
          </div> 
        </div>
      </div>
      <div class="modal fade track-modal stage_list" id="form_modal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
           
          </div>                 
      </div>   
      </div>	
    </div>