.inner_banner {
    min-height: 350px;
    background-size: cover!important;
    margin-bottom: 30px;
}
.inner_banner .slider_cntent {
    padding: 0;
}

.slider_cntent {
    padding: 340px 0 0;
    max-width: 70%;
}
@media screen and (min-width: 56.875em){

.content-area {
    width: 100%;
    padding-left: 0;
}
}
.inner_page {
    min-height: 300px;
    padding: 0 0 60px;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.alignleft {
    float: left;
    margin: .375em 1.75em 1.75em 0;
}
.abut_cntnt p {
    font: 16px/24px Lato;
}

.inner_page p {
    margin: 0 0 10px;
    padding: 0;
    color: #5c5c5c;
    font: 400 16px Lato;
}
.a_cntnt {
    padding: 15px 0 0;
}
.abut_cntnt h2 {
    font: 700 24px Lato;
    color: #34B6E6;
    margin: 0;
    padding: 0 0 10px;
}
.abut_cntnt p {
    font: 16px/24px Lato;
}