<cm-navbar></cm-navbar>
<style>
  .reflex_test p {
    line-height: 23px;
  }

</style>
<div id="content" class="site-content">
  <!-- <div class="inner_banner" [ngStyle]="{'background': 'url(' + home_ban + ') no-repeat'}">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="slider_cntent"> 
                                                      </div>
                      </div>
                  </div>
              </div>
           </div>                    -->

  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="post-9" class="post-9 page type-page status-publish hentry">
              <h1 class="page_title">OUR UTI MOLECULAR TEST</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 contnt content1">
            <p>Ability Diagnostics is a patient-centric and science-based laboratory committed to 
              offering the best-in-class UTI molecular testing technology to help manage the more difficult and complex infectious disease diagnoses.</p>
          </div>
              <div class="col-md-5"><img src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/one.jpg" alt="" width="360"
               /></div>

               <div class="col-md-5">
                <img class="content2_img" t src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/two.jpg" alt="" width="360 !important"
                /></div>
                  <div class="col-md-7">
                    <div class="content2">
                      <h2>David Bolick, MD, MSc, CWSP<br>	Lead Pathologist, Ability Diagnostics</h2>
                     <p>“Over the last 24 years, I have participated in the development of dozens of molecular PCR assays. This test for UTI’s is exceptional. This state-of-the-art technology provides rapid detection and robust performance.“</p>
                     </div>
                  </div>

                  <div class="col-md-12">
                    <div class="content3">
                      <h2>This assay consists of the following:</h2>
                      <ul>
                        <li>Detection of 19 urinary tract pathogens</li>
                        <li>Quantitates the bioburden of each organism</li>
                        <li>Identifies and reports the presence of resistance genes</li>
                        <li>Provides options for treatment based on resistance genes specific for the organisms detected</li>
                      </ul>
                      <p>The combination of speed, accuracy, quantification, and the diagnostic output is unparalleled in the industry.</p>
                    </div>
                   </div>


                   <div class="col-md-7">
                    <div class="content4">
                      <h2>From the National Institutes of Health </h2>
                     <p>“The need for improved and efficient diagnosis of UTI is considerable. The ability to initiate evidence-based treatment guided by rapid profiling of bacterial pathogens and antimicrobial susceptibility can improve patient care and help stem the rise of multidrug-resistant pathogens.“</p>
                     </div>
                   </div>
                      <div class="col-md-5">
                        <img class="content4_img" t src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/three.jpg" alt=""
                        />
                      </div>

                      <div class="col-md-12">
                        <div class="content5">
                          <h2>Our UTI Test Panel </h2>
                          <h3>We offer a comprehensive urinary tract infection pathogen detection assay with the inclusion of identifying antibiotic resistance through gene amplification and analysis.</h3>
                          <h3>Ability Diagnostics’ UTI test provides substantial benefits to conventional UTI screening used through standard culturing.</h3>
                          <h3>Culture vs Molecular UTI Screening:</h3>
                          <p>Standard bacteria cultures can take up to 3 days to show results. The use of Real-Time PCR analysis allows for Ability Diagnostics to correctly analyze pathogenic genetic components to improve the accuracy of results. Our laboratory technicians are well trained in PCR techniques for molecular diagnostics in order to provide results in about 24 hours of receiving the sample. Molecular genetics offers a faster and more accurate way of detecting pathogens, but it is a more precise way to provide reports to physicians to allow for better treatment plans.</p>
                        </div>
                       </div>

                       <div class="col-md-7">
                        <div class="content6">
                          <h2>Accuracy of Results:</h2>
                         <p>Culture growth is dependent on the microbial presence within a sample. This causes
                          difficulty when culturing samples to provide results. Sometimes the microbial presence is
                          not enough to provide accurate results through culturing. Since UTI screening is done
                          through specimen samples, it would need to be done within hours of the sample being
                          collected.</p>
                          <p>The samples need to be cultured in a timely manner to avoid false-positive results that can
                            skew the overall diagnosis. Molecular diagnostic techniques are not dependent on the
                            volume of microbial presence. This is because we are able to extract the DNA of any
                            microbes that are present in the sample with great sensitivity and accuracy.</p>
                         </div>
                       </div>
                          <div class="col-md-5">
                            <img class="content4_img" t src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/four.jpg" alt=""
                            />
                          </div>

                          <div class="col-md-12 content6">
                            <h2>Co-Infection Sensitivity and Specificity:</h2>
                            <p>It is not uncommon for conventional culture analysis to miss pathogens. This is due to the barriers of specificity that are present when culturing a sample. Cultures do not have the ability to isolate samples with more than two pathogens. Co-infection is a crucial part of diagnosing a sample, but cultures cannot provide results that differentiate more than one to two different microorganisms. This can also result in antibiotic resistance to certain pathogens that may not be detected through culturing. Conversely, molecular diagnostic techniques, such as PCR, allow for us to detect pathogens with much more pathogen sensitivity and specificity. This means that we are able to isolate the genetic components of a variety of microbes that are present within a sample. Not only are we able to identify co-infected specimens, but we are able to classify which pathogens are present in low volumes and in high volumes. </p>
                             <p>Specifically in UTI screening, PCR is used to detect both the presence of bacteria and yeast in one test. This can be compared to traditional culturing’s need to use two separate cultures to identify bacteria and yeast independently.</p>
                          </div>

                          <div class="col-md-12 content_pdf">
                            <p> </p>
                            <p class="fl_center clk_img">Click on image to see full report</p>
                            <p><a href="../abadmin/assets/uploads/Service/uti_sample_report.pdf" target="_blank"> <img src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/uti_report_image.jpg" alt="" width="1024px"> </a></p>
                            <p class="fl_center clk_img">Click on image to see full report</p>
                            <p> </p>
  
                          </div>
                          <!--     table  sample pdf  -->

                          <div class="col-md-12 content3">
                            <h2>UTI CULTURE SCREENING:</h2>
                            <ul>
                              <li>Takes 3-5 days to complete (can lead to antibiotic resistance)</li>
                              <li>Specificity and sensitivity are compromised due to the inherent risk of missing pathogens within a culture.</li>
                              <li>Culture growth is dependent on microbial load within a sample (can cause false-negative results and prevent culture growth)</li>
                              <li>Results are skewed after hours of sample collection (the longer the sample sits, the more variable the pathogen presence is)</li>
                              <li>Cannot detect co-infection with accuracy (can only detect 1-2 microorganisms)</li>
                            </ul><br>

                            <h2>UTI MOLECULAR DIAGNOSTIC SCREENING:</h2>
                            <ul>
                              <li>UTI pathogens are detected with greater accuracy (pathogen DNA is identified to show the presence of the exact pathogen)</li>
                              <li>Results are dependent on DNA presence of pathogens as opposed to the volume of microbes in the sample.</li>
                              <li>High specificity and sensitivity allows for detection of co-infections with numerous pathogens, and even low microbial presence)</li>
                              <li>Reports antibiotic resistance to help physicians diagnose and treat patients accurately and efficiently.</li>
                            </ul>
                          </div>

                          <div class="col-md-7">
                            <div class="content3">
                              <h2>URINARY TRACT INFECTIONS:</h2>
                              <p>UTI’s are a result of bacteria that can go to any part of your urinary system including your kidneys, bladder, ureters, and urethra. Ability Diagnostics uses PCR analysis to detect resistance markers and cultures to identify pathogen colonization.</p>
                              <h3>Problems with UT Identification:</h3>
                              <ul>
                                <li>Symptoms may be vague and can be seen in a variety of ailments. </li>
                                <li>It has been shown that a typical UTI culture can miss up to 75% of UTI diagnosis.</li>
                                <li>This means that due to the inaccuracy of cultures, many patients have inaccurate diagnoses that can have dangerous consequences.</li>
                              </ul>
                            </div>
                           </div>
                           <div class="col-md-5">
                            <img class="content4_img" t src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/five.jpeg" alt=""
                            />
                          </div>

                          <div class="col-md-12">
                            <p><b>Mutli-Drug Resistant Organisms</b> are microorganisms that develop resistance to medication such as antibiotics. As bacteria multiply and proliferate, they develop resistance to antibiotics. This has made treatment of UTIs much more difficult for physicians. </p>
                            <p><b>This illustrates the importance of accurate diagnostic practices in order to give the right antibiotics to the right individuals. </b></p>
                            <p>Individuals that show the presence of Multi-Drug Resistant organisms must not be given antibiotics that cannot interact with the infection. Similarly, individuals who take antibiotics due to false-positive results can develop antibiotic resistance, which will be much more difficult to treat in the future.</p>
                          </div>

                          <div class="col-md-4">
                            <div class="content3">
                              <h2>UTI Pathogen Detection:</h2>
                              <br>
                              <ul style="list-style: none;">
                                <li>1. Candida species</li>
                                <li>2. Proteus mirabilis</li>
                                <li>3. Klebsiella pneumoniae</li>
                                <li>4. Morganellamoranii</li>
                                <li>5. Serratia marescens</li>
                                <li>6. Klebsiella oxytocai</li>
                                <li>7. Enterobacter cloacae</li>
                                <li>8. Providence suartii</li>
                                <li>9. Pseudomonas aeruginosa</li>
                                <li>10. Streptococcus agalactiae</li>
                              </ul>
                            </div>
                           </div>
                           <div class="col-md-4">
                            <div class="content3">
                              <br>
                              <ul style="list-style: none; margin-top: 90px;">
                                <li>11. E. coli</li>
                                <li>12. Citobacterfreundii</li>
                                <li>13. Staphylococcus aureus</li>
                                <li>14. Staphylococcus saprophyticus</li>
                                <li>15. Enterococcus faecalis</li>
                                <li>16. Ureaplasmaurealyticum</li>
                                <li>17. Mycoplasma hominis</li>
                              </ul>
                            </div>
                           </div>
                           <div class="col-md-4">
                            <img class="content4_img" t src="https://www.abilitydiagnostics.com/beta-2.0/abadmin/assets/uploads/Service/six.jpg" alt=""
                            />
                          </div>
                          <div class="col-md-12 bottom">
                            <p><b>Symptoms:</b> While UTI’s can be asymptomatic, infected individuals may experience a strong urge to urinate, burning sensation during urination, small amounts of urine passing, cloudy urine, bloody urine, or pain in the pelvic region.</p>

                              <p><b>Causes and Risk factors: </b> UTI’s are most common among women. The most common region to be infected is the bladder, which is known as cystitis. This infection is caused by E.Coli, which is found throughout the GI tract which can be easily exposed to the urethra.</p>

                              <p><b>Treatments and Prevention: </b> In order to prevent UTI development, it is essential to drink plenty of fluids. Some fluids such as cranberry juice have been known to be a novel way to prevent UTI’s. It is important to maintain genital hygiene and limit the exposure of bacteria from the anus. It is also critical to urinate after sexual intercourse to flush out any bacteria that may have come in contact with the urethra.</p>
                          </div>

        </div>
      </div>
    </main>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img class="popup_img" #popupImg src="">
      </div>
    </div>

  </div>
</div>
