<cm-navbar></cm-navbar>
<div class="content-wrap">
<div class="container" >
  <div>
		<div class="content-area col-md-4"></div>
		<div id="primary" class="content-area col-md-8">
			<h1>Pending Reports</h1>
			<form [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
          <div class="specimen_border">
            <div class="row">
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Physician Name:</label> 
       <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
       <mat-form-field class="example-full-width">
         <input type="text" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
         <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                 <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
           <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
               {{group}}
           </mat-option>
         </mat-optgroup>
         </mat-autocomplete>
       </mat-form-field>
             </div>
             <div class="col-md-4 speciman_top specimen_bottom">
              <label>Specimen Collected Date:</label>
               <input type="text" class="form-control" formControlName="report_date" placeholder="Report Date (MM/DD/YY)" bsDatepicker [bsConfig]="datePickerConfig"/>
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
           <label>Scan Specimen BarCode:</label>
               <input type="text" class="form-control" id="scan_code" placeholder="Scan Specimen BarCode" formControlName="barcode" >
       </div>
            </div> 
           <div class="row">
       <div class="col-md-4 speciman_top specimen_bottom">
             <label>Patient First Name:</label>
               <input type="text" class="form-control"  placeholder="Patient First Name" formControlName="firstname"/>
             </div>
             <div class="col-md-4 speciman_top specimen_bottom">
             <label>Patient Last Name:</label>
               <input type="text" class="form-control" placeholder="Patient Last Name" formControlName="lastname" />
             </div>
            <div class="col-md-4 speciman_top specimen_bottom">
             <label>Accessioning Number :</label>
               <input type="text" class="form-control" placeholder="Accessioning Number" formControlName="assessioning_num"/>
             </div>
             </div> 
            <div class="row">
          <div class="col-md-2 no_padding3">
             <input type="submit" name="wp-submit" id="lwa_wp-submit" value="Search" tabindex="100">
             </div>
          <div class="col-md-2 no_padding3">
          <button type="button" (click)="resetForm()">Reset</button>
             </div>             
        </div>
         </div> 
         </form>

         <div class="col-md-12 stage-tat">
          <span>Pending Report TAT</span>
        <a data-toggle="modal" data-target="#stageTat">
          <i aria-hidden="true" class="fa fa-bell"></i><sup>{{stageTATCount?stageTATCount:0}}</sup>
        </a>
        </div>

			<p class="clear"></p>
			<div class="clearfix"></div>
			<div class="alert alert-success alert-dismissable" id="message_id" style="display:none; padding-top: 10px;">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
				<strong>Success!</strong> <span id="successmsg"></span>
      </div>	
      <div class="ability_titl">	
			<div class="table-container">
				<table class="table table-striped listing_table" cellspacing="0" width="100%" id="pending_report" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
					<thead>
						<tr class="users_list">
							<th width="11%">Report Date<span class="glyphicon sort-icon"></span></th>
							
							<th width="12%" >Physician Name<span class="glyphicon sort-icon" ></span></th>
							
							<th width="12%" >Patient Name<span class="glyphicon sort-icon"></span></th>
							
							<th width="15%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter><span class="glyphicon sort-icon"></span></th>
							
							<th width="12%" >Instruction Type<span class="glyphicon sort-icon"></span></th>
							<th width="11%">View PDF</th>
							<th width="25%">Action</th>							
						</tr>
					</thead>
					<tbody id="display_pending_report_list">
					  <tr id="{{specimens.nail_funagl_id}}" *ngFor="let specimens of mf.data">
							<td>{{specimens.report_date}}</td>
							<td>{{specimens.physician_name}}</td>
							<td>{{specimens.p_firstname}} {{specimens.p_lastname}}</td>
							<td>{{specimens.assessioning_num}}</td>
							<td>{{specimens.ins_type}}</td>
							<td valign="middle">							 
							<a href="{{url}}histo_report_pdf/{{specimens.nail_pdf}}" target="_blank" class="blue-btn"> Histo PDF</a>							
							 <span *ngIf="specimens.report_pdf_name">
							 <a href="{{url}}pcr_report_pdf/{{specimens.report_pdf_name}}" target="_blank" class="blue-btn" >PCR PDF</a>
							 </span> 
							 <span  style="color: #ff0000"  *ngIf="!specimens.report_pdf_name"> No PCR Ordered</span>
							</td>
						    <td>
                    <!-- <i class="fa fa-pencil-square-o"></i> -->
                    <a class="blue-btn" routerLink="/edit-pending-report/{{specimens.nail_funagl_id}}"> Edit</a>
							    <button class="blue-btn" type="button" title="Send Report" (click)="sendReport(specimens.nail_funagl_id)" *ngIf="user_role!='generic_account'">Send Report</button>
                	<a href="javascript:void(0);" (click)="displaytrackmodal(specimens.assessioning_num)" class="blue-btn track-btn" title="Track Specimen"><i class="fa fa-map-marker"></i>Track</a> 
						   </td>
					  </tr>
            <tr  *ngIf="no_data_status"><td colspan="7">{{no_data}}</td></tr>
          </tbody>          
          <tfoot>
              <tr class="users_list">
                <th width="11%">Report Date</th>
                <th width="12%">Physician Name</th>
                <th width="12%">Patient Name</th>
                <th width="15%">Accessioning Number</th>
                <th width="12%">Instruction Type</th>
                <th width="11%">View PDF</th>
                <th width="25%">Action</th>														
              </tr>
              <td style="border: 0;" colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td> 
            </tfoot>

        </table>
			  <div class="col-md-6"></div>
            <div class="pull-right"> <div class="show_physician_list"><strong>Showing Number of Pending Report Count: </strong> <span>{{count}}</span></div></div>
      </div> 
      </div>
		</div>
	</div>
	<div class="modal fade track-modal stage_list" id="form_modal" role="dialog" data-backdrop="static">
		<div class="modal-dialog modal-lg">
	   	
	    </div>                 
	</div>   
  </div>	


<!-- Modal -->
<div class="modal fade" id="stageTat" tabindex="-1" role="dialog" aria-labelledby="stageTatLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="table-container panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pending Report TAT</h3>
				</div>
				<table class="table table-striped" style="width: 100%;">   
				<thead>
				<tr>
				<th width="15%" class="listed_box shrt-acc"> # Accessioning Number</th>
				<th width="17%" class="listed_box">
				<div class="listed_txt">Status</div></th>
				</tr>
				</thead>
				<tbody id="tat">
				<tr *ngFor="let specimens of tatDetails">
				<td valign="middle"># {{specimens.accessioning_num}}
				</td>
				<td valign="middle">
					<!-- <span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.color1}}</span> -->
					<span class="tat_style1" [class.tat_style2]="specimens.color1 == 'Red'"> {{specimens.status1}}</span>
				</td>
        </tr>
        <tr *ngIf="tatMsg"><td colspan="2">{{tatMsg}}</td></tr>

				</tbody>
				</table>

				</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>


</div>