.box {
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    text-align: center;
}
.box, .doctor {
    width: 33%;
    float: left;
}
table.diagnosis_analystics {
    width: 33%;
    float: left;
    border-color: #000;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
}
dd, dl, table {
    margin: 0 0 1.75em;
}
.box .box_2 h2 {
    font-size: 15px;
    padding-top: 10px;
    background: #a8c2f5;
}
.diagnosis h2 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
table.diagnosis_analystics tr td {
    width: 50%;
    float: left;
    border-color: #000;
}
td, th {
    padding: .4375em;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
    margin-bottom: 40px;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
.no_padding3 {
    float: left;
    width: auto;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}
address, p {
    margin: 0 0 1.75em;
}
.box_2 {
    border-right: 1px solid #000;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0;
}
.box .box_2 h2 {
    font-size: 15px;
    padding-top: 10px;
    background: #a8c2f5;
}

.diagnosis h2 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
.box .box_2 p {
    position: relative;
    margin-bottom: 0;
}
.box, .doctor {
    width: 33%;
    float: left;
}
table.diagnosis_analystics {
    width: 33%;
    float: left;
    border-color: #000;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
}
dd, dl, table {
    margin: 0 0 1.75em;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
table.diagnosis_analystics tr td {
    width: 50%;
    float: left;
    border-color: #000;
}

caption, td, th {
    font-weight: 400;
    text-align: left;
}
table.diagnosis_analystics tr {
    width: 100%;
    float: left;
    border-color: #000;
        border-bottom: 1px solid #000;
    padding: 10px 4px;
}
.analysis_right {
    margin-right: 12px;
}
.speciman_top .form-control {
    width: 52%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
label {font-weight: normal; margin-right: 10px;}
.count {width: 104% !important;}
.mat-form-field {
    width: 65%;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    float: right;
}
.count2 {width: 206% !important;}