.no_padding, .no_padding1, .no_padding2 {
    padding-right: 50px;
    padding-left: 0;
}
.heading {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
.heading:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
#registration-form .form-group, #title, .add_physicin .col-md-1.no_padding {
    text-align: left;
}
.form-group, .view_form-group {
    width: 100%;
    margin: 15px auto;
    display: inline-block;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}

.form-control {
    width: 70%;
}
.form-control {
    font-size: 1rem;
}
.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.form-group label span {color: #bf0005;}