<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">

    <div id="primary" class="content-area col-md-12">
      <div id="registration-form" class="form">

        <form name="user_frm" id="user_frm" [formGroup]="myaccount" (ngSubmit)="onSubmit()" autocomplete="off">
          <input type="hidden" name="action" value="update" />
          <div class="bg-primary heading">Basic Details</div>
          <div class="alert alert-success alert-dismissible" *ngIf="message">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            User Details Updated Successfully.</div>

          <!-- <div class="alert alert-success alert-dismissible" *ngIf = "myaccount.get('con_pass').hasError('equalTo') && myaccount.get('con_pass').touched">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Password does not match.</div> -->

          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">First Name :&nbsp;<span>*</span></label>
              <input type="text" class="form-control required" placeholder="First Name" [(ngModel)]="fname"
                formControlName="first_name">
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name :&nbsp;<span>*</span></label>
              <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lname"
                formControlName="last_name">
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name :&nbsp;<span>*</span></label>
              <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="user_name"
                readonly="readonly" formControlName="role">
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">Email :&nbsp;<span>*</span></label>
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" formControlName="email">
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label>User Password :</label>
              <input type="password" class="form-control" placeholder="User Password" formControlName="password">
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group" [ngClass]="displayFieldCss('confirmPassword')">
              <label>Confirm Password :</label>
              <input type="password" class="form-control" placeholder="User Password" formControlName="confirmPassword">
              <app-field-error-display [displayError]="isFieldValid('confirmPassword')"
                errorMsg="Passord did not match.">
              </app-field-error-display>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">Phone :</label>
              <input type="tel" class="form-control" placeholder="Phone" [(ngModel)]="mob" formControlName="mobile"
                mask='000-000-0000'>
            </div>
          </div>
          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">Website :</label>
              <input type="text" class="form-control" placeholder="website" [(ngModel)]="url"
                formControlName="user_url">
            </div>
          </div>

          <div class="col-md-6 no_padding">
            <div class="form-group">
              <label for="exampleInputEmail1">Address :</label>
              <textarea class="form-control" placeholder="Address" [(ngModel)]="add"
                formControlName="address"></textarea>
            </div>
          </div>

          <div class="col-md-6 no_padding" *ngIf="first_role">
            <div class="form-group">
              <label for="exampleInputEmail1">Specimen Control Access:</label>
              <div style="color: #e22525; font-size: 16px">
                {{acc_cntrl==='add'?'Add Specimen':''}}
              </div>
              <div style="color: #e22525; font-size: 16px">
                {{acc_cntrl_qc==='check'?'QC Check':''}}
              </div>
            </div>
          </div>

          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label for="exampleInputEmail1">Second Address :</label>
              <textarea name="clinic_addrs" class="form-control" id="clinic_addrs" placeholder="Second Address"
                required="required" value={{chkData.details.clinic}}></textarea>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label>Fax :</label>
              <input type="tel" class="form-control" id="fax" name="fax" placeholder="fax"
                value={{chkData.details.fax}}>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label>Office Number :</label>
              <input type="text" name="office_number" class="form-control" id="office_number"
                placeholder="Office Number" value={{chkData.details.offce_num}}>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label>Cell Phone :</label>
              <input type="tel" name="cell_phone" class="form-control" id="cell_phone" placeholder="Cell phone"
                value={{chkData.details.cell}}>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label>Office Manager Contact Name :</label>
              <input type="text" name="manager_contact_name" class="form-control" id="manager_contact_name"
                placeholder="Office Manager Contact Name" value={{chkData.details.manager}}>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group">
              <label>Office Manager Cell Number :</label>
              <input type="text" name="manager_cell_number" class="form-control" id="manager_cell_number"
                placeholder="Office manager cell number" value={{chkData.details.offce_num}}>
            </div>
          </div>
          <div class="col-md-6 no_padding" *ngIf="second_role">
            <div class="form-group" id="npi_s">
              <label>National Provider Identifier :</label>
              <input type="tel" name="npi" class="form-control" id="npi" placeholder="National Provider Identifier"
                value={{chkData.details.npi_api}}>
              <p id="error_msg" style=" color: red; display: block;"></p>
            </div>
          </div>
          <div class="clear"></div>

          <div class="clear"></div>
          <div class="col-md-12 no_padding" style="margin-top:25px;">
            <input type="submit" class="btn btn-primary" name="submit" value="Update Details"
              style="margin-right:10px;" />

          </div>
        </form>

        <div class="col-md-12 no_padding">
          <div class="bg-primary heading" style="margin-top:30px;">Employee Resources</div>

          <a class="btn btn-primary" download href="https://www.abilitydiagnostics.com/Employee_Manual.pdf">Download the
            Employee Manual</a>
          <a class="btn btn-primary" href="https://www.ftjfundchoice.com" target="_blank">401K: FJT Fund Choice</a>
          <a class="btn btn-primary" href="https://www.healthequity.com/" target="_blank">Health Savings Account
            (HSA)</a>


        </div>
        <div class="clear">&nbsp;</div>


      </div>
    </div>
  </div>
</div>