<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <h1>Slide Analytics</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border">
          <div class="row">
            <div class="list-mid">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">Search by period: </span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Create Date" formControlName="from_date" />
                <app-field-error-display [displayError]="isFieldValid('from_date')" errorMsg="From date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-4 speciman_top">
                <span class="analysis_right">To:</span>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="To Create Date" formControlName="to_date" />
                <app-field-error-display [displayError]="isFieldValid('to_date')" errorMsg="To date required.">
                </app-field-error-display>
              </div>
              <div class="col-md-2 no_padding3">
                <input class="form-control srch-btn reset_button btn-blue" type="submit" name="wp-submit"
                  id="lwa_wp-submit" value="Search" tabindex="100">

              </div>
              <div class="col-md-2 no_padding3">
                <a href="javascript:void(0);" class="form-control rest-btn reset_button btn-blue"
                  (click)="resetForm()">Reset</a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <p style="margin:10px 0 0 0">Showing data of {{postsArray.from_date}} - {{postsArray.to_date}}.</p>
      <div class="table-container">
        <div id="from_specimen_date">
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">
            <thead>
              <tr class="table_cls">
                <th width="30%">Slides</th>
                <th width="20%">Total</th>
              </tr>
            </thead>
            <tbody id="specimens_list">
              <tr class="odd">
                <td valign="middle">
                  <div>PAS/ GMS/ FM</div>
                </td>
                <td valign="middle">
                  <div>{{postsArray.first_val}}</div>
                </td>
              </tr>
              <tr class="odd">
                <td valign="middle">
                  <div>PAS/ GMS </div>
                </td>
                <td valign="middle">
                  <div>{{postsArray.second_val}}</div>
                </td>
              </tr>
              <tr class="odd">
                <td valign="middle">
                  <div>PAS</div>
                </td>
                <td valign="middle">
                  <div>{{postsArray.third_val}}</div>
                </td>
              </tr>
              <tr class="odd">
                <td valign="middle">
                  <div>Total </div>
                </td>
                <td valign="middle">
                  <div>{{postsArray.total}}</div>
                </td>
              </tr>
            </tbody>

          </table>

          <ng-template #customLoadingTemplate>
            <div class="custom-class">
              <h3>
                Loading...
              </h3>

            </div>
          </ng-template>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading>

        </div>
      </div>

    </div>
  </div>
</div>