.content-area {
    width: 100%;
    padding-left: 0;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
.specimen_bottom {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.lable-cls label {
    width: auto;
}
.lable-cls input {
    width: 72% !important;
}
.specimen_bottom label {
    color: #5c5c5c;
    float: left;
    font: 600 13px Lato;
    padding: 1.5% 1%;
    text-align: left;
    width: 46%;
}
.flex-style .speciman_top.specimen_bottom > input, .flex-style .speciman_top.specimen_bottom > select {
    margin-right: 5px;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
.fields_in {
    width: 150px;
}
.no_padding3 {
    float: left;
    width: auto;
}
#btnForgotPassword, #place_order, .btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-family: "Yanone Kaffeesatz"!important; font-size: 18px !important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 33px;
}
#search .col-md-2 a.reset_button, .pagination ul li {
    display: inline-block;
}
small {
    font-size: 80%;
}

.dataTables_length label {
    width: 100%;
    margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_length select {
    width: 11%;
    padding: 4px;
}
#pending_specimen_report_wrapper #pending_specimen_report_filter {
    float: right;
    margin: 15px 0;
    margin-bottom: 0;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
    color: #333;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
#pending_specimen_report_wrapper #pending_specimen_report_filter label {
    width: 100%;
}
#pending_specimen_report_wrapper #pending_specimen_report_filter input {
    width: 100%;
    margin-left: 0;
}
.table_cls {
    background: #34B6E6;
}
.table_cls th {
    color: #fff;
    font: 14px Lato;
}
table.dataTable.display tbody tr.odd, table.dataTable.stripe tbody tr.odd {
    background-color: #f9f9f9;
}
table.dataTable tbody tr {
    background-color: #fff;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table_cls {
    background: #34B6E6;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: .755em;
    color: #333;
}
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
    color: #333;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: .25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666!important;
    border: 1px solid transparent;
    background: 0 0;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    color: #333!important;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333!important;
    border: 1px solid #cacaca;
    background-color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top,#fff 0,#dcdcdc 100%);
    background: -moz-linear-gradient(top,#fff 0,#dcdcdc 100%);
    background: -ms-linear-gradient(top,#fff 0,#dcdcdc 100%);
    background: -o-linear-gradient(top,#fff 0,#dcdcdc 100%);
    background: linear-gradient(to bottom,#fff 0,#dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    color: #333!important;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    color: #333!important;
    border: 1px solid transparent;
}




