<cm-navbar></cm-navbar>
<div class="content-wrap">
	<div class="container">
        <div id="primary" class="content-area col-md-12">
		<h1>Archive Specimen List</h1>
		<div class="row">
		 <div class="col-md-12">
		<form class="lwa-form" [formGroup]="searchForm" (ngSubmit) = "onSubmit()">
			<div class="specimen_border">
					<div class="row">
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Physician Name:</label>
							<!-- <select name="physician_id" class="chzn-select" data-placeholder="Search Physician" id="physician">
							
							</select> -->
							<input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
							<mat-form-field class="example-full-width">
							<input type="text" placeholder="" aria-label="Number" matInput formControlName="physician_name" [matAutocomplete]="auto">
							<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
									<mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
								<mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
									{{group}}
									
								</mat-option>
							</mat-optgroup>
							</mat-autocomplete>
							</mat-form-field>
						</div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Specimen Collected Date:</label>
							<input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" id="scan_code" placeholder="Collected Date" formControlName="collection_date">
						</div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Scan Specimen BarCode:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Scan BarCode" formControlName="barcode">
						</div>
                      <div class="clearfix"></div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Patient First Name:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="First Name" formControlName="p_firstname">
						</div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Patient Last Name:</label>
							<input type="text" class="form-control" id="scan_code" placeholder="Last Name" formControlName="p_lastname">
						</div>
						<div class="col-md-4 speciman_top specimen_bottom">
							<label>Accessioning No. :</label>
							<input type="text" class="form-control" id="assessioning_num" placeholder="Accessioning Number" formControlName="assessioning_num"/>
						</div>
                      <div class="clearfix"></div>
					</div> 
				 
					<div class="row m-top">
					   
						<div class="col-md-2 no_padding3">
							<input type="submit" name="search_filter" value="Search" id="submit" class="form-control"/>
						</div>
						<div class="col-md-2 no_padding3">
								<a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>  Reset</a> 
							</div> 
					</div>
				</div> 
			</form>
		    <div class="table-container m-top">

				 <form action="" method="post">
						<div class="table-container">
						  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
								<thead>
								  <tr class="table_cls">
									<th width="10%"><mfDefaultSorter by="assessioning_num">Accessioning Number</mfDefaultSorter></th>
									<th width="15%"><mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter></th>
									<th width="10%"><mfDefaultSorter by="p_firstname">Patient Name</mfDefaultSorter></th>
									<th width="15%"><mfDefaultSorter by="collection_date">Date Collected</mfDefaultSorter></th>
									<th width="20%"><mfDefaultSorter by="assessioning_num">Patient Address</mfDefaultSorter></th>
									<th width="40%"><mfDefaultSorter by="assessioning_num">Actions</mfDefaultSorter></th>
								  </tr>
								</thead>               
								<tbody id="specimens_list">         
								  <tr class="odd" *ngFor="let specimens of mf.data">                   
									  <td valign="middle">
										  <div>{{specimens.assessioning_num}}</div>
									  </td>
									  <td valign="middle" >
										  <div>{{specimens.physician_name}}</div>
										</td>
										<td valign="middle" >
										  <div>{{specimens.p_firstname}} {{specimens.p_lastname}}</div>
										</td>
										<td valign="middle" >
										  <div>{{specimens.collection_date}}</div>
										</td>
										<td valign="middle" >
										  <div>{{specimens.patient_address}} {{specimens.patient_city}} {{specimens.patient_zip}} {{specimens.patient_state}}</div>
									  </td>
									  <td>
										<div class="buttonList1">
										  <a class="blue-btn" routerLinkActive="active" routerLink="/add-specimen-report/{{specimens.id}}"><i class="fa glyphicon-plus"></i>  Add Specimen Report</a>
										  </div>
									  </td>
									</tr>     
									<tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
								</tbody>
								<tfoot>
								  <tr class="table_cls">
									<th width="10%">Accessioning Number</th>
									<th width="15%">Physician Name</th>
									<th width="20%">Patient Name</th>
									<th width="15%">Date Collected</th>
									<th width="20%">Patient Address</th>
									<th width="40%">Actions</th>
								  </tr>
								  <td colspan="7">
									<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
								  </td>  
								  
								</tfoot>
							  </table>
							  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimens_list.specimen_count}}</span></div></div>
						  </div>
						</form>
			  
		 	 </div>
		   </div>
	    </div>
     </div>
   </div>
</div>