<cm-navbar></cm-navbar>
<style>
  .reflex_test p {
    line-height: 23px;
  }

</style>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="post-9" class="post-9 page type-page status-publish hentry">
              <h1 class="page_title">Onychomycosis (Nail Fungus)</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 contnt">
            <p><i><b>Onychomycosis</b></i> is the common disease of the toenail. It is the cause of roughly 50% of nail
              deformities and
              effects approximately 14-18% of adults. It is important to identify the pathology of the nail deformation
              and determine a proper treatment plan.</p>

            <p><b>Conditions of Psoriasis and Malignant Melanoma</b> can mimic the appearance of Fungal infections.</p>
            <p>For 2019, Ability Diagnostics offers both Histology-Pathology and Molecular (PCR) testing Assays for the
              confirmation of presence of onychomycosis in all nails.</p>
            <p>With an emphasis on specialty laboratory services located at a state-of-the-art facility, Ability
              Diagnostics delivers both modern testing and comprehensive reporting for nail testing. In all cases, we
              provide rapid, reliable and responsive services for our valued practitioners.</p>
          </div>
          <div class="col-md-3"><img src="../abadmin/assets/uploads/Service/nate_in_lab.jpg" alt="" width="260"
              height="189" /></div>
          <div class="col-md-12 contnt">
            <h5>OUR OFFERINGS: Podiatry and Primary Care</h5>
            <p><b>For the Podiatrist,</b> we offer a comprehensive, diagnostic lab report within 3 to 5 business days.
              Many labs
              will choose to culture the specimens that will require a three-week turnaround time. This will be the most
              compelling reason for a Podiatry practice to consider a change.</p>

            <p><b>For the Primary Care Providers,</b> most will share that the typical treatment course is to refer to a
              Podiatrist, or that their patients simply do not reveal they have the suspected toenail fungus. Unlike
              other
              laboratory services, the provider has the requirement to complete a simple biopsy extraction for the
              toenail
              or toenails (unilateral/bilateral) and to confirm the diagnosis of <i>onychomycosis.</i></p>

            <p>Our team of former practice administrators has designed the on-boarding steps that will both address and
              accomplish the change management elements needed to identify a practice’s at-risk patients.</p>
              <p>Cash price for nail histology is $394.52 for 3 stains. For PCR the cash price is $516.26.</p>
          </div>

          <div class="col-md-12 histro_patho contnt">
            <h5>Types of Diseased Nails</h5>
            <div class="diseased-nails">
              <div class="col-md-4">
                <h6>Dystrophic Nail with...
                  possible fungal infection</h6>
                <div class="diseased-img">
                  <img src="{{url}}assets/uploads/Nail/nail_fungus_img.jpg" alt="Image_Hematoxylin and Eosin"
                    width="250" height="242">
                </div>
              </div>
              <div class="col-md-4">
                <h6>Can also be present in fingers</h6>
                <div class="diseased-img">
                  <img src="{{url}}assets/uploads/Nail/thumb_img.jpg" alt="Image_Hematoxylin and Eosin" width="250"
                    height="242">
                </div>
              </div>
              <div class="col-md-4">
                <h6>Possible melanin involvement</h6>
                <div class="diseased-img">
                  <img src="{{url}}assets/uploads/Nail/toe_img.jpg" alt="Image_Hematoxylin and Eosin" width="250"
                    height="242">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 histro_patho contnt">
            <h5>Ability Diagnostics Histology Reports are formatted in Red (positive)
              Yellow (cautionary) and Green (negative).</h5>
            <div class="histro-img">
              <a data-toggle="modal" data-target="#myModal" class="bg-danger notfic"
                (click)="openLightBox(url+'assets/uploads/Nail/histro_report_img_full.jpg')">
                <img src="{{url}}assets/uploads/Nail/histro_report_img.png" alt="Image_Hematoxylin and Eosin">
                <h5 style="color:#34b6e6;">View Sample Nail Report</h5>
              </a>

            </div>
          </div>
          <div class="col-md-12 contnt" style="padding-bottom:30px;">
            <div class="row">
              <div class="col-md-4 service_lst" *ngFor="let service of postsArray">
                <div class="img">
                  <img src="{{url}}assets/uploads/Nail/{{service.service_image}}" alt="{{service.service_title}}"
                    width="60%">
                </div>
                <p>

                </p>
                <h2>{{service.service_title}}
                </h2>
                <div class="content">
                  <p [innerHTML]=service.service_desc></p>
                </div>

                <div class="clear"></div>
              </div>
            </div>

            <div class="pcr-pathogens histro_patho">
              <h5>PCR Pathogens Tested</h5>
              <span>High sensitivity 99.95% accurate</span>

              <table style="width:100%">
                <tr>
                  <td>Aspergillus niger, terreus, versicolor, fumigatus</td>
                  <td>Microsporum Canis</td>
                </tr>
                <tr>
                  <td>Sytalidinum dimidiatum</td>
                  <td>Epidermophyton floccosum</td>
                </tr>
                <tr>
                  <td>Trichophyton rubrum</td>
                  <td>Fusariam solani</td>
                </tr>
                <tr>
                  <td>Trichophyton interdigitate (T. mentagrophytes)</td>
                  <td>Alternaria</td>
                </tr>
                <tr>
                  <td>Scopulariopsis brevicaulis</td>
                  <td>Acremonium strictum</td>
                </tr>
                <tr>
                  <td></td>
                  <td>mecA gene most common in MRSA</td>
                </tr>
              </table>
            </div>
            <div class="pcr_report histro_patho">
              <div class="report-img">
                <a data-toggle="modal" data-target="#myModal" class="bg-danger notfic"
                  (click)="openLightBox(url+'assets/uploads/Nail/pcr_report_img.jpg')">

                  <img src="{{url}}assets/uploads/Nail/pcr_report_img.jpg" alt="Image_Hematoxylin and Eosin" width="250"
                    height="242">
                  <h5 style="color:#34b6e6;">View Sample PCR Report</h5>
                </a>
              </div>

            </div>
            <div class="reflex_test">

              <div class="col-md-9" style="padding-left:0px;">
                <h5>Why We Offer a Histology/PCR Reflex Test</h5>
                <p><b>As described by Dr. David Bolick, MD, a tenured Pathologist;</b></p>
                <p>“Histo-path provides the location of the disease within the nail layers as the superficial (top), the
                  plate (middle) or the subungual (bottom) but has limitations as to the exact identification of
                  pathogens
                  and bacteria species.”</p>

                <p>Our PCR platform will identify the presence and species of pathogens within the nail. But PCR cannot
                  determine the location within the nail of these pathogens. We recommend Histo-Path to identify
                  location.<br>
                  In many cases, performing both tests (Reflex) will reveal the evidence of all pathogens by type AND
                  the
                  location within the nail. PCR may be used to confirm care after treatment. </p>
              </div>
              <div class="col-md-3"><img src="../abadmin/assets/uploads/Service/PCR.jpg" alt="" width="260"
                  height="189" /></div>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img class="popup_img" #popupImg src="">
      </div>
    </div>

  </div>
</div>
