<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div class="bg-primary heading">Data Entry People</div>
      <form action="" method="post">
          <div class="table-container">
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
              <thead>
                <tr class="table_cls">
                <th width="50%"><mfDefaultSorter by="user_login">User Name</mfDefaultSorter></th>
                <th width="50%"><mfDefaultSorter by="user_email">Email</mfDefaultSorter></th>
                <th width="50%"><mfDefaultSorter by="display_name">Display Name</mfDefaultSorter></th>
                <th width="50%">Specimen Access</th>
                <th width="50%">Actions</th>
                </tr>
              </thead>               
              <tbody id="specimens_list">         
                <tr class="odd" *ngFor="let user of mf.data">                  
                  <td valign="middle">
                    <div>{{user.user_login}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{user.user_email}}</div>
                  </td>
                  <td valign="middle">
                    <div>{{user.display_name}}</div>
                  </td>
                  <td valign="middle">
                    <div *ngIf="user.acc_cntrl==='add'">Add Specimen</div>
                    <div *ngIf="user.acc_cntrl_qc==='check'">QC Check</div>
                  </td>
                  <td>
                  <div class="buttonList1">
                      <a class="blue-btn" routerLinkActive="active" routerLink="/view-data-entry-people/{{user.id}}"><i class="fa fa-eye"></i> View</a> 
                      <a class="blue-btn" routerLinkActive="active" routerLink="/edit-data-entry-people/{{user.id}}"><i class="fa fa-pencil-square-o"></i> Edit</a> 
                    <a href="javascript:void(0);" class="btn-danger" (click)="deleteDataEntryPeople(user.id);"><i class="fa fa-trash-o"></i> Delete</a> 
                  </div>
                  </td>
                </tr>     
                <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
              </tbody>
              <tfoot>
                <tr class="table_cls">
                <th width="10%">User Name</th>
                <th width="10%">Email</th>
                <th width="10%">Display Name</th>
                <th width="10%">Specimen Access</th>
                <th width="10%">Actions</th>
                </tr>
                <td colspan="7">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>  
                
              </tfoot>
              </table>
              <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Users: </strong> <span> {{user_count}}</span></div></div>
            </div>
          </form>


    </div>
  </div>
</div>
