#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
#btnForgotPassword, #place_order, .btn, .blue-btn, .button, .reset_button, .single_add_to_cart_button, .wc-proceed-to-checkout .button, input[type=reset], input[type=submit] {
    width: auto;
    background: #34b6e6!important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
    border-radius: 2px;
    border: 0;
    padding: 8px 15px!important;
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    height: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-plus:before {
    content: "\f067";
}
.accordion-toggle {
    background: #34b6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 15px;
    position: relative;
    font-family: Lato, Georgia, serif;
    cursor: pointer;
}

.accordion-toggle {
    cursor: pointer;
}
.arrow {
    margin-left: 9px;
    display: inline-block;
}
.arrowDown:before {
    color: white;
    content: "+";
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0px, -50%);
}
.accordion-content {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #000;
    padding: 15px;
}
.listr {
    display: block;
    padding-left: 15px;
    width: 100%;
}
.listr li:last-child {
    margin-bottom: 0;
    border: none;
}

.listr li {
    list-style: outside none roman;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.listr p {
    margin: 0 0 10px;
    padding: 0;
    color: #5c5c5c;
    font: 400 16px Lato;
}
.infos {
    display: inline-block;
    width: 100%;
    text-align: right;
}
.infos > span {
    margin-left: 10px;
    width: auto !important;
}

.infos span {
    color: #34b6e6;
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 16px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
    content: "\f007";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-calendar:before {
    content: "\f073";
}