table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
}
.specimen_border {
    border: 1px solid #ccc;
    padding: 17px 12px;
}
#wpcrlResetPasswordSection h3, .bg-primary, .content-area h1, .fv-form h3, .woocommerce h2, .woocommerce-checkout h3 {
    color: #444;
    font-weight: 400;
    font-size: 44px; font-family: "Yanone Kaffeesatz";
    margin: 0 0 20px;
    padding: 0 0 4px;
    text-transform: capitalize;
    background: 0 0;
}
#wpcrlResetPasswordSection h3:after, .bg-primary:after, .content-area h1:after, .fv-form h3:after, .woocommerce h2:after, .woocommerce-checkout h3:after {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    width: 9%;
    content: '';
    height: 3px;
    background: #34b6e6;
}
.no_padding3 {
    float: left;
    width: auto;
}
.srch-btn {
    background: #34b6e6;
    padding-left: 14px !important;
}

.btn-blue {
    background: #34b6e6 !important;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz" !important;
    border-radius: 2px;
    border: 0;
    padding: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
    display: flex !important;
    vertical-align: middle;
    line-height: 0 !important;
    height: 35px;
    align-items: center !important;
    padding: 0 !important;
    width: 90px;
    justify-content: center !important;
    padding-top: 2px !important;
    position: relative;
}
.analysis_right {
    margin-right: 12px;
}

.speciman_top .form-control {
    width: 51%;
    margin-left: 0;
}

.form-control, .form-control1, .page-id-160 .form-control, .speciman_top .form-control {
    display: inline-block;
    vertical-align: middle;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}


.speciman_top.frm-to input {
    width: 80%;
}
.speciman_top .form-control {
    width: 51%;
    margin-left: 0;
}
.no_padding3 {
    float: left;
    width: auto;
}
#spe_opt {
    background: #f7f7f7;
    background-image: none;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
}
dd, dl, table {
    margin: 0 0 1.75em;
}
pre, table, td, th {
    border: 1px solid #d1d1d1;
}
.table_cls {
    background: #34B6E6;
}

.table>thead>tr>th {
    border-bottom: 0;
    color: #fff;
}
td, th {
    padding: .4375em;
}

caption, td, th {
    font-weight: 400;
    text-align: left;
}
td, th {
    border-width: 0;
}
pre, table, td, th {
    border-right: 1px solid #d1d1d1;
}
tr td:last-child {
    border-right: none;
}
dd, dl, table {
    margin: 0 0 1.75em;
}
.analystics tr td {
    font-size: 13px;
}
.analystics tr td a {
    color: #191919;
}