<cm-navbar></cm-navbar>
<div class="content-wrap">
	<div class="container">
        <div id="primary" class="content-area col-md-12">
		<h1>Manual Review</h1>
		<div class="row">
		 <div class="col-md-3">
		 
		 <cm-pcr-left-menu></cm-pcr-left-menu>
		 
		 </div>
		 <div class="col-md-9">
		    <div class="table-container">
						<a class="blue-btn" href="javascript:void(0);" (click)="batchHistory()"> Batch History</a>
          <h4>Batch Review</h4>
				 <form action="" method="post">
						<div class="table-container">
						  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
								<thead>
								  <tr class="table_cls">
                    <th width="15%">
                      <mfDefaultSorter by="batch">Batch</mfDefaultSorter>
                    </th>
                    <th width="18%">
                      Fail Reason
                    </th>
                    <th width="24%">
                      <mfDefaultSorter by="assessioning_num">Actions</mfDefaultSorter>
                    </th>
								  </tr>
								</thead>               
								<tbody id="specimens_list">         
								  <tr class="odd" *ngFor="let batch of batch_review">                   
									  <td valign="middle">
										  <div>{{batch}}</div>
									  </td>
									  <td valign="middle" >
										  <div>Fail</div>
									  </td>
									  <td>
										<div class="buttonList1">
										  <a class="blue-btn" href="javascript:void(0);" (click)="passBatchReview(batch)"> Pass</a>
										  <a href="javascript:void(0);" class="blue-btn" (click)="failBatch(batch)"><i class="fa fa-pencil-square-o"></i> Fail/Rq</a>
										</div>
									  </td>
									</tr>     
									<tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
								</tbody>
								<tfoot>
								  <tr class="table_cls">
                    <th width="15%">
                      Batch
                    </th>
                    <th width="18%">
                      Fail Reason
                    </th>
                    <th width="24%">
                      Actions
                    </th>
								  </tr>
								  <!-- <td colspan="7">
									<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
								  </td>   -->
								  
								</tfoot>
							  </table>
							  <div class="col-md-6 pull-right"></div>
							  <ng-template #customLoadingTemplate>
								  <div class="custom-class">
									  <h3>
										  Loading...
									  </h3>
									 
								  </div>
							  </ng-template>
							  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
						  </div>
						</form>
			  
        </div>
        <div class="table-container">
          <h4>Accessioning # Data Review</h4>
				 <form action="" method="post">
						<div class="table-container">
								Seacrch By Accessioning Number: <input style="float: right;" type="text" (keyup)='search($event.target.value)'>
						  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
								<thead>
								  <tr class="table_cls">
                    <th width="12%"><mfDefaultSorter by="accessioning_num">Accessioning Number</mfDefaultSorter></th>
                    <th width="12%"><mfDefaultSorter by="target_name">Target Name</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="rox">ROX >= 2000</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="ct_sd">Ct SD < .5</mfDefaultSorter> </th>
                    <th width="8%"><mfDefaultSorter by="amp_score">AMP SCORE >=1.24</mfDefaultSorter> </th>
                    <th width="8%"><mfDefaultSorter by="cq">Cq >=0.8</mfDefaultSorter> </th>
                    <th width="20%"><mfDefaultSorter by="accessioning_num">Action</mfDefaultSorter></th>
								  </tr>
								</thead>               
								<tbody id="specimens_list">         
								  <tr class="odd" *ngFor="let specimens of mf.data">                   
									  <td valign="middle">
										  <div>{{specimens.accessioning_num}}</div>
									  </td>
									  <td valign="middle" >
										  <div>{{specimens.target_name}}</div>
										</td>
										<td valign="middle" >
											<div>{{specimens.rox}}</div>
										</td>
										<td valign="middle" >
											<div>{{specimens.ct_sd}}</div>
										</td>
										<td valign="middle" >
											<div>{{specimens.amp_score}}</div>
										</td>
										<td valign="middle" >
											<div>{{specimens.cq}}</div>
										</td>
									  <td>
										<div class="buttonList1">
										  <a href="javascript:void(0);" (click)="reviewProcessState(specimens.id,specimens.accessioning_num)" class="blue-btn"><i class="fa fa-eye"></i> Process Stage</a>
										</div>
									  </td>
									</tr>     
									<tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
								</tbody>
								<tfoot>
								  <tr class="table_cls">
                    <th width="12%">Accessioning Number</th>
                    <th width="12%">Target Name</th>
                    <th width="8%">ROX >= 2000</th>
                    <th width="8%">Ct SD < .5 </th>
                    <th width="8%">AMP SCORE >=1.24 </th>
                    <th width="8%">Cq >=0.8 </th>
                    <th width="20%">Action</th>
								  </tr>
								  <td colspan="7">
									<mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
								  </td>  
								  
								</tfoot>
							  </table>
							  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimen_count}}</span></div></div>
							  <ng-template #customLoadingTemplate>
								  <div class="custom-class">
									  <h3>
										  Loading...
									  </h3>
									 
								  </div>
							  </ng-template>
							  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
						  </div>
						</form>
			  
		 	 </div>
		   </div>
	    </div>
     </div>
   </div>
</div>