<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
    <div id="primary" class="content-area col-md-12">
      <div id="registration-form" class="form">
        <form class="lwa-form" [formGroup]="addNotes" (ngSubmit) = "onSubmit()">
          <div class="bg-primary heading" *ngIf="editType==='add'">Add Physician Notification</div>
          <div class="bg-primary heading" *ngIf="editType==='edit'">Edit Notification</div>
          <input type="hidden" id="user_id" formControlName="user_id"/>
          <div class="row">
          <div class="add_physicin">
            <div id="primary" class="content-area_form1 col-md-6">
        
                <label>Physician Name:</label>
                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" aria-label="Number" matInput placeholder="" formControlName="physician_name" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                    <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])" *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}
                        
                    </mat-option>
                  </mat-optgroup>
                  </mat-autocomplete>
                  <app-field-error-display 
                  [displayError]="isFieldValid('physician_name')" 
                  errorMsg="Select any physician name.">
                </app-field-error-display>
                </mat-form-field>
              
                <div class="form-group" [ngClass]="displayFieldCss('notes')">
                  <!-- <label>Street Address :</label> -->
                  <textarea formControlName="notes" class="form-control highlight_class" id="notes" placeholder="Enter notes" rows="5" cols="10"></textarea>
                  <app-field-error-display 
                    [displayError]="isFieldValid('notes')" 
                    errorMsg="Note is required.">
                  </app-field-error-display>
                </div>

            </div>
          </div>        
</div>
          <div class="clear"></div>
            <div class="clear">
              <p></p>
            </div>
            

            <div class="clear"></div>
            <div class="row">
            <div class="col-md-2" align="left">
               <input type="submit" class="btn btn-primary" formControlName="wp_submit" id="lwa_wp-submit" value="Add Specimen" tabindex="100">
            </div>
            <div class="col-md-1 no_padding col-sm-2 col-xs-3" align="center" style="margin-top: 0; margin-left: 15px;">
              <a routerLink="/physician-notes" class="btn btn-primary">Cancel</a>
            </div>
            </div>
            <div class="clear">&nbsp;</div>
            
         
        </form>
      </div>
<span>&nbsp;</span>
      <form action="" method="post">
          <div class="table-container">
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
              <thead>
                <tr class="table_cls">
                <th width="20%"><mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter></th>
                <th width="40%"><mfDefaultSorter by="batch_no">Notification</mfDefaultSorter></th>
                <th width="16%"><mfDefaultSorter by="create_date">Time Stamp</mfDefaultSorter></th>
                <th width="40%"><mfDefaultSorter by="batch_no">Actions</mfDefaultSorter></th>
                </tr>
              </thead>               
              <tbody id="specimens_list">         
                <tr class="odd" *ngFor="let specimens of mf.data">                  
                  <td valign="middle">
                    <div>{{specimens.physician_name}}</div>
                  </td>
                  <td valign="middle">
                      <div>{{specimens.notifications}}</div>
                    </td>
                    <td valign="middle">
                        <div>{{specimens.create_date.substring(0,10)}}</div>
                      </td>
                  <td>
                  <div class="buttonList1">
                      <a style="margin-bottom: 10px;" class="blue-btn" routerLinkActive="active" routerLink="/physician-notification-ae/{{specimens.id}}/edit"><i class="fa fa-eye"></i> Edit</a> 
                    <a href="javascript:void(0);" class="blue-btn" (click)="deleteNotesData(specimens.id)"> Delete</a> 
                  </div>
                  </td>
                </tr>     
                <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
              </tbody>
              <tfoot>
                <tr class="table_cls">
                <th width="20%">Physician Name</th>
                <th width="40%">Notification</th>
                <th width="16%">Time Stamp</th>
                <th width="40%">Actions</th>
                </tr>
                <td colspan="7">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                </td>  
                
              </tfoot>
              </table>
              <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Notes: </strong> <span> {{notes_count}}</span></div></div>
            </div>
          </form>


    </div>
  </div>
</div>
