.home_banner {
    min-height: 506px;
    margin: 0;
    padding: 0;
    display: block;
    /*background-size: cover!important;*/
    background-attachment: fixed!important;
    position: relative;
}
.slider_cntent {
    padding: 340px 0 0;
    max-width: 70%;
}
.slider_cntent h2 {
    font-weight: 400;
    font-size: 42px; font-family: "Yanone Kaffeesatz";
    color: #fff;
    margin: 0;
    padding: 0 0 10px;
}
.slider_cntent p {
    font: 400 20px Lato;
    color: #fff;
    margin: 0;
    padding: 0;
}
.home_first_blk .hm_cntent h2 {
    font-weight: 400;
    font-family: "Yanone Kaffeesatz"; font-size: 38px;
    color: #777;
    margin: 0;
    padding: 0 0 10px;
}
.home_first_blk .hm_cntent h4 {
    font: 700 18px/24px Lato;
    color: #777;
    margin: 0;
    padding: 0 0 10px;
}
.home_first_blk .hm_cntent p {
    font: 400 18px/22px Lato;
    color: #777;
    margin: 0;
    padding: 0 0 10px;
}
.home_first_blk {
    background: #fff;
    padding: 60px 0;
}
.home_sknd_blk {
    padding: 54px 0 60px;
    margin: 0;
    display: block;
    background-size: cover!important;
    background-attachment: fixed!important;
}

.home_sknd_blk .srvs_titl {
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    background: url(hdng_dvdr.png) 164px bottom no-repeat;
    font-family: 'Yanone Kaffeesatz';
    font-size: 40px;
    line-height: 34px;
    padding-bottom: 15px;
  }
/* .home_sknd_blk .srvs_titl {
    font: 400 40px/34px 'Yanone Kaffeesatz';
    color: #fff;
    margin: 0;
    padding: 0;
    background: url(hdng_dvdr.png) 164px bottom no-repeat;
} */
.srvs_blk {
    padding: 30px 0 0;
    margin: 0;
}
.srvs_hldr {
    background: rgba(255, 255, 255, .75);
    border: 1px solid #fff;
    padding: 22px 15px 20px;
    min-height: 430px;
}
.srvs_hldr .srvs_img {
    overflow: hidden;
}
.srvs_hldr .srvs_img img, .warnty .img img {
    max-width: 100%;
}
.srvs_hldr .srvs_cntent, .srvs_hldr .srvs_img {
    float: none;
    width: 100%;
}
.srvs_hldr .srvs_cntent, .srvs_hldr .srvs_img {
    float: none;
    width: 100%;
}
.srvs_hldr .srvs_cntent h2 {
    font-weight: 400;
    font-size: 24px; font-family: "Yanone Kaffeesatz";
    color: #525252;
    margin: 0;
    padding: 12px 0 4px;
    text-transform: uppercase;
}
.srvs_hldr .srvs_cntent h2 a {
    color: #525252;
}
.srvs_hldr .srvs_cntent p {
    font: 400 16px/20px Lato;
    color: #525252;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}
.srvs_blk ul li { list-style: none;}
.srvs_blk ul { padding-left: 0;}
.top_hdr {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0, #eee 100%);
    background: -webkit-linear-gradient(top, #fefefe 0, #eee 100%);
    background: linear-gradient(to bottom, #fefefe 0, #eee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
    box-shadow: 0 1px 3px 2px #dfdede;
    box-sizing: border-box;
    min-height: 55px;
    padding: 12px;
}
embed, iframe, img, object, video {
    vertical-align: middle;
    max-width: 100%;
}
.custom-logo-link {
    display: block;
}
.top_hdr ul {
    text-align: right;
    line-height: 0;
}
.top_hdr ul li a {
    color: #777;
    font: 400 15px/30px Lato;
}
img {
    height: auto;
}

/*.home_first_blk .home_img {
    padding: 54px 0 0;
}*/
.home_banner::after {

    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 3px;
    background: rgba(255, 255, 255, .6);

}

.srvs_cntent a {
    font-weight: bold;
    text-decoration: none;
  }