.panel-heading {
    background: #34b6e6;
    border: none;
}
#title {
    font: 500 30px/19px Lato;
    padding: 10px;
}
.txt_cntr {
    width: 100%;
    margin: 0 auto;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}

.filter_value, label {
    float: left;
    text-align: left;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}
.gross_des {
    height: 69px!important;
}
#optional_comments .gross_des {
    width: 100%;
    margin-top: 8px;
    background: none;
}
#optional_comments { clear: both; float: left;width: 100%;}
h2.frm-hrd {
    font-weight: 400;
    margin: 0;
    background: #34b6e6;
    padding: 8px 10px;
    color: #fff;
    font-size: 24px;
    clear: both;
    text-transform: uppercase;
}
.no_margin {
    margin-top: 0!important;
}
.no_padding3 {
    float: left;
    width: auto;
}
.no_padding, .no_padding1, .no_padding2 {
    padding-right: 50px;
    padding-left: 0;
}
.red_hot a {
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 300 !important;
    font-size: 18px !important; font-family: "Yanone Kaffeesatz"!important;
}

.red_hot .panel-heading, .red_hot a {
    background: #34b6e6;
}
.ability_titl .panel-title {
    font-size: 20px;
}
.table > tbody > tr > td, .table > thead > tr > th {border: 1px solid #ddd !important;}
.mynew-btn{float: left;background: #34b6e6 !important;padding: 6px 13px!important;margin-left: 15px;font-family: Yanone Kaffeesatz !important;font-weight: 300 !important;font-size: 18px; border: none;color: #fff; text-transform: uppercase; border-radius: 4px; margin-top: 15px;}
.new-backbtn {float: left;clear: both;background: #34b6e6 !important;padding: 8px 13px!important;font-weight: 300 !important;font-size: 15px; border: none;color: #fff; text-transform: uppercase; border-radius: 4px;font-family: Yanone Kaffeesatz !important; margin-top: 15px;margin-left: 15px;}
.green, .red {
    width: 25%;
    border-radius: 5px;
}
.regular-radio {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: .4375em;
    padding: 0;
}
.red .regular-radio+label {
    background-color: #090;
}

.green label, .red label {
    font: 500 20px/150px Lato;
}
.regular-radio+label {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font: 500 33px/200px Lato;
}
.red_hot a, .regular-radio+label, .save_radio+label, h2.frm-hrd {
    text-transform: uppercase;
}
.regular-radio:checked + label {
    background-color: #e9ecee !important;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1), inset 0 0 10px rgba(0, 0, 0, .1);
}

.green .regular-radio+label {
    background-color: red;
}
.green label, .red label {
    font: 500 20px/150px Lato;
}
.regular-radio+label {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font: 500 18px/142px Lato;
}
.red_hot a, .regular-radio+label, .save_radio+label, h2.frm-hrd {
    text-transform: uppercase;
}
label {
    width: 20%;
    font: 600 13px Lato;
    color: #5c5c5c;
}
.filter_value, label {
    float: left;
    text-align: left;
}
.m-top { margin-top: 20px;}

.red_hot .ticked::before {
    content: "\f00c";
    color: green;
}
.red_hot .crossed::before {
    content: "\f00d";
    color:red;
}
.red_hot .crossed::before, .red_hot .ticked::before {
    font-family: FontAwesome;
    right: 30px;
    font-size: 30px;
}
.alert {color: #f00;}
#cassette-description {clear: both;}
#addtional_description label.toto-label {
    width: 22%;
}
#addtional_description.histo-sec {
    display: inline-block;
    width: 100%;
}
#addtional_description.histo-sec label.histo-name {
    width: 5%;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=number], input[type=search], textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #999;
    padding: 8px;
    font-size: 12px!important;
}
#addtional_description.pcr-sec {
    display: inline-block;
    width: 100%;
    margin-top: 10px; margin-bottom: 10px;
}
#addtional_description.pcr-sec label.pcr-name {
    width: 5%;
}
