<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">

    <div id="primary" class="content-area col-md-12">
      <h1>Short Code Analytics</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="specimen_border flex-style">
          <div style="font-size: 20px; margin-top: -20px; margin-bottom: 10px;">Search and get Result</div>
          <div class="row">
            <div class="col-md-12 speciman_top">

              <div class="row ">
                <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                  <span class="analysis_right">Data Type:</span>
                  <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                  <span>Recent Data</span>
                </div>
                <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                  <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                  <span>Archive Data (2017-2018)</span>
                </div>
                <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                </app-field-error-display>
              </div>
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Report From Date:</label>
              <input type="text" class="" name="from_create_date" id="from_create_date" bsDatepicker
                [bsConfig]="datePickerConfig" placeholder="From Date" formControlName="from_date" />

            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Report To Date:</label>
              <input type="text" class="" name="to_create_date" id="to_create_date" bsDatepicker
                [bsConfig]="datePickerConfig" placeholder="To Date" formControlName="to_date" />
              <input type="checkbox" formControlName="report_genarate_date" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Report Generate Code:</label>
              <input type="text" name="report_code" id="report_code" value="" placeholder="Enter Report Code"
                formControlName="report_code">
              <input type="checkbox" formControlName="diagnostic_short_code" value="Diagnostic short code" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Physician Name:</label>

              <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
              <mat-form-field class="example-full-width">
                <input type="text" aria-label="Number" matInput formControlName="physician_name"
                  [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                    <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                      *ngFor="let group of option.names; let i = index" [value]="group">
                      {{group}}

                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
              <input class="physician-chkbox" type="checkbox" formControlName="physicianId" value="Physician" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Patient Gender:</label>
              <select name="sex" id="sex" formControlName="sex">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <input type="checkbox" formControlName="gender" value="Gender" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Patient Name:</label>
              <input type="text" name="patient_name" id="patient_name" value="" placeholder="Enter Patient Name"
                formControlName="patient_name">
              <input type="checkbox" formControlName="patientName" value="Patient Name" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Patient State:</label>
              <input type="text" name="state" id="state" value="" placeholder="Enter State" formControlName="state">
              <input type="checkbox" formControlName="patient_state" value="State Name" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Patient City:</label>
              <input type="text" name="city" id="city" value="" placeholder="Enter city" formControlName="city">
              <input type="checkbox" formControlName="patient_city" value="Patient Name" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Stain Code:</label>
              <input type="text" name="stain_code" id="stain_code" value="" placeholder="Enter Stain Code"
                formControlName="stain_code">
              <input type="checkbox" formControlName="stains" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label>Accessioning Number:</label>
              <input type="text" name="acc_num" id="acc_num" value="" placeholder="Enter Accessioning Number"
                formControlName="acc_no">
              <input type="checkbox" formControlName="accessioning_number" value="Accessioning Number" />
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label> Gross Dimension:&nbsp; <input name="gross_description" value="Gross dimension size"
                  type="checkbox" formControlName="gross_dimension"></label>
            </div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label> PCR Results:&nbsp; <input formControlName="pcr_test" type="checkbox"></label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label> Addendum:&nbsp; <input type="checkbox" value="Addendum" formControlName="addendum"></label>
            </div>

            <div class="col-md-6">
              <label class="koli">Patient Age:</label>
              <input style="width: 150px;" name="age_from" id="age_from" maxlength="3" value=""
                placeholder="Enter Age From" type="number" min="1" max="110" class="fields_in"
                formControlName="patient_age_from">
              To
              <input style="margin-right: 5px;width: 145px;" name="age_to" maxlength="3" id="age_to" value=""
                placeholder="Enter Age To" type="number" min="1" max="110" class="fields_in"
                formControlName="patient_age_to">
              <input type="checkbox" formControlName="patient_age" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 speciman_top specimen_bottom">
              <label> Internal Comments:&nbsp; <input type="checkbox" value="addn_comment" formControlName="addn_comment"></label>
            </div>
          </div>
          <span>&nbsp;</span>
          <div class="row">
            <div class="col-md-2 no_padding3 speciman_top">
              <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                  aria-hidden="true"></i> Search</button>
            </div>
            <div class="col-md-2 no_padding3 speciman_top">
              <a href="javascript:void(0);" class="reset_button" title="Reset" (click)="resetForm()"><i
                  class="fa fa-repeat"></i> Reset</a>
            </div>
            <div class="col-md-2 no_padding3 speciman_top">
              <input type="button" class="btn btn-blue exprt-btn" name="csv" value="Export" (click)="exportAsXLSX()">
            </div>
            <div class="col-md-12">
              <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
            </div>
          </div>
        </div>
      </form>

      <div class="table-container" *ngIf="msg">
        <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">
          <thead>
            <tr class="table_cls">
              <th width="8%">
                <mfDefaultSorter by="short_code">Diagnostic Shortcodes</mfDefaultSorter>
              </th>
              <th width="12%">
                <mfDefaultSorter by="assessioning_num">Accessioning No</mfDefaultSorter>
              </th>
              <th width="12%">
                <mfDefaultSorter by="physician_name">Physician Name</mfDefaultSorter>
              </th>
              <th width="12%">
                <mfDefaultSorter by="patient_name">Patient Name</mfDefaultSorter>
              </th>
              <th width="8%">
                <mfDefaultSorter by="patient_age">Patient Age</mfDefaultSorter>
              </th>
              <th width="10%">
                <mfDefaultSorter by="patient_state">State - City</mfDefaultSorter>
              </th>
              <th width="10%">
                <mfDefaultSorter by="report_create_date">Report Date</mfDefaultSorter>
              </th>
              <th width="12%">Gross Description</th>
              <th width="10%">PCR Result</th>
            </tr>
          </thead>

          <tbody id="display_pending_specimen_list">

            <tr id="specimen" *ngFor="let specimens of mf.data">
              <td valign="middle">
                <div>{{specimens.short_code}}</div>
              </td>
              <td valign="middle">
                <div id="status">{{specimens.assessioning_num}}</div>
              </td>
              <td valign="middle">
                {{specimens.physician_name}}
              </td>
              <td valign="middle">
                {{specimens.patient_name}}
              </td>
              <td valign="middle">
                {{specimens.patient_age}}
              </td>
              <td valign="middle">
                {{specimens.patient_state}}-{{specimens.patient_city}}
              </td>
              <td valign="middle">
                <div>{{specimens.report_create_date | date:"yyyy-MM-dd"}}</div>
              </td>
              <td valign="middle">
                {{specimens.gross_description}}
              </td>
              <td valign="middle">
                {{specimens.count_result}}

              </td>
            </tr>

            <tr *ngIf="no_row">
              <td colspan="9">No data Found!</td>
            </tr>

          </tbody>
          <tfoot>
            <tr class="table_cls">
              <th width="8%">Diagnostic Shortcodes</th>
              <th width="12%">Accessioning No.</th>
              <th width="12%">Physician Name</th>
              <th width="12%">Patient Name</th>
              <th width="8%">Patient Age</th>
              <th width="10%">State - City</th>
              <th width="10%">Report Date</th>
              <th width="12%">Gross Description</th>
              <th width="10%">PCR Result</th>
            </tr>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
            </td>
          </tfoot>
        </table>
      </div>
      <div class="col-md-6">
        <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span>{{postsArray.count}}</span>
        </div>
      </div>


    </div>
  </div>
</div>