<cm-navbar></cm-navbar>
<div class="content-wrap">
  <div class="container">
        <div id="primary" class="content-area col-md-12">
    <h1>Batch Delete</h1>
    <div class="row">
     <!-- <div class="col-md-3">
     
     <cm-pcr-left-menu></cm-pcr-left-menu>
     
     </div> -->
     <div class="col-md-12">
        <div class="table-container">
          <!-- <h4>Batch Delete</h4> -->
          <form action="" method="post">
              <div class="table-container">
                 <span class="batch-label" style="margin-left: 787px;"> Search By Batch Number:</span> <input style="float: right;" type="text" (keyup)='search($event.target.value)'>
                <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" style="width: 100%;">   
                  <thead>
                    <tr class="table_cls">
                    <th width="50%"><mfDefaultSorter by="batch_no">Batch Number</mfDefaultSorter></th>
                    <th width="50%"><mfDefaultSorter by="batch_no">Actions</mfDefaultSorter></th>
                    </tr>
                  </thead>               
                  <tbody id="specimens_list">         
                    <tr class="odd" *ngFor="let specimens of mf.data">                  
                      <td valign="middle">
                        <div>{{specimens.batch_no}}</div>
                      </td>
                      <td>
                      <div class="buttonList1">
                        <!-- <a href="javascript:void(0);" class="blue-btn" (click)="deleteBatchData(specimens.batch_no)"><i class="fa fa-eye"></i> Delete Batch</a>  -->

                        <button
                        class="btn btn-default"
                        mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="top"
                        (confirm)="deleteBatchData(specimens.batch_no,specimens.table)"
                        (cancel)="cancelClicked = true">
                        Delete Batch
                      </button>
                      </div>
                      </td>
                    </tr>     
                    <tr class="odd" *ngIf="no_data_status"><td colspan="5">{{no_data}}</td></tr>            
                  </tbody>
                  <tfoot>
                    <tr class="table_cls">
                    <th width="50%">Accessioning Number</th>
                    <th width="50%">Actions</th>
                    </tr>
                    <td colspan="7">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                    </td>  
                    
                  </tfoot>
                  </table>
                  <div class="col-md-6 pull-right"> <div class="show_physician_list"><strong>Showing Number of Specimen: </strong> <span> {{specimen_count}}</span></div></div>
                </div>
              </form>
        
        </div>
       </div>
      </div>
     </div>
   </div>
</div>