<cm-navbar></cm-navbar>
<div id="content" class="site-content">
  <div class="content-wrap">
    <div class="container">
      <div class="content-area col-md-4"></div>
      <div id="primary" class="content-area col-md-8">
        <h1>
          Quality Reports
        </h1>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="specimen_border">
            <div class="row">
              <div class="col-md-12 speciman_top">

                <div class="row ">
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <span class="analysis_right">Data Type:</span>
                    <input type="radio" id="male" formControlName="dataType" class="form-control2" value="general">
                    <span>Recent Data</span>
                  </div>
                  <div class="col-md-3 form-group" [ngClass]="displayFieldCss('dataType')">
                    <input type="radio" id="female" formControlName="dataType" class="form-control2" value="archive">
                    <span>Archive Data (2017-2018)</span>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('dataType')" errorMsg="Data type required.">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <label>
                  Physician Name:
                </label>
                <input type="hidden" formControlName="physician_id" class="form-control " id="physician_id">
                <mat-form-field class="example-full-width">
                  <input type="text" (keyup)="onEnter($event)" aria-label="Number" matInput formControlName="physician_name"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-optgroup *ngFor="let option of filteredOptions | async" label="Physician List">
                      <mat-option (onSelectionChange)="callSomeFunction(option.ids[i])"
                        *ngFor="let group of option.names; let i = index" [value]="group">
                        {{group}}

                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
                <div id="physician_chosen_error_msg" style=" color: red; display: block;">
                  <div *ngIf="searchForm.get('physician_id').errors?.required else elseBlock">
                    <app-field-error-display [displayError]="isFieldValid('physician_id')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </div>
                  <ng-template #elseBlock>
                    <app-field-error-display [displayError]="isFieldValid('physician_name')"
                      errorMsg="Physician required.">
                    </app-field-error-display>
                  </ng-template>
                </div>
              </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <div class="form-group" [ngClass]="displayFieldCss('from_date')">
                <label>
                  From Date:
                </label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                  placeholder="From Date" formControlName="from_date" />
                      <app-field-error-display [displayError]="isFieldValid('from_date')"
                        errorMsg="Form Date required.">
                      </app-field-error-display>

              </div>
                </div>
              <div class="col-md-4 speciman_top specimen_bottom">
                <div class="form-group" [ngClass]="displayFieldCss('to_date')">
                <label>
                  To Date:
                </label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" placeholder="To Date"
                  formControlName="to_date" />
                      <app-field-error-display [displayError]="isFieldValid('to_date')"
                        errorMsg="To Date required.">
                      </app-field-error-display>
                    </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-2 no_padding3">
                <button type="submit" class="btn reset_button" name="search_filter" id="submit"><i class="fa fa-search"
                    aria-hidden="true"></i> Search</button>
              </div>
              <div class="col-md-2">
                <a href="javascript:void(0);" class="reset_button" (click)="resetForm()"><i class="fa fa-repeat"></i>
                  Reset
                </a>
              </div>
              <div class="col-md-12">
                <span style="color:red; margin-top:10px; display: block;">{{_archiveNote}}</span>
              </div>
            </div>
          </div>
        </form>
        <div class="table-container" *ngIf="msg">
          <div id="from_specimen_date">
            <!-- <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
              <thead>
                <tr class="table_cls">
                  <th width="30%"><strong>Title </strong></th>
                  <th width="35%"><strong>Display Data</strong></th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>HISTO TAT</strong>
                 
                  </td>
                  <td valign="middle">
                    {{histo_data.histo_tat}} Days</td>
                
                </tr>
                <tr>
                  <td><strong>PCR TAT</strong>
                 
                  </td>
                  <td valign="middle">
                    <div>
                      {{pcr_data.pcr_tat}} Days</div>
                  </td>
                  
                </tr>
                <tr>
                  <td><strong>Diagnosis(%)</strong> </td>
                  
                  <td valign="middle">
                    <div><strong>Green:</strong> <span style="color:green;"> {{diagnostics.green}}% </span></div>
                    <div><strong>Red:</strong> <span style="color:red;"> {{diagnostics.red}}% </span></div>
                    <div><strong>Yellow:</strong> <span style="color:yellow;">{{diagnostics.yellow}}%</span></div>
                  </td>
                 
                </tr>
  
                <tr>
                  <td><strong>HISTO(+) & PCR(-) (%)</strong>
                    <br />   
                  </td>
                  <td valign="middle">
                    <div>
                      {{histo_pos_pcr_neg}}%</div>
                  </td>
                  
                </tr>
  

                <tr>
                  <td><strong>HISTO(-) & PCR(+) (%)</strong>
                    <br />          
                  </td>
                  <td valign="middle">
                    <div>
                      {{histo_neg_pcr_pos}}%</div>
                  </td>                  
                </tr>     
                <tr>
                  <td><strong>MRSA(+) (%)</strong>
                    <br />          
                  </td>
                  <td valign="middle">
                    <div>
                      {{mrsa_pos}}%</div>
                  </td>                  
                </tr>    
                <tr>
                  <td valign="middle">
                    <fusioncharts
                      [height]="height"
                      [type]="type"
                      [dataFormat]="dataFormat"
                      [dataSource]="dataSource"
                    >
                    </fusioncharts>
                  </td>                  
                </tr>         
              </tbody>
            </table> -->





            <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
              <!-- <thead>
                <tr class="table_cls">
                  <th width="30%"><strong>Title </strong></th>
                  <th width="35%"><strong>Display Data</strong></th>
                
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>
                    <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
                      <tr>
                        <td colspan="3"><strong>Total Average Turnaround</strong> </td>
                      </tr>
                        <tr>
                          <td>
                            <strong>HISTO</strong>
                          </td>
                          <td valign="middle">
                            {{histo_data.histo_tat}} Days</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>PCR</strong>
                          </td>
                          <td valign="middle">
                            {{pcr_data.pcr_tat}} Days</td>
                        </tr>
                    </table>
                    
                 
                  </td>
                  <td>
                    <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
                      <tr>
                        <td colspan="3"><strong>Diagnosis(%)</strong> </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Green</strong>
                        </td>
                        <td>
                          <strong>Red</strong>
                        </td>
                        <td>
                          <strong>Yellow</strong>
                        </td>
                      </tr>
                      <tr>
                        <td style="background:#daead3;">
                          <span> {{diagnostics.green}}% </span>
                        </td>
                        <td style="background:#f1cccc">
                          <span> {{diagnostics.red}}% </span>
                        </td>
                        <td style="background:#fdf2cb;">
                          <span> {{diagnostics.yellow}}% </span>
                        </td>
                      </tr>
                  </table>
                  </td>
                
                </tr>
                <tr>
                  <td colspan="2">
                    <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">
                      <tr>
                        <td colspan="4"><strong>PCR vs HISTO Concordance</strong> </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Concordance (%)</strong>
                        </td>
                        <td>
                          <strong>HISTO(+) & PCR(-) (%)</strong>
                        </td>
                        <td>
                          <strong>HISTO(-) & PCR(+) (%)</strong>
                        </td>
                        <td>
                          <strong>MRSA(+) (%)</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div>
                            {{concordance}}%
                          </div>
                        </td>
                        <td>
                          <div>
                            {{histo_pos_pcr_neg}}%
                          </div>
                        </td>
                        <td>
                          <div>
                            {{histo_neg_pcr_pos}}%
                          </div>
                        </td>
                        <td>
                          <div>
                            {{mrsa_pos}}%
                          </div>
                        </td>
                      </tr>
                  </table>

                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSource"
                  >
                  </fusioncharts>
                  </td>
                  <td align="center">
                    <fusioncharts
                    [width]="infcWidth"
                    [height]="infcHeight"
                    [type]="infcType"
                    [dataFormat]="infcDataFormat"
                    [dataSource]="infcDataSource"
                  >
                  </fusioncharts>
                  </td>
                </tr>    
                <tr>
                  <td align="center">
                    <fusioncharts
                      #volumeChart
                      [type]="timeSeriesType"
                      [width]="timeSeriesWidth"
                      [height]="timeSeriesHeight"
                      [dataSource]="timeSeriesDataSource"
                    >
                    </fusioncharts>
                </td>
                <td align="center">
                    <fusioncharts
                    #volumeChart2
                    [type]="timeSeriesType"
                    [width]="timeSeriesWidth"
                    [height]="timeSeriesHeight"
                    [dataSource]="timeSeriesDataSourceSec"
                    >
                    </fusioncharts>
                </td>
                </tr>  
                <tr>
                  <td>
                <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">    
                <tr>
                  <td>
                    <strong>All Accessioned</strong>
                  </td>
                  <td>
                    <strong>HISTO Accessioned</strong>
                  </td>
                  <td>
                    <strong>PCR Accessioned</strong>
                  </td>
                </tr>
                <tr>
                  <td style="background:#5d62b58c;">
                      <span>{{sum_accessioned_all_specimen}}</span>
                  </td>
                  <td style="background:#29c3be;">
                      <span>{{sum_accessioned_histo_specimen}}</span>
                  </td>
                  <td style="background:#f2726f;">
                      <span>{{sum_accessioned_pcr_specimen}}</span>
                  </td>
                </tr>
                </table>
                </td>
                <td>
                  <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">    
                  <tr>
                    <td>
                      <strong>All Reported</strong>
                    </td>
                    <td>
                      <strong>Histo Reported</strong>
                    </td>
                    <td>
                      <strong>PCR Reported</strong>
                    </td>
                  </tr>
                  <tr>
                    <td style="background:#5d62b58c;">
                        <span>{{sum_reported_all_specimen}}</span>
                    </td>
                    <td style="background:#29c3be;">
                        <span>{{sum_reported_histo_specimen}}</span>
                    </td>
                    <td style="background:#f2726f;">
                        <span>{{sum_reported_pcr_specimen}}</span>
                    </td>
                  </tr>
                  </table>
                  </td>
              </tr> 
                <tr>
                <td align="center" colspan="2">
                    <fusioncharts
                    #breakDownChart
                    [type]="timeSeriesType"
                    [width]="timeSeriesWidth"
                    [height]="timeSeriesHeight"
                    [dataSource]="timeSeriesDataSourceThird"
                    >
                    </fusioncharts>
                </td>
                </tr> 
                <tr>
                  <td colspan="2">
                <table class="table table-striped" cellspacing="0" width="100%" style="margin-top:20px;">    
                <tr>
                  <td>
                    <strong>Total Combination</strong>
                  </td>
                  <td>
                    <strong>Total PAS GMS FM</strong>
                  </td>
                  <td>
                    <strong>Total PAS GMS</strong>
                  </td>
                  <td>
                    <strong>Total PCR</strong>
                  </td>
                </tr>
                <tr>
                  <td style="background:#5d62b58c;">
                      <span>{{total_combination_specimen}}</span>
                  </td>
                  <td style="background:#29c3be;">
                      <span>{{total_pas_gms_fm_specimen}}</span>
                  </td>
                  <td style="background:#f2726f;">
                      <span>{{total_pas_gms_specimen}}</span>
                  </td>
                  <td style="background:#ffc533;">
                      <span>{{total_pcr_specimen}}</span>
                  </td>
                </tr>
                </table>
                </td>
              </tr> 
              </tbody>
            </table>
                       
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
